﻿@model IcosCoreExt.Models.ViewModels.GRP_TEAMViewModel

@{
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

@{
    ViewData["Title"] = "Add Team Member Workend";
}

<h1>Add Workend Team Member</h1>
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<div class="row">
    <div class="col-md-8">
        <form asp-action="AddWorkend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="TEAM_MEMBER_FIRSTNAME" class="col-sm-4 col-form-label <span>*</span>"></label>
                <input asp-for="TEAM_MEMBER_FIRSTNAME" class="form-control col-sm-5"  readonly="readonly"/>
                <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_FIRSTNAME'></span>
                <span asp-validation-for="TEAM_MEMBER_FIRSTNAME" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="TEAM_MEMBER_LASTNAME" class="col-sm-4 col-form-label <span>*</span>"></label>
                <input asp-for="TEAM_MEMBER_LASTNAME" class="form-control col-sm-5" readonly="readonly" />
                <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_LASTNAME'></span>
                <span asp-validation-for="TEAM_MEMBER_LASTNAME" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="TEAM_MEMBER_EMAIL" class="col-sm-4 col-form-label <span>*</span>"></label>
                <input asp-for="TEAM_MEMBER_EMAIL" class="form-control col-sm-5" readonly="readonly" />
                <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_EMAIL'></span>
                <span asp-validation-for="TEAM_MEMBER_EMAIL" class="text-danger col-sm-12"></span>
            </div><div class="form-group row">
                <label asp-for="TEAM_MEMBER_WORKEND" class="col-sm-4 col-form-label "></label>
                <input asp-for="TEAM_MEMBER_WORKEND" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_WORKEND'></span>
                <span asp-validation-for="TEAM_MEMBER_WORKEND" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Workend" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
