@model IcosCoreExt.Models.ViewModels.GRP_TEAMViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Create TEAM MEMBER</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_FIRSTNAME" class="col-sm-4 col-form-label required"></label>
        <input asp-for="TEAM_MEMBER_FIRSTNAME" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_FIRSTNAME'></span>
        <span asp-validation-for="TEAM_MEMBER_FIRSTNAME" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_LASTNAME" class="col-sm-4 col-form-label required"></label>
        <input asp-for="TEAM_MEMBER_LASTNAME" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_LASTNAME'></span>
        <span asp-validation-for="TEAM_MEMBER_LASTNAME" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_TITLE" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_TITLE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_TITLE'></span>
        <span asp-validation-for="TEAM_MEMBER_TITLE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_ROLE" class="col-sm-4 col-form-label "></label>
        <select asp-for="TEAM_MEMBER_ROLE" asp-items="@Model.Roles" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_ROLE'></span>
        <span asp-validation-for="TEAM_MEMBER_ROLE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_MAIN_EXPERT" class="col-sm-4 col-form-label "></label>
        <select asp-for="TEAM_MEMBER_MAIN_EXPERT" asp-items="@Model.Experts" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_MAIN_EXPERT'></span>
        <span asp-validation-for="TEAM_MEMBER_MAIN_EXPERT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_PERC_ICOS" class="col-sm-4 col-form-label "></label>
        <select asp-for="TEAM_MEMBER_PERC_ICOS" asp-items="@Model.Percs" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_PERC_ICOS'></span>
        <span asp-validation-for="TEAM_MEMBER_PERC_ICOS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_CONTRACT" class="col-sm-4 col-form-label "></label>
        <select asp-for="TEAM_MEMBER_CONTRACT" asp-items="@Model.Contracts" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_CONTRACT'></span>
        <span asp-validation-for="TEAM_MEMBER_CONTRACT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_EMAIL" class="col-sm-4 col-form-label required"></label>
        <input asp-for="TEAM_MEMBER_EMAIL" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_EMAIL'></span>
        <span asp-validation-for="TEAM_MEMBER_EMAIL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_ORCID" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_ORCID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_ORCID'></span>
        <span asp-validation-for="TEAM_MEMBER_ORCID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_SOCIALMEDIA" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_SOCIALMEDIA" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_SOCIALMEDIA'></span>
        <span asp-validation-for="TEAM_MEMBER_SOCIALMEDIA" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_PHONE" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_PHONE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_PHONE'></span>
        <span asp-validation-for="TEAM_MEMBER_PHONE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_INSTITUTION" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_INSTITUTION" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_INSTITUTION'></span>
        <span asp-validation-for="TEAM_MEMBER_INSTITUTION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_INST_STREET" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_INST_STREET" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_INST_STREET'></span>
        <span asp-validation-for="TEAM_MEMBER_INST_STREET" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_INST_POSTCODE" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_INST_POSTCODE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_INST_POSTCODE'></span>
        <span asp-validation-for="TEAM_MEMBER_INST_POSTCODE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_INST_CITY" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_INST_CITY" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_INST_CITY'></span>
        <span asp-validation-for="TEAM_MEMBER_INST_CITY" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_INST_COUNTRY" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_INST_COUNTRY" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_INST_COUNTRY'></span>
        <span asp-validation-for="TEAM_MEMBER_INST_COUNTRY" class="text-danger col-sm-12"></span>
    </div>
    @*<div class="form-group row">
        <label asp-for="TEAM_MEMBER_WORKEND" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_WORKEND" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_WORKEND'></span>
        <span asp-validation-for="TEAM_MEMBER_WORKEND" class="text-danger col-sm-12"></span>
    </div>*@
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_AUTHORDER" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_AUTHORDER" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_AUTHORDER'></span>
        <span asp-validation-for="TEAM_MEMBER_AUTHORDER" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="TEAM_MEMBER_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_COMMENT'></span>
        <span asp-validation-for="TEAM_MEMBER_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TEAM_MEMBER_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="TEAM_MEMBER_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTEAM_MEMBER_DATE'></span>
        <span asp-validation-for="TEAM_MEMBER_DATE" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
