@model IcosCoreExt.Models.ViewModels.GRP_TEAMViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>TEAM</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_FIRSTNAME)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_FIRSTNAME)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_LASTNAME)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_LASTNAME)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_TITLE)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_TITLE)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_ROLE)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_ROLE)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_MAIN_EXPERT)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_MAIN_EXPERT)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_PERC_ICOS)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_PERC_ICOS)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_CONTRACT)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_CONTRACT)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_EMAIL)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_EMAIL)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_ORCID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_ORCID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_SOCIALMEDIA)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_SOCIALMEDIA)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_PHONE)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_PHONE)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INSTITUTION)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_INSTITUTION)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_STREET)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_INST_STREET)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_POSTCODE)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_INST_POSTCODE)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_CITY)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_INST_CITY)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_COUNTRY)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_INST_COUNTRY)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_WORKEND)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_WORKEND)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_COMMENT)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_COMMENT)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_DATE)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_DATE)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_AUTHORDER)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TEAM_MEMBER_AUTHORDER)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataStatus)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>
