@model IcosCoreExt.Models.ViewModels.GRP_TEAMViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>TEAM MEMBER Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_FIRSTNAME)<span class='tooltipEl' id='tTEAM_MEMBER_FIRSTNAME'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_FIRSTNAME)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_LASTNAME)<span class='tooltipEl' id='tTEAM_MEMBER_LASTNAME'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_LASTNAME)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_TITLE)<span class='tooltipEl' id='tTEAM_MEMBER_TITLE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_TITLE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_ROLE)<span class='tooltipEl' id='tTEAM_MEMBER_ROLE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_ROLE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_MAIN_EXPERT)<span class='tooltipEl' id='tTEAM_MEMBER_MAIN_EXPERT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_MAIN_EXPERT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_PERC_ICOS)<span class='tooltipEl' id='tTEAM_MEMBER_PERC_ICOS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_PERC_ICOS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_CONTRACT)<span class='tooltipEl' id='tTEAM_MEMBER_CONTRACT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_CONTRACT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_EMAIL)<span class='tooltipEl' id='tTEAM_MEMBER_EMAIL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_EMAIL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_ORCID)<span class='tooltipEl' id='tTEAM_MEMBER_ORCID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_ORCID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_SOCIALMEDIA)<span class='tooltipEl' id='tTEAM_MEMBER_SOCIALMEDIA'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_SOCIALMEDIA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_PHONE)<span class='tooltipEl' id='tTEAM_MEMBER_PHONE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_PHONE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_INSTITUTION)<span class='tooltipEl' id='tTEAM_MEMBER_INSTITUTION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_INSTITUTION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_STREET)<span class='tooltipEl' id='tTEAM_MEMBER_INST_STREET'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_INST_STREET)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_POSTCODE)<span class='tooltipEl' id='tTEAM_MEMBER_INST_POSTCODE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_INST_POSTCODE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_CITY)<span class='tooltipEl' id='tTEAM_MEMBER_INST_CITY'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_INST_CITY)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_COUNTRY)<span class='tooltipEl' id='tTEAM_MEMBER_INST_COUNTRY'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_INST_COUNTRY)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_WORKEND)<span class='tooltipEl' id='tTEAM_MEMBER_WORKEND'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_WORKEND)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_AUTHORDER)<span class='tooltipEl' id='tTEAM_MEMBER_AUTHORDER'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_AUTHORDER)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_COMMENT)<span class='tooltipEl' id='tTEAM_MEMBER_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TEAM_MEMBER_DATE)<span class='tooltipEl' id='tTEAM_MEMBER_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.TEAM_MEMBER_DATE)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
