@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_TEAMViewModel>

@{
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")
<h1>Team Members</h1>
<p>
    <a asp-action="Create">Create New</a>
    <!-- DIEGO:: may be add a specific view for Adding Workend??? -->
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)</th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_FIRSTNAME)<span class='tooltipEl' id='tTEAM_MEMBER_FIRSTNAME'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_LASTNAME)<span class='tooltipEl' id='tTEAM_MEMBER_LASTNAME'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
        @Html.DisplayNameFor(model => model.TEAM_MEMBER_TITLE)<span class='tooltipEl' id='tTEAM_MEMBER_TITLE'> <i class='fas fa-question-circle' /></span></th>*@
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_ROLE)<span class='tooltipEl' id='tTEAM_MEMBER_ROLE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_MAIN_EXPERT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_PERC_ICOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_CONTRACT)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_EMAIL)<span class='tooltipEl' id='tTEAM_MEMBER_EMAIL'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_ORCID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_SOCIALMEDIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INSTITUTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_STREET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_POSTCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_CITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_INST_COUNTRY)
        </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_WORKEND)<span class='tooltipEl' id='tTEAM_MEMBER_WORKEND'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_COMMENT)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TEAM_MEMBER_DATE)<span class='tooltipEl' id='tTEAM_MEMBER_DATE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.TEAM_MEMBER_AUTHORDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataStatus)
        </th>*@

            <th width="85px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_FIRSTNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_LASTNAME)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_TITLE)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_ROLE)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_MAIN_EXPERT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_PERC_ICOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_CONTRACT)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_EMAIL)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_ORCID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_SOCIALMEDIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INSTITUTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INST_STREET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INST_POSTCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INST_CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_INST_COUNTRY)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_WORKEND)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_COMMENT)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TEAM_MEMBER_DATE)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.TEAM_MEMBER_AUTHORDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataStatus)
        </td>*@
        <td>
            @if (item.DataStatus == 0)
            {
                <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> <text> | </text>
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a>
            @if (item.TEAM_MEMBER_ROLE != "PI" && string.IsNullOrEmpty(item.TEAM_MEMBER_WORKEND))
            {<text> | </text><a asp-action="AddWorkend" asp-route-id="@item.Id">Add Workend</a>}
            }
        </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
