@model IcosCoreExt.Models.ViewModels.GRP_CEPTViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete Ceptometer</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.CEPT_ELADP)<span class='tooltipEl' id='tCEPT_ELADP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_ELADP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_ABSORP)<span class='tooltipEl' id='tCEPT_ABSORP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_ABSORP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_FIRST)<span class='tooltipEl' id='tCEPT_FIRST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_FIRST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_LAST)<span class='tooltipEl' id='tCEPT_LAST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_LAST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_COMMENT)<span class='tooltipEl' id='tCEPT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_DATE)<span class='tooltipEl' id='tCEPT_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
   