@model IcosCoreExt.Models.ViewModels.GRP_CEPTViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Ceptometer Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.CEPT_ELADP)<span class='tooltipEl' id='tCEPT_ELADP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_ELADP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_ABSORP)<span class='tooltipEl' id='tCEPT_ABSORP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_ABSORP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_FIRST)<span class='tooltipEl' id='tCEPT_FIRST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_FIRST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_LAST)<span class='tooltipEl' id='tCEPT_LAST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_LAST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_COMMENT)<span class='tooltipEl' id='tCEPT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.CEPT_DATE)<span class='tooltipEl' id='tCEPT_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.CEPT_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
