@model IcosCoreExt.Models.ViewModels.GRP_CEPTViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Edit Ceptometer</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
<label asp-for="CEPT_ELADP" class="col-sm-4 col-form-label "></label>
<input asp-for="CEPT_ELADP" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tCEPT_ELADP'></span>
<span asp-validation-for="CEPT_ELADP" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="CEPT_ABSORP" class="col-sm-4 col-form-label "></label>
<input asp-for="CEPT_ABSORP" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tCEPT_ABSORP'></span>
<span asp-validation-for="CEPT_ABSORP" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="CEPT_FIRST" class="col-sm-4 col-form-label "></label>
<input asp-for="CEPT_FIRST" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tCEPT_FIRST'></span>
<span asp-validation-for="CEPT_FIRST" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="CEPT_LAST" class="col-sm-4 col-form-label "></label>
<input asp-for="CEPT_LAST" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tCEPT_LAST'></span>
<span asp-validation-for="CEPT_LAST" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="CEPT_COMMENT" class="col-sm-4 col-form-label "></label>
<input asp-for="CEPT_COMMENT" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tCEPT_COMMENT'></span>
<span asp-validation-for="CEPT_COMMENT" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="CEPT_DATE" class="col-sm-4 col-form-label required"></label>
<input asp-for="CEPT_DATE" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tCEPT_DATE'></span>
<span asp-validation-for="CEPT_DATE" class="text-danger col-sm-12"></span>
</div>
 
    <input type="hidden" asp-for="Id" />            
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

