@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_CEPTViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Ceptometer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.CEPT_ELADP)<span class='tooltipEl' id='tCEPT_ELADP'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.CEPT_ABSORP)<span class='tooltipEl' id='tCEPT_ABSORP'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.CEPT_FIRST)<span class='tooltipEl' id='tCEPT_FIRST'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.CEPT_LAST)<span class='tooltipEl' id='tCEPT_LAST'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.CEPT_COMMENT)<span class='tooltipEl' id='tCEPT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.CEPT_DATE)<span class='tooltipEl' id='tCEPT_DATE'> <i class='fas fa-question-circle' /></span></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
        
            <td>@Html.DisplayFor(modelItem => item.Id)</td>         
<td>@Html.DisplayFor(modelItem => item.CEPT_ELADP)</td>
<td>@Html.DisplayFor(modelItem => item.CEPT_ABSORP)</td>
<td>@Html.DisplayFor(modelItem => item.CEPT_FIRST)</td>
<td>@Html.DisplayFor(modelItem => item.CEPT_LAST)</td>
<td>@Html.DisplayFor(modelItem => item.CEPT_COMMENT)</td>
<td>@Html.DisplayFor(modelItem => item.CEPT_DATE)</td>

        
            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a> <text>|</text> 
                 <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
