@model IcosCoreExt.Models.ViewModels.GRP_INSTPAIRViewModel 
@{ ViewData["Title"] = "Create"; Layout = "~/Views/Shared/_LayoutICOS.cshtml"; var cc = 0; if (ViewData["sent"] != null) { cc = 1; } }

<h1>Create INSTrument PAIR</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_MODEL_1" class="col-sm-5 col-form-label required"></label>
                <select asp-for="INSTPAIR_MODEL_1"  class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_MODEL_1'></span>
                <span asp-validation-for="INSTPAIR_MODEL_1" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_SN_1" class="col-sm-5 col-form-label required"></label>
                <select asp-for="INSTPAIR_SN_1" class="form-control col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_SN_1'></span>
                <span asp-validation-for="INSTPAIR_SN_1" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_MODEL_2" class="col-sm-5 col-form-label required"></label>
                <select asp-for="INSTPAIR_MODEL_2"  class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_MODEL_2'></span>
                <span asp-validation-for="INSTPAIR_MODEL_2" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_SN_2" class="col-sm-5 col-form-label required"></label>
                <select asp-for="INSTPAIR_SN_2" class="form-control col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_SN_2'></span>
                <span asp-validation-for="INSTPAIR_SN_2" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_HEIGHT_SEP" class="col-sm-5 col-form-label required"></label>
                <input asp-for="INSTPAIR_HEIGHT_SEP" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_HEIGHT_SEP'></span>
                <span asp-validation-for="INSTPAIR_HEIGHT_SEP" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_EASTWARD_SEP" class="col-sm-5 col-form-label required"></label>
                <input asp-for="INSTPAIR_EASTWARD_SEP" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_EASTWARD_SEP'></span>
                <span asp-validation-for="INSTPAIR_EASTWARD_SEP" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_NORTHWARD_SEP" class="col-sm-5 col-form-label required"></label>
                <input asp-for="INSTPAIR_NORTHWARD_SEP" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_NORTHWARD_SEP'></span>
                <span asp-validation-for="INSTPAIR_NORTHWARD_SEP" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_DATE" class="col-sm-5 col-form-label required"></label>
                <input asp-for="INSTPAIR_DATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_DATE'></span>
                <span asp-validation-for="INSTPAIR_DATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_DATE_UNC" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTPAIR_DATE_UNC" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_DATE_UNC'></span>
                <span asp-validation-for="INSTPAIR_DATE_UNC" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INSTPAIR_COMMENT" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTPAIR_COMMENT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTPAIR_COMMENT'></span>
                <span asp-validation-for="INSTPAIR_COMMENT" class="text-danger col-sm-12"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
<script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css" />
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<script>
    let varList = [];
    let selectList = {};
    let loaded = @cc;

    let availableInstPairSensors = [];
    let opList = [];

    $(document).ready(function () {
    //DIEGO:::
    //to get from select sites list
    var params = { siteId: $('#Id_site option:selected').val() };
    $.when(

        $.ajax({ //third Request
            url: '/api/uifacilities/getavailableinstpairinst',
            contentType: "application/json",
            dataType: "json",
            data: (params),
            success: function (avresp) {

                availableInstPairSensors = avresp.slice();
                if (availableInstPairSensors.length === 0) {
                    alert("No InstMan sensors available. Please insert instrument in GRP_INST group first");
                }
                console.log("Av Bm " + availableInstPairSensors);
            },
            failure: function (response) {
                //handle the error
                alert("Error in retrieving GRP_INSTPAIR operation data. Please try again");
            }
        })

    ).then(function () {
        $.each(availableInstPairSensors, function (i, item) {
            $('#INSTPAIR_MODEL_1').append($('<option>', {
                value: item.model,
                text: item.model
            }));

            $('#INSTPAIR_SN_1').append($('<option>', {
                value: item.sn,
                text: item.sn
            }));

            $('#INSTPAIR_MODEL_2').append($('<option>', {
                value: item.model,
                text: item.model
            }));

            $('#INSTPAIR_SN_2').append($('<option>', {
                value: item.sn,
                text: item.sn
            }));
        });

        if (loaded === 0) {

        }

        else {
            $("#INSTPAIR_MODEL_1").val('@Model.INSTPAIR_MODEL_1');
            $("#INSTPAIR_SN_1").val('@Model.INSTPAIR_SN_1');
            $("#INSTPAIR_MODEL_2").val('@Model.INSTPAIR_MODEL_2');
            $("#INSTPAIR_SN_2").val('@Model.INSTPAIR_SN_2');
            //ModelSnManager($("#INSTMAN_MODEL option:selected").index() - 1);

        }

    });

    });

    $("#INSTPAIR_MODEL_1").on("change", function (e) {

        if (this.selectedIndex == 0) {
            $("#INSTPAIR_SN_1").val('');
        }
        else {
            $("#INSTPAIR_SN_1").val(availableInstPairSensors[this.selectedIndex - 1].sn);
        }

        //ModelSnManager(this.selectedIndex - 1);
        //hideItems();
    });

    $("#INSTPAIR_SN_1").on("change", function (e) {

        if (this.selectedIndex == 0) {
            $("#INSTPAIR_MODEL_1").val('');
        }
        else {
            $("#INSTPAIR_MODEL_1").val(availableInstPairSensors[this.selectedIndex - 1].model);
        }
        //ModelSnManager(this.selectedIndex - 1);
        //hideItems();
    });

    $("#INSTPAIR_MODEL_2").on("change", function (e) {

        if (this.selectedIndex == 0) {
            $("#INSTPAIR_SN_2").val('');
        }
        else {
            $("#INSTPAIR_SN_2").val(availableInstPairSensors[this.selectedIndex - 1].sn);
        }

        //ModelSnManager(this.selectedIndex - 1);
        //hideItems();
    });

    $("#INSTPAIR_SN_2").on("change", function (e) {

        if (this.selectedIndex == 0) {
            $("#INSTPAIR_MODEL_2").val('');
        }
        else {
            $("#INSTPAIR_MODEL_2").val(availableInstPairSensors[this.selectedIndex - 1].model);
        }
        //ModelSnManager(this.selectedIndex - 1);
        //hideItems();
    });
</script>
}
