@model IcosCoreExt.Models.ViewModels.GRP_INSTPAIRViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>INSTRUMENT PAIR Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_MODEL_1)<span class='tooltipEl' id='tINSTPAIR_MODEL_1'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_MODEL_1)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_SN_1)<span class='tooltipEl' id='tINSTPAIR_SN_1'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_SN_1)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_MODEL_2)<span class='tooltipEl' id='tINSTPAIR_MODEL_2'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_MODEL_2)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_SN_2)<span class='tooltipEl' id='tINSTPAIR_SN_2'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_SN_2)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_HEIGHT_SEP)<span class='tooltipEl' id='tINSTPAIR_HEIGHT_SEP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_HEIGHT_SEP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_EASTWARD_SEP)<span class='tooltipEl' id='tINSTPAIR_EASTWARD_SEP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_EASTWARD_SEP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_NORTHWARD_SEP)<span class='tooltipEl' id='tINSTPAIR_NORTHWARD_SEP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_NORTHWARD_SEP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_DATE)<span class='tooltipEl' id='tINSTPAIR_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_DATE_UNC)<span class='tooltipEl' id='tINSTPAIR_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_DATE_UNC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTPAIR_COMMENT)<span class='tooltipEl' id='tINSTPAIR_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTPAIR_COMMENT)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @*@if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}*@
    <a asp-action="Index">Back to List</a>
</div>
