@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_INSTPAIRViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Instrument Pair</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.INSTPAIR_MODEL_1)<span class='tooltipEl' id='tINSTPAIR_MODEL_1'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.INSTPAIR_SN_1)<span class='tooltipEl' id='tINSTPAIR_SN_1'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.INSTPAIR_MODEL_2)<span class='tooltipEl' id='tINSTPAIR_MODEL_2'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.INSTPAIR_SN_2)<span class='tooltipEl' id='tINSTPAIR_SN_2'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.INSTPAIR_HEIGHT_SEP)<span class='tooltipEl' id='tINSTPAIR_HEIGHT_SEP'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.INSTPAIR_EASTWARD_SEP)<span class='tooltipEl' id='tINSTPAIR_EASTWARD_SEP'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.INSTPAIR_NORTHWARD_SEP)<span class='tooltipEl' id='tINSTPAIR_NORTHWARD_SEP'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.INSTPAIR_DATE)<span class='tooltipEl' id='tINSTPAIR_DATE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.INSTPAIR_DATE_UNC)<span class='tooltipEl' id='tINSTPAIR_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.INSTPAIR_COMMENT)<span class='tooltipEl' id='tINSTPAIR_COMMENT'> <i class='fas fa-question-circle' /></span></th>

            <th ></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.INSTPAIR_MODEL_1)</td>
                <td>@Html.DisplayFor(modelItem => item.INSTPAIR_SN_1)</td>
                <td>@Html.DisplayFor(modelItem => item.INSTPAIR_MODEL_2)</td>
                <td>@Html.DisplayFor(modelItem => item.INSTPAIR_SN_2)</td>
                <td>@Html.DisplayFor(modelItem => item.INSTPAIR_HEIGHT_SEP)</td>
                @*<td>@Html.DisplayFor(modelItem => item.INSTPAIR_EASTWARD_SEP)</td>
                    <td>@Html.DisplayFor(modelItem => item.INSTPAIR_NORTHWARD_SEP)</td>*@
                <td>@Html.DisplayFor(modelItem => item.INSTPAIR_DATE)</td>
                @*<td>@Html.DisplayFor(modelItem => item.INSTPAIR_DATE_UNC)</td>*@
                <td>@Html.DisplayFor(modelItem => item.INSTPAIR_COMMENT)</td>


                <td>
                    @if (item.DataStatus == 0)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> @*<text>|</text>*@
                    }
                </td>
            </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
