@model IcosCoreExt.Models.ViewModels.GRP_WTDPNTViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create WATER TABLE DEPTH</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="WTDPNT_PLOT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="WTDPNT_PLOT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_PLOT'></span>
        <span asp-validation-for="WTDPNT_PLOT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT_EASTWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="WTDPNT_EASTWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_EASTWARD_DIST'></span>
        <span asp-validation-for="WTDPNT_EASTWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT_NORTHWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="WTDPNT_NORTHWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_NORTHWARD_DIST'></span>
        <span asp-validation-for="WTDPNT_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT_DISTANCE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="WTDPNT_DISTANCE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_DISTANCE_POLAR'></span>
        <span asp-validation-for="WTDPNT_DISTANCE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT_ANGLE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="WTDPNT_ANGLE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_ANGLE_POLAR'></span>
        <span asp-validation-for="WTDPNT_ANGLE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT_WELL_DEPTH" class="col-sm-4 col-form-label "></label>
        <input asp-for="WTDPNT_WELL_DEPTH" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_WELL_DEPTH'></span>
        <span asp-validation-for="WTDPNT_WELL_DEPTH" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT_VARMAP" class="col-sm-4 col-form-label "></label>
        <input asp-for="WTDPNT_VARMAP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_VARMAP'></span>
        <span asp-validation-for="WTDPNT_VARMAP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="WTDPNT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT'></span>
        <span asp-validation-for="WTDPNT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="WTDPNT_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_COMMENT'></span>
        <span asp-validation-for="WTDPNT_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="WTDPNT_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="WTDPNT_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tWTDPNT_DATE'></span>
        <span asp-validation-for="WTDPNT_DATE" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<script src="~/js/scripts/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">
<script type="text/javascript">
    $('#WTDPNT_PLOT').autocomplete({
        serviceUrl: '/api/SearchPlot/searchcpspi',
        params: { 'siteID': $('#Id_site option:selected').val() },
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });
</script>
