@model IcosCoreExt.Models.ViewModels.GRP_WTDPNTViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>WATER TABLE DEPTH Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_PLOT)<span class='tooltipEl' id='tWTDPNT_PLOT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_PLOT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_EASTWARD_DIST)<span class='tooltipEl' id='tWTDPNT_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_EASTWARD_DIST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_NORTHWARD_DIST)<span class='tooltipEl' id='tWTDPNT_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_NORTHWARD_DIST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_DISTANCE_POLAR)<span class='tooltipEl' id='tWTDPNT_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_DISTANCE_POLAR)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_ANGLE_POLAR)<span class='tooltipEl' id='tWTDPNT_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_ANGLE_POLAR)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_WELL_DEPTH)<span class='tooltipEl' id='tWTDPNT_WELL_DEPTH'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_WELL_DEPTH)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_VARMAP)<span class='tooltipEl' id='tWTDPNT_VARMAP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_VARMAP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT)<span class='tooltipEl' id='tWTDPNT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_COMMENT)<span class='tooltipEl' id='tWTDPNT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.WTDPNT_DATE)<span class='tooltipEl' id='tWTDPNT_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.WTDPNT_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
