@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_WTDPNTViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>WATER TABLE DEPTH</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.WTDPNT_PLOT)<span class='tooltipEl' id='tWTDPNT_PLOT'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.WTDPNT_EASTWARD_DIST)<span class='tooltipEl' id='tWTDPNT_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.WTDPNT_NORTHWARD_DIST)<span class='tooltipEl' id='tWTDPNT_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.WTDPNT_DISTANCE_POLAR)<span class='tooltipEl' id='tWTDPNT_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.WTDPNT_ANGLE_POLAR)<span class='tooltipEl' id='tWTDPNT_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.WTDPNT_WELL_DEPTH)<span class='tooltipEl' id='tWTDPNT_WELL_DEPTH'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.WTDPNT_VARMAP)<span class='tooltipEl' id='tWTDPNT_VARMAP'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.WTDPNT)<span class='tooltipEl' id='tWTDPNT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.WTDPNT_COMMENT)<span class='tooltipEl' id='tWTDPNT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.WTDPNT_DATE)<span class='tooltipEl' id='tWTDPNT_DATE'> <i class='fas fa-question-circle' /></span></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.WTDPNT_PLOT)</td>
                @*<td>@Html.DisplayFor(modelItem => item.WTDPNT_EASTWARD_DIST)</td>
                <td>@Html.DisplayFor(modelItem => item.WTDPNT_NORTHWARD_DIST)</td>
                <td>@Html.DisplayFor(modelItem => item.WTDPNT_DISTANCE_POLAR)</td>
                <td>@Html.DisplayFor(modelItem => item.WTDPNT_ANGLE_POLAR)</td>*@
                <td>@Html.DisplayFor(modelItem => item.WTDPNT_WELL_DEPTH)</td>
                <td>@Html.DisplayFor(modelItem => item.WTDPNT_VARMAP)</td>
                <td>@Html.DisplayFor(modelItem => item.WTDPNT)</td>
                <td>@Html.DisplayFor(modelItem => item.WTDPNT_COMMENT)</td>
                <td>@Html.DisplayFor(modelItem => item.WTDPNT_DATE)</td>


                <td>
                    @if (item.DataStatus == 0)
                    {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                    <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
                </td>
            </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
