﻿
@{
    ViewData["Title"] = "Index";
}

<h1>BADM Online System</h1>
<div class="row">
    <div class="col-md-12">
        <p>
            This online tool allow to check, correct and add ancillary data, metadata and all other information that are collected and stored using the BADM system. At the moment it is under development and allow the access to a limited number of variables that however will be increased continuously.
            Once you changed or added data remember to save the changes. For any question about the BADM system, the variables and the tool please don’t hesitate to contact us.
        </p>
        <p>Please select one of following variable group to edit or insert data:</p>
    </div>
</div>
<partial name="_BADMMenuPartial" />
