﻿@using IdentitySample.Models.AccountViewModels
@using Microsoft.AspNetCore.Identity;
@using IdentitySample.Models; 
@model ForgotPasswordViewModel
@{ ViewData["Title"] = "Forgot your password?"; }

<h1>@ViewData["Title"].</h1>
@*<p>
    For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>*@
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
                <h4>Enter your email.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    
</div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
