﻿@* @model ICOSCoreNew.Models.Entities.LoginModel *@

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<hgroup class="title">
    <h1>Log In</h1>
</hgroup>

<section id="loginForm">
    @* using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) *@
    @using(Html.BeginForm("checklogin","account" ))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="form-group">
            @*  @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)*@
        </div>
        <div class="form-group">
            @* @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password) *@
        </div>

        <input type="submit" value="Log in" class="button rounded fill-highlight" />
        <p>@Html.ActionLink("Password forgotten?", "ResetPassword", "Account")</p>

    }
</section>