﻿@using IdentitySample.Models.AccountViewModels
@using Microsoft.AspNetCore.Identity;
@using IdentitySample.Models; 

@model SendCodeViewModel
@{ ViewData["Title"] = "Send Verification Code"; }

<h1>@ViewData["Title"].</h1>

<form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" role="form">
    <input asp-for="RememberMe" type="hidden" />
    <div class="row">
        <div class="col-md-8">
            Select Two-Factor Authentication Provider:
            <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
