@model IcosCoreExt.Models.ViewModels.GRP_BULKHViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script src="~/js/scripts/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">

<h1>Create BULK HEIGHT</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="BULKH_PLOT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="BULKH_PLOT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tBULKH_PLOT'></span>
        <span asp-validation-for="BULKH_PLOT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="BULKH_PLOT_TYPE" class="col-sm-4 col-form-label required"></label>
        <select asp-for="BULKH_PLOT_TYPE" asp-items="@Model.BULKH_PLOT_TYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tBULKH_PLOT_TYPE'></span>
        <span asp-validation-for="BULKH_PLOT_TYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="BULKH" class="col-sm-4 col-form-label required"></label>
        <input asp-for="BULKH" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tBULKH'></span>
        <span asp-validation-for="BULKH" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="BULKH_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="BULKH_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tBULKH_COMMENT'></span>
        <span asp-validation-for="BULKH_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="BULKH_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="BULKH_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tBULKH_DATE'></span>
        <span asp-validation-for="BULKH_DATE" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    let prevSelection = '';


    $('#BULKH_PLOT').autocomplete({
        serviceUrl: '/api/SearchPlot/search',
        params: { 'siteID': $('#Id_site option:selected').val()},
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });

</script>