@model IcosCoreExt.Models.ViewModels.GRP_BULKHViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete BULK HEIGHT</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.BULKH_PLOT)<span class='tooltipEl' id='tBULKH_PLOT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH_PLOT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.BULKH_PLOT_TYPE)<span class='tooltipEl' id='tBULKH_PLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH_PLOT_TYPE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.BULKH)<span class='tooltipEl' id='tBULKH'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.BULKH_COMMENT)<span class='tooltipEl' id='tBULKH_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.BULKH_DATE)<span class='tooltipEl' id='tBULKH_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
   