@model IcosCoreExt.Models.ViewModels.GRP_BULKHViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>BULK HEIGHT Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.BULKH_PLOT)<span class='tooltipEl' id='tBULKH_PLOT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH_PLOT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.BULKH_PLOT_TYPE)<span class='tooltipEl' id='tBULKH_PLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH_PLOT_TYPE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.BULKH)<span class='tooltipEl' id='tBULKH'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.BULKH_COMMENT)<span class='tooltipEl' id='tBULKH_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.BULKH_DATE)<span class='tooltipEl' id='tBULKH_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.BULKH_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
