@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_BULKHViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Bulk Height</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>@Html.DisplayNameFor(model => model.BULKH_PLOT)<span class='tooltipEl' id='tBULKH_PLOT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BULKH_PLOT_TYPE)<span class='tooltipEl' id='tBULKH_PLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BULKH)<span class='tooltipEl' id='tBULKH'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BULKH_COMMENT)<span class='tooltipEl' id='tBULKH_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BULKH_DATE)<span class='tooltipEl' id='tBULKH_DATE'> <i class='fas fa-question-circle' /></span></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.BULKH_PLOT)</td>
            <td>@Html.DisplayFor(modelItem => item.BULKH_PLOT_TYPE)</td>
            <td>@Html.DisplayFor(modelItem => item.BULKH)</td>
            <td>@Html.DisplayFor(modelItem => item.BULKH_COMMENT)</td>
            <td>@Html.DisplayFor(modelItem => item.BULKH_DATE)</td>


            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a> <text>|</text>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
