@model IcosCoreExt.Models.ViewModels.GRP_UTC_OFFSETViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Create UTC OFFSET</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="UTC_OFFSET" class="col-sm-4 col-form-label "></label>
        <input asp-for="UTC_OFFSET" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tUTC_OFFSET'></span>
        <span asp-validation-for="UTC_OFFSET" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="UTC_OFFSET_DATE_START" class="col-sm-4 col-form-label "></label>
        <input asp-for="UTC_OFFSET_DATE_START" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tUTC_OFFSET_DATE_START'></span>
        <span asp-validation-for="UTC_OFFSET_DATE_START" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="UTC_OFFSET_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="UTC_OFFSET_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tUTC_OFFSET_COMMENT'></span>
        <span asp-validation-for="UTC_OFFSET_COMMENT" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}