@model IcosCoreExt.Models.ViewModels.GRP_UTC_OFFSETViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete UTC OFFSET</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UTC_OFFSET)<span class='tooltipEl' id='tUTC_OFFSET'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.UTC_OFFSET)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UTC_OFFSET_DATE_START)<span class='tooltipEl' id='tUTC_OFFSET_DATE_START'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.UTC_OFFSET_DATE_START)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UTC_OFFSET_COMMENT)<span class='tooltipEl' id='tUTC_OFFSET_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.UTC_OFFSET_COMMENT)</td>
            </tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
