@model IcosCoreExt.Models.ViewModels.GRP_UTC_OFFSETViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>UTC OFFSET Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UTC_OFFSET)<span class='tooltipEl' id='tUTC_OFFSET'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.UTC_OFFSET)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UTC_OFFSET_DATE_START)<span class='tooltipEl' id='tUTC_OFFSET_DATE_START'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.UTC_OFFSET_DATE_START)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UTC_OFFSET_COMMENT)<span class='tooltipEl' id='tUTC_OFFSET_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.UTC_OFFSET_COMMENT)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
</div>
