@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_UTC_OFFSETViewModel>

@{
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<h1>UTC Offset</h1>
<div class="container">
    @await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table id="dataTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UTC_OFFSET)<span class='tooltipEl' id='tUTC_OFFSET'> <i class='fas fa-question-circle' /></span></th>
                <th>
                    @Html.DisplayNameFor(model => model.UTC_OFFSET_DATE_START)<span class='tooltipEl' id='tUTC_OFFSET_DATE_START'> <i class='fas fa-question-circle' /></span></th>
                <th>
                    @Html.DisplayNameFor(model => model.UTC_OFFSET_COMMENT)<span class='tooltipEl' id='tUTC_OFFSET_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr @if (item.DataStatus != 0) {<text> class="invalidRow" </text>}>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UTC_OFFSET)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UTC_OFFSET_DATE_START)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UTC_OFFSET_COMMENT)
                </td>
                <td>
                    @if (item.DataStatus == 0)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> @:|
                        <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a> @:|
                        <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
</div>