@model IcosCoreExt.Models.ViewModels.GRP_ECWEXCLViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create Eddy Covariance Wind Exclusion</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="ECWEXCL" class="col-sm-4 col-form-label required"></label>
        <input asp-for="ECWEXCL" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECWEXCL'></span>
        <span asp-validation-for="ECWEXCL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECWEXCL_RANGE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="ECWEXCL_RANGE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECWEXCL_RANGE'></span>
        <span asp-validation-for="ECWEXCL_RANGE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECWEXCL_ACTION" class="col-sm-4 col-form-label required"></label>
        <select asp-for="ECWEXCL_ACTION" asp-items="@Model.ECWEXCL_ACTIONTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tECWEXCL_ACTION'></span>
        <span asp-validation-for="ECWEXCL_ACTION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECWEXCL_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="ECWEXCL_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECWEXCL_DATE'></span>
        <span asp-validation-for="ECWEXCL_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECWEXCL_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="ECWEXCL_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECWEXCL_COMMENT'></span>
        <span asp-validation-for="ECWEXCL_COMMENT" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
