@model IcosCoreExt.Models.ViewModels.GRP_ECWEXCLViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Eddy Covariance Wind Exclusion Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECWEXCL)<span class='tooltipEl' id='tECWEXCL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECWEXCL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECWEXCL_RANGE)<span class='tooltipEl' id='tECWEXCL_RANGE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECWEXCL_RANGE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECWEXCL_ACTION)<span class='tooltipEl' id='tECWEXCL_ACTION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECWEXCL_ACTION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECWEXCL_DATE)<span class='tooltipEl' id='tECWEXCL_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECWEXCL_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECWEXCL_COMMENT)<span class='tooltipEl' id='tECWEXCL_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECWEXCL_COMMENT)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
</div>
