@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_ECWEXCLViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Eddy Covariance Wind Exclusion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.ECWEXCL)<span class='tooltipEl' id='tECWEXCL'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.ECWEXCL_RANGE)<span class='tooltipEl' id='tECWEXCL_RANGE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.ECWEXCL_ACTION)<span class='tooltipEl' id='tECWEXCL_ACTION'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.ECWEXCL_DATE)<span class='tooltipEl' id='tECWEXCL_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.ECWEXCL_COMMENT)<span class='tooltipEl' id='tECWEXCL_COMMENT'> <i class='fas fa-question-circle' /></span></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
        
            <td>@Html.DisplayFor(modelItem => item.Id)</td>         
            <td>@Html.DisplayFor(modelItem => item.ECWEXCL)</td>
            <td>@Html.DisplayFor(modelItem => item.ECWEXCL_RANGE)</td>
            <td>@Html.DisplayFor(modelItem => item.ECWEXCL_ACTION)</td>
            <td>@Html.DisplayFor(modelItem => item.ECWEXCL_DATE)</td>
            <td>@Html.DisplayFor(modelItem => item.ECWEXCL_COMMENT)</td>

        
            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a> <text>|</text> 
                 <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
