@model IcosCoreExt.Models.ViewModels.GRP_BMViewModel

@{
    ViewData["Title"] = "Create";

    var cc = 0;
    var isModel = !String.IsNullOrEmpty(Model.BM_MODEL);
    if (isModel || ViewData["sent"] != null)
    {
        cc = 1;
    }

}

<h1>Create Meteo Measurement</h1>
<div class="row">
    <div class="col-md-8" id="ui-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row ">
                <label asp-for="BM_MODEL" class="col-sm-4 col-form-label required"></label>
                <select asp-for="BM_MODEL" class="form-control  col-sm-5" readonly="@isModel">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tBM_MODEL'></span>
                <span asp-validation-for="BM_MODEL" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="BM_SN" class="col-sm-4 col-form-label required"></label>
                <select asp-for="BM_SN" class="form-control col-sm-5" readonly="@isModel">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tBM_SN'></span>
                <span asp-validation-for="BM_SN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="BM_TYPE" class="col-sm-4 col-form-label required"></label>
                <select asp-for="BM_TYPE" asp-items="@Model.BM_TYPETypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tBM_TYPE'></span>
                <span asp-validation-for="BM_TYPE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_VARIABLE_H_V_R" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_VARIABLE_H_V_R" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_VARIABLE_H_V_R'></span>
                <span asp-validation-for="BM_VARIABLE_H_V_R" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_HEIGHT" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_HEIGHT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_HEIGHT'></span>
                <span asp-validation-for="BM_HEIGHT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_EASTWARD_DIST" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_EASTWARD_DIST" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_EASTWARD_DIST'></span>
                <span asp-validation-for="BM_EASTWARD_DIST" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_NORTHWARD_DIST" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_NORTHWARD_DIST" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_NORTHWARD_DIST'></span>
                <span asp-validation-for="BM_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_SAMPLING_INT" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_SAMPLING_INT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_SAMPLING_INT'></span>
                <span asp-validation-for="BM_SAMPLING_INT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_INST_HEAT" class="col-sm-4 col-form-label "></label>
                <select asp-for="BM_INST_HEAT" asp-items="@Model.BM_INST_HEATTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tBM_INST_HEAT'></span>
                <span asp-validation-for="BM_INST_HEAT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_INST_SHIELDING" class="col-sm-4 col-form-label "></label>
                <select asp-for="BM_INST_SHIELDING" asp-items="@Model.BM_INST_SHIELDINGTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tBM_INST_SHIELDING'></span>
                <span asp-validation-for="BM_INST_SHIELDING" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_INST_ASPIRATION" class="col-sm-4 col-form-label "></label>
                <select asp-for="BM_INST_ASPIRATION" asp-items="@Model.BM_INST_ASPIRATIONTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tBM_INST_ASPIRATION'></span>
                <span asp-validation-for="BM_INST_ASPIRATION" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_LOGGER" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_LOGGER" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_LOGGER'></span>
                <span asp-validation-for="BM_LOGGER" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_FILE" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_FILE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_FILE'></span>
                <span asp-validation-for="BM_FILE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_DATE" class="col-sm-4 col-form-label required"></label>
                <input asp-for="BM_DATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_DATE'></span>
                <span asp-validation-for="BM_DATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_DATE_START" class="col-sm-4 col-form-label required"></label>
                <input asp-for="BM_DATE_START" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_DATE_START'></span>
                <span asp-validation-for="BM_DATE_START" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="BM_DATE_END" class="col-sm-4 col-form-label required"></label>
                <input asp-for="BM_DATE_END" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_DATE_END'></span>
                <span asp-validation-for="BM_DATE_END" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="BM_DATE_UNC" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_DATE_UNC" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_DATE_UNC'></span>
                <span asp-validation-for="BM_DATE_UNC" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="BM_COMMENT" class="col-sm-4 col-form-label "></label>
                <input asp-for="BM_COMMENT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tBM_COMMENT'></span>
                <span asp-validation-for="BM_COMMENT" class="text-danger col-sm-12"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
    <link rel="stylesheet" href="~/js/scripts/styles.css">
    <script type="text/javascript">
        let loaded = @cc;
        let selectList = {};
        let bmOpsList = [];
        //coming from a f***ing service
        let availableBmSensors = [];
        let prevModel = "";
        $(document).ready(function () {
        //DIEGO:::
        //to get from select sites list
        var params = { siteId: $('#Id_site option:selected').val() };
        $.when(
            $.ajax({ // First Request
                url: '/api/uifacilities/GetBmOps',
                contentType: "application/json",
                dataType: "json",
                success: function (response) {

                    bmOpsList = response.slice();
                    console.log("VLIST " + bmOpsList);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_BM operation data. Please try again");
                    return;
                }
            }),
           $.ajax({ //third Request
                url: '/api/uifacilities/getavailablebminst',
                contentType: "application/json",
                dataType: "json",
                data: (params),
                success: function (avresp) {

                    availableBmSensors = avresp.slice();
                    if (availableBmSensors.length === 0) {
                        alert("No BM sensors available. Please insert instrument in GRP_INST group first");
                    }
                    console.log("Av Bm " + availableBmSensors);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_BM operation data. Please try again");
                }
            })

        ).then(function () {
            $.each(availableBmSensors, function (i, item) {
                if(item.model!==prevModel){
                    $('#BM_MODEL').append($('<option>', {
                        value: item.model,
                        text: item.model
                    }));
                    prevModel=item.model;
                }
                

               /* $('#BM_SN').append($('<option>', {
                    value: item.sn,
                    text: item.sn
                }));*/
            });

            if (loaded === 0) {

            }

            else {
                
                $("#BM_MODEL").val('@Model.BM_MODEL');

                $('#BM_SN').find('option').remove().end().append('<option value="">Select</option>');
                let selModel = $( "#BM_MODEL option:selected" ).text();
                $.each(availableBmSensors, function (i, item) {
                    if(item.model == selModel){
                        $('#BM_SN').append($('<option>', {
                            value: item.sn,
                            text: item.sn
                        }));
                    }
                });

                $("#BM_SN").val('@Model.BM_SN');
                $("#BM_TYPE").val('@Model.BM_TYPE');
                selectList = {};
                selectList = bmOpsList.find(x => x.type.toLowerCase() === $("#BM_TYPE").val().toLowerCase());
                showItems();
            }

        });

    });

    const showItems = () => {
        if($("#BM_TYPE").val()==="") return false;
        var popo = $("#BM_TYPE").val();
        console.log("popo show=> ", popo);
        if(selectList===undefined){
             selectList = bmOpsList.find(x => x.type.toLowerCase() === $("#BM_TYPE").val().toLowerCase());
       }
        console.log("SS LL show ", selectList);
        console.log("BM OPS LL show ", bmOpsList);
        $.each(selectList.opList, function (key, value) {
            console.log(key + " : " + value.variable);
            var ctrl = $("#ui-container").find("#" + value.variable);
            var _parent = $("#ui-container").find("#" + value.variable).parent();
            _parent.removeClass("collapse");
        });
    };

    const hideItems = () => {
        if($("#BM_TYPE").val()==="") return false;
        var popo = $("#BM_TYPE").val();
        console.log("popo hide=> ", popo);
        if(selectList===undefined){
             selectList = bmOpsList.find(x => x.type.toLowerCase() === $("#BM_TYPE").val().toLowerCase());
       }
        if(selectList===undefined){
             selectList = bmOpsList.find(x => x.type.toLowerCase() === $("#BM_TYPE").val().toLowerCase());
       }
       console.log("SS LL hide ", selectList);
        console.log("BM OPS LL hide ", bmOpsList);
        $.each(selectList.opList, function (key, value) {
            var ctrl = $("#ui-container").find("#" + value.variable);
            var _parent = $("#ui-container").find("#" + value.variable).parent();
            if (value.variable != "BM_MODEL" && value.variable != "BM_SN" && value.variable != "BM_TYPE") {
                $("#" + value.variable).val('');
                _parent.addClass("collapse");
            }
        });
        };

        $('#BM_VARIABLE_H_V_R').autocomplete({
            serviceUrl: '/api/SearchPlot/getbmvars',
            dataType: 'json',
            transformResult: function (response) {
                if (response) {

                    return {
                        suggestions: $.map(response, function (dataItem) {
                            return { value: dataItem.trim(), data: dataItem.trim() };
                        })
                    };
                }
                else {
                    return {
                        suggestions: []
                    };
                }
            },
            onSelect: function (suggestion) {
                //suggestion.object contain all values pass thru, no need to call again

            },
            lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

                var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
                return re.test(suggestion.value);
            }
        });

    $("#BM_MODEL").on("change", function (e) {
        if($('#BM_MODEL').is('[readonly]')) { 
            console.log('bm model readonly');
            $("#BM_MODEL").val('@Model.BM_MODEL');
            return false; 
        }
        hideItems();
        if (this.selectedIndex == 0) {
            $("#BM_SN").val('');
        }
        else {
            $('#BM_SN').find('option').remove().end().append('<option value="">Select</option>');
            let selModel = $( "#BM_MODEL option:selected" ).text();

           // $("#BM_SN").val(availableBmSensors[this.selectedIndex - 1].sn);
            $.each(availableBmSensors, function (i, item) {
                if(item.model == selModel){
                    $('#BM_SN').append($('<option>', {
                        value: item.sn,
                        text: item.sn
                    }));
                }
            });
        }

        showItems();
    });

    $("#BM_SN").on("change", function (e) {
        if($('#BM_SN').is('[readonly]')){ 
            console.log('bm sbn readonly');
            $("#BM_SN").val('@Model.BM_SN');
            return false; 
        } 
        hideItems();
        if (this.selectedIndex == 0) {
            $("#BM_MODEL").val('');
        }
        else {
            //$("#BM_MODEL").val(availableBmSensors[this.selectedIndex - 1].model);
            var found = availableBmSensors.filter(function(item) { return item.sn === $("#BM_SN").val(); });

            $("#BM_MODEL").val(found[0].model);
        }
        
        showItems();
    });


    $("#BM_TYPE").on("change", function (e) {
        hideItems();
        selectList = {};
        for (var i = 0; i < bmOpsList.length; i++) {
            //console.log(opList[i].OpList);
            if (bmOpsList[i].type.toLowerCase() === this.value.toLowerCase()) {
                selectList = bmOpsList[i];
                break;
            }
        }
        // console.log("selectList type change " + selectList.opList[0].variable);
        let selOption = this.value.toLowerCase();
        //   console.log("selOption " + selOption);

        var bla = bmOpsList[this.selectedIndex - 1];
        
        showItems();
    });
    </script>
}
