@model IcosCoreExt.Models.ViewModels.GRP_BMViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Meteo Measurement Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_MODEL)<span class='tooltipEl' id='tBM_MODEL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_MODEL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_SN)<span class='tooltipEl' id='tBM_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_TYPE)<span class='tooltipEl' id='tBM_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_VARIABLE_H_V_R)<span class='tooltipEl' id='tBM_VARIABLE_H_V_R'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_VARIABLE_H_V_R)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_HEIGHT)<span class='tooltipEl' id='tBM_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_HEIGHT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_EASTWARD_DIST)<span class='tooltipEl' id='tBM_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_EASTWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_NORTHWARD_DIST)<span class='tooltipEl' id='tBM_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_NORTHWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_SAMPLING_INT)<span class='tooltipEl' id='tBM_SAMPLING_INT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_SAMPLING_INT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_INST_HEAT)<span class='tooltipEl' id='tBM_INST_HEAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_INST_HEAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_INST_SHIELDING)<span class='tooltipEl' id='tBM_INST_SHIELDING'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_INST_SHIELDING)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_INST_ASPIRATION)<span class='tooltipEl' id='tBM_INST_ASPIRATION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_INST_ASPIRATION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_LOGGER)<span class='tooltipEl' id='tBM_LOGGER'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_LOGGER)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_FILE)<span class='tooltipEl' id='tBM_FILE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_FILE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_DATE)<span class='tooltipEl' id='tBM_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_DATE_START)<span class='tooltipEl' id='tBM_DATE_START'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_DATE_START)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_DATE_END)<span class='tooltipEl' id='tBM_DATE_END'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_DATE_END)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_DATE_UNC)<span class='tooltipEl' id='tBM_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_DATE_UNC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.BM_COMMENT)<span class='tooltipEl' id='tBM_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.BM_COMMENT)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @*@if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}*@
    <a asp-action="Index">Back to List</a>
</div>
