@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_BMViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Meteo Measurements</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.BM_MODEL)<span class='tooltipEl' id='tBM_MODEL'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BM_SN)<span class='tooltipEl' id='tBM_SN'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BM_TYPE)<span class='tooltipEl' id='tBM_TYPE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BM_VARIABLE_H_V_R)<span class='tooltipEl' id='tBM_VARIABLE_H_V_R'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BM_HEIGHT)<span class='tooltipEl' id='tBM_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.BM_EASTWARD_DIST)<span class='tooltipEl' id='tBM_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.BM_NORTHWARD_DIST)<span class='tooltipEl' id='tBM_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.BM_SAMPLING_INT)<span class='tooltipEl' id='tBM_SAMPLING_INT'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.BM_INST_HEAT)<span class='tooltipEl' id='tBM_INST_HEAT'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.BM_INST_SHIELDING)<span class='tooltipEl' id='tBM_INST_SHIELDING'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.BM_INST_ASPIRATION)<span class='tooltipEl' id='tBM_INST_ASPIRATION'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.BM_LOGGER)<span class='tooltipEl' id='tBM_LOGGER'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.BM_FILE)<span class='tooltipEl' id='tBM_FILE'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.BM_DATE)<span class='tooltipEl' id='tBM_DATE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.BM_DATE_START)<span class='tooltipEl' id='tBM_DATE_START'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BM_DATE_END)<span class='tooltipEl' id='tBM_DATE_END'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>@Html.DisplayNameFor(model => model.BM_DATE_UNC)<span class='tooltipEl' id='tBM_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.BM_COMMENT)<span class='tooltipEl' id='tBM_COMMENT'> <i class='fas fa-question-circle' /></span></th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_MODEL)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_SN)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_TYPE)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_VARIABLE_H_V_R)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_HEIGHT)</td>
                @*<td>@Html.DisplayFor(modelItem => item.BM_EASTWARD_DIST)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_NORTHWARD_DIST)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_SAMPLING_INT)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_INST_HEAT)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_INST_SHIELDING)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_INST_ASPIRATION)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_LOGGER)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_FILE)</td>*@
            <td>
                @if (!string.IsNullOrEmpty(item.BM_DATE))
                {@Html.DisplayFor(modelItem => item.BM_DATE)}
            else
            {
                @Html.DisplayFor(modelItem => item.BM_DATE_START) 
                    <text> - </text> 
                        @Html.DisplayFor(modelItem => item.BM_DATE_END)
            }

            </td>
                @*<td>@Html.DisplayFor(modelItem => item.BM_DATE_START)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_DATE_END)</td>*@
                @*<td>@Html.DisplayFor(modelItem => item.BM_DATE_UNC)</td>
                <td>@Html.DisplayFor(modelItem => item.BM_COMMENT)</td>*@


                <td>
                    @*@if (item.DataStatus == 0)
        {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>*@
                    <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> | 
                    <a asp-action="AddBmOperation" asp-route-id="@item.Id" class="fa fa-plus-square" title="Add Meteo Instrument Operation"></a> 
                    @*<text>|</text> <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}*@
                </td>
            </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
