﻿@model IcosCoreExt.Models.ViewModels.GRP_PLOTViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create PLOT</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="PLOT_ID" class="col-sm-4 col-form-label required"></label>
        <input asp-for="PLOT_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_ID'></span>
        <span asp-validation-for="PLOT_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_TYPE" class="col-sm-4 col-form-label required"></label>
        <select asp-for="PLOT_TYPE" asp-items="@Model.PlotType" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_TYPE'></span>
        <span asp-validation-for="PLOT_TYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_EASTWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="PLOT_EASTWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_EASTWARD_DIST'></span>
        <span asp-validation-for="PLOT_EASTWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_NORTHWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="PLOT_NORTHWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_NORTHWARD_DIST'></span>
        <span asp-validation-for="PLOT_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_DISTANCE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="PLOT_DISTANCE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_DISTANCE_POLAR'></span>
        <span asp-validation-for="PLOT_DISTANCE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_ANGLE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="PLOT_ANGLE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_ANGLE_POLAR'></span>
        <span asp-validation-for="PLOT_ANGLE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_REFERENCE_POINT" class="col-sm-4 col-form-label required"></label>
        <select asp-for="PLOT_REFERENCE_POINT" asp-items="@Model.PlotReference" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_REFERENCE_POINT'></span>
        <span asp-validation-for="PLOT_REFERENCE_POINT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_LOCATION_LAT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="PLOT_LOCATION_LAT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_LOCATION_LAT'></span>
        <span asp-validation-for="PLOT_LOCATION_LAT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_LOCATION_LONG" class="col-sm-4 col-form-label required"></label>
        <input asp-for="PLOT_LOCATION_LONG" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_LOCATION_LONG'></span>
        <span asp-validation-for="PLOT_LOCATION_LONG" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_RECT_X" class="col-sm-4 col-form-label "></label>
        <input asp-for="PLOT_RECT_X" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_RECT_X'></span>
        <span asp-validation-for="PLOT_RECT_X" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_RECT_Y" class="col-sm-4 col-form-label "></label>
        <input asp-for="PLOT_RECT_Y" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_RECT_Y'></span>
        <span asp-validation-for="PLOT_RECT_Y" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_RECT_DIR" class="col-sm-4 col-form-label "></label>
        <input asp-for="PLOT_RECT_DIR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_RECT_DIR'></span>
        <span asp-validation-for="PLOT_RECT_DIR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_HEIGHT" class="col-sm-4 col-form-label "></label>
        <input asp-for="PLOT_HEIGHT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_HEIGHT'></span>
        <span asp-validation-for="PLOT_HEIGHT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="PLOT_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_COMMENT'></span>
        <span asp-validation-for="PLOT_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PLOT_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="PLOT_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tPLOT_DATE'></span>
        <span asp-validation-for="PLOT_DATE" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
}