@model IcosCoreExt.Models.ViewModels.GRP_PLOTViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>PLOT Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_ID)<span class='tooltipEl' id='tPLOT_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_TYPE)<span class='tooltipEl' id='tPLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_EASTWARD_DIST)<span class='tooltipEl' id='tPLOT_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_EASTWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_NORTHWARD_DIST)<span class='tooltipEl' id='tPLOT_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_NORTHWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_DISTANCE_POLAR)<span class='tooltipEl' id='tPLOT_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_DISTANCE_POLAR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_ANGLE_POLAR)<span class='tooltipEl' id='tPLOT_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_ANGLE_POLAR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_REFERENCE_POINT)<span class='tooltipEl' id='tPLOT_REFERENCE_POINT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_REFERENCE_POINT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_LOCATION_LAT)<span class='tooltipEl' id='tPLOT_LOCATION_LAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_LOCATION_LAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_LOCATION_LONG)<span class='tooltipEl' id='tPLOT_LOCATION_LONG'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_LOCATION_LONG)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_RECT_X)<span class='tooltipEl' id='tPLOT_RECT_X'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_RECT_X)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_RECT_Y)<span class='tooltipEl' id='tPLOT_RECT_Y'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_RECT_Y)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_RECT_DIR)<span class='tooltipEl' id='tPLOT_RECT_DIR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_RECT_DIR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_HEIGHT)<span class='tooltipEl' id='tPLOT_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_HEIGHT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_COMMENT)<span class='tooltipEl' id='tPLOT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PLOT_DATE)<span class='tooltipEl' id='tPLOT_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.PLOT_DATE)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
</div>
