﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_PLOTViewModel>

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")
<h1>Sampling Plots</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PLOT_TYPE)<span class='tooltipEl' id='tPLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.PLOT_ID)<span class='tooltipEl' id='tPLOT_ID'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.PLOT_EASTWARD_DIST)<span class='tooltipEl' id='tPLOT_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th><span class='tooltipEl' id='tPLOT_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.PLOT_DISTANCE_POLAR)<span class='tooltipEl' id='tPLOT_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.PLOT_ANGLE_POLAR)<span class='tooltipEl' id='tPLOT_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.PLOT_REFERENCE_POINT)<span class='tooltipEl' id='tPLOT_REFERENCE_POINT'> <i class='fas fa-question-circle' /></span></th>*@
            <th>
                @Html.DisplayNameFor(model => model.PLOT_LOCATION_LAT)<span class='tooltipEl' id='tPLOT_LOCATION_LAT'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.PLOT_LOCATION_LONG)<span class='tooltipEl' id='tPLOT_LOCATION_LONG'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.PLOT_COMMENT)<span class='tooltipEl' id='tPLOT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.PLOT_DATE)<span class='tooltipEl' id='tPLOT_DATE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.PLOT_RECT_X)<span class='tooltipEl' id='tPLOT_RECT_X'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.PLOT_RECT_Y)<span class='tooltipEl' id='tPLOT_RECT_Y'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.PLOT_RECT_DIR)<span class='tooltipEl' id='tPLOT_RECT_DIR'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.PLOT_HEIGHT)<span class='tooltipEl' id='tPLOT_HEIGHT'> <i class='fas fa-question-circle' /></span></th>*@
            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLOT_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLOT_ID)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.PLOT_EASTWARD_DIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLOT_NORTHWARD_DIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLOT_DISTANCE_POLAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLOT_ANGLE_POLAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLOT_REFERENCE_POINT)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PLOT_LOCATION_LAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLOT_LOCATION_LONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLOT_COMMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLOT_DATE)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.PLOT_RECT_X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLOT_RECT_Y)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLOT_RECT_DIR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLOT_HEIGHT)
        </td>*@
        <td>
            @if (item.DataStatus == 0)
            {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
            <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
            <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
        </td>
        </tr>
    }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
