﻿<style>
    
.navbar {
    padding:0rem;
    margin-bottom:2rem;
}

.dropdown .dropdown-menu {
    border-radius:0;
}
</style>
<div class="row">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top h-25">
    <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
    <div class="navbar-toggler-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse flex-column" id="navbar">

        <ul class="navbar-nav w-100  h-25 justify-content-center px-1">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Team" asp-action="Index">TEAM MEMBER</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    STATION DESCRIPTION
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Location">LOCATION</a>
                    <a class="dropdown-item" asp-controller="UTC">UTC OFFSET</a>
                    <a class="dropdown-item" asp-controller="LandOwnership">LAND OWNERSHIP</a>
                    <a class="dropdown-item" asp-controller="Tower">TOWER</a>
                    <a class="dropdown-item" asp-controller="ClimateAverage">CLIMATE AVERAGE</a>
                    <a class="dropdown-item" asp-controller="DisturbanceManagement">DISTURBANCE</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="SamplingPlots">SAMPLING PLOTS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Flsm">FOLIAR SAMPLING</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Sosm">SOIL SAMPLING</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="DHP">DHP IMAGES</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GREEN AREA INDEX
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Gai">GAI</a>
                    <a class="dropdown-item" asp-controller="CEPT">CEPT</a>
                    <a class="dropdown-item" asp-controller="Bulkh">BULK_H</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Spps">SPP</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Tree">TREE</a>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-center w-100 h-25 bg-secondary px-1">

            <li class="nav-item active">
                <a class="nav-link" asp-controller="Agb">AGB</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Litterpnt">LITTERPNT</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    WTD - DSNOW
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Wtdpnt">WATER TABLE DEPTH</a>
                    <a class="dropdown-item" asp-controller="D_Snow">SNOW DEPTH</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="InstrumentModel" asp-action="Index">INSTRUMENT MODEL</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DATA RECORD
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Logger">LOGGER MODEL</a>
                    <a class="dropdown-item" asp-controller="File">FILE MODEL</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    EC GROUP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="EcModel">EDDY COVARIANCE</a>
                    <a class="dropdown-item" asp-controller="Ecsys">EC SYSTEM</a>
                    <a class="dropdown-item" asp-controller="Ecwexcl">WIND EXCLUSION</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="MeteoMeasurement">METEO MEASUREMENT</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Sto">STORAGE</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    INSTMAN GROUP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Instman">INSTMAN</a>
                    <a class="dropdown-item" asp-controller="Instpair">INST PAIR</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Funding">FUNDING</a>
            </li>
        </ul>
    </div>

</nav>
</div>