﻿<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#dataTable').addClass("stripe hover");
        $('#dataTable thead tr').clone(true).appendTo('#dataTable thead');
        $('#dataTable thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).addClass('searchRow');
            if (title != "") {
                
            $(this).html('<input type="text" placeholder="Search" style="width:100px;margin:0;padding: 0;padding-left: 5px;font-size:1em"  />');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
            }
        });

        var table = $('#dataTable').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            columnDefs: [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
            order: [[0, "desc"]]
        });
        $('#dataTable_filter').hide();

        //$('#dataTable thead tr:eq(0) th').each(function (i) {
        //    var title = $(this).text();
        //    if (title == "")
        //        $(this).removeClass('sorting');
        //});
        // -> only works on initial load
    });
</script>