﻿@using Microsoft.AspNetCore.Identity
@using IdentitySample.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
    <div class="row mb-2">
        <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </div>
    <div class="row mb-2">
        <form id="selectLanguage" asp-controller="Account" asp-action="LogOff" method="post" role="form">
            <button type="submit" name="culture">
                Logoff
            </button>
        </form>
    </div>
    <div class="row mb-2">
        @await Component.InvokeAsync("SiteSelector")
    </div>
    }
    @*   else
             {
            <li class="nav-item">
                         <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                     </li
                 <li class="nav-item">
                     <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                 </li>>
        }*@

