﻿@model IcosCoreExt.Models.ViewModels.GRP_ECViewModel

@{
    ViewData["Title"] = "Create";
    var cc = 0;
    var isModel = !String.IsNullOrEmpty(Model.EC_MODEL);
    if(isModel || (ViewData["sent"] != null))
    {
        cc = 1;
    }
    /*if (ViewData["sent"] != null)
    {
        cc = 1;
    }*/
}

<h1>Create Eddy Covariance</h1>
<div class="row">
    <div class="col-md-8" id="ui-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="EC_MODEL" class="col-sm-4 col-form-label required"></label>
                <select asp-for="EC_MODEL" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tEC_MODEL'></span>
                <span asp-validation-for="EC_MODEL" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="EC_SN" class="col-sm-4 col-form-label required"></label>
                <select asp-for="EC_SN" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tEC_SN'></span>
                <span asp-validation-for="EC_SN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="EC_TYPE" class="col-sm-4 col-form-label required"></label>
                <select asp-for="EC_TYPE" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tEC_TYPE'></span>
                <span asp-validation-for="EC_TYPE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_HEIGHT" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_HEIGHT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_HEIGHT'></span>
                <span asp-validation-for="EC_HEIGHT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_EASTWARD_DIST" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_EASTWARD_DIST" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_EASTWARD_DIST'></span>
                <span asp-validation-for="EC_EASTWARD_DIST" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_NORTHWARD_DIST" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_NORTHWARD_DIST" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_NORTHWARD_DIST'></span>
                <span asp-validation-for="EC_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_SAMPLING_INT" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_SAMPLING_INT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_SAMPLING_INT'></span>
                <span asp-validation-for="EC_SAMPLING_INT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_SA_HEAT" class="col-sm-4 col-form-label "></label>
                <select asp-for="EC_SA_HEAT" asp-items="@Model.EcYn"  class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tEC_SA_HEAT'></span>
                <span asp-validation-for="EC_SA_HEAT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_SA_OFFSET_N" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_SA_OFFSET_N" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_SA_OFFSET_N'></span>
                <span asp-validation-for="EC_SA_OFFSET_N" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_SA_WIND_FORMAT" class="col-sm-4 col-form-label "></label>
                <select asp-for="EC_SA_WIND_FORMAT" asp-items="@Model.EcSaFormat" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tEC_SA_WIND_FORMAT'></span>
                <span asp-validation-for="EC_SA_WIND_FORMAT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_SA_GILL_ALIGN" class="col-sm-4 col-form-label "></label>
                <select asp-for="EC_SA_GILL_ALIGN" asp-items="@Model.EcSaAlign" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tEC_SA_GILL_ALIGN'></span>
                <span asp-validation-for="EC_SA_GILL_ALIGN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_SA_GILL_PCI" class="col-sm-4 col-form-label "></label>
                <select asp-for="EC_SA_GILL_PCI" asp-items="@Model.EcYn" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tEC_SA_GILL_PCI'></span>
                <span asp-validation-for="EC_SA_GILL_PCI" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_FLOW_RATE" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_FLOW_RATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_FLOW_RATE'></span>
                <span asp-validation-for="EC_GA_FLOW_RATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_LICOR_FM_SN" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_LICOR_FM_SN" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_LICOR_FM_SN'></span>
                <span asp-validation-for="EC_GA_LICOR_FM_SN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_LICOR_TP_SN" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_LICOR_TP_SN" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_LICOR_TP_SN'></span>
                <span asp-validation-for="EC_GA_LICOR_TP_SN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_LICOR_AIU_SN" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_LICOR_AIU_SN" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_LICOR_AIU_SN'></span>
                <span asp-validation-for="EC_GA_LICOR_AIU_SN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_CAL_CO2_ZERO" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_CAL_CO2_ZERO" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_CAL_CO2_ZERO'></span>
                <span asp-validation-for="EC_GA_CAL_CO2_ZERO" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_CAL_CO2_OFFSET" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_CAL_CO2_OFFSET" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_CAL_CO2_OFFSET'></span>
                <span asp-validation-for="EC_GA_CAL_CO2_OFFSET" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_CAL_CO2_REF" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_CAL_CO2_REF" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_CAL_CO2_REF'></span>
                <span asp-validation-for="EC_GA_CAL_CO2_REF" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_CAL_H2O_ZERO" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_CAL_H2O_ZERO" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_CAL_H2O_ZERO'></span>
                <span asp-validation-for="EC_GA_CAL_H2O_ZERO" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_GA_CAL_TA" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_GA_CAL_TA" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_GA_CAL_TA'></span>
                <span asp-validation-for="EC_GA_CAL_TA" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_LOGGER" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_LOGGER" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_LOGGER'></span>
                <span asp-validation-for="EC_LOGGER" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_FILE" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_FILE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_FILE'></span>
                <span asp-validation-for="EC_FILE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_DATE" class="col-sm-4 col-form-label required"></label>
                <input asp-for="EC_DATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_DATE'></span>
                <span asp-validation-for="EC_DATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_DATE_START" class="col-sm-4 col-form-label required"></label>
                <input asp-for="EC_DATE_START" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_DATE_START'></span>
                <span asp-validation-for="EC_DATE_START" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_DATE_END" class="col-sm-4 col-form-label required"></label>
                <input asp-for="EC_DATE_END" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_DATE_END'></span>
                <span asp-validation-for="EC_DATE_END" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_DATE_UNC" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_DATE_UNC" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_DATE_UNC'></span>
                <span asp-validation-for="EC_DATE_UNC" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_COMMENT" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_COMMENT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_COMMENT'></span>
                <span asp-validation-for="EC_COMMENT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="EC_SA_NORTH_MAGDEC" class="col-sm-4 col-form-label "></label>
                <input asp-for="EC_SA_NORTH_MAGDEC" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tEC_SA_NORTH_MAGDEC'></span>
                <span asp-validation-for="EC_SA_NORTH_MAGDEC" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<!--collapse installation-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
    <script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    //<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
    <!--script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script-->
    <link rel="stylesheet" href="~/js/scripts/styles.css">
<script type="text/javascript">
    let varList = [];
    let selectList = {};
    let loaded = @cc;

    //coming from a f***ing service
    let availableEcSensors = [];
    let prevModel = "";
   
    const hideItems = () => {

        /*$.each(varList, function (key, value) {
           // console.log(key + " : " + value);
            var ctrl = $("#ui-container").find("#" + value.Variable);
           // console.log("html ctrl " + ctrl);
            var _parent = $("#ui-container").find("#" + value.Variable).parent();
            if (value.Variable != "EC_MODEL" && value.Variable != "EC_SN" && value.Variable != "EC_TYPE") {
             //   continue;
                //console.log(value.Variable + " no hide!");
                 $("#" + value.variable).val('');
                _parent.addClass("collapse");
            }
           // console.log("In hide " + value.Variable);
           // _parent.addClass("collapse");
        });*/
       // varList.splice(0, varList.length);

       if(selectList===undefined /*|| selectList.opList.length==0*/){
             selectList = varList.find(x => x.type.toLowerCase() === $("#EC_TYPE").val().toLowerCase());
       }

        $.each(selectList.opList, function (key, value) {
            var ctrl = $("#ui-container").find("#" + value.variable);
            var _parent = $("#ui-container").find("#" + value.variable).parent();
            if (value.variable != "EC_MODEL" && value.variable != "EC_SN" && value.variable != "EC_TYPE") {
                $("#" + value.variable).val('');
                _parent.addClass("collapse");
            }
        });
        
        
    };

    const showItems = () => {
        const sensor = $("#EC_MODEL").val();
        /*$.each(varList, function (key, value) {
            //console.log(key + " : " + value.Variable);
            if (sensor.startsWith("GA_CP")) {
                if (value.Variable.startsWith("EC_SA_")) { return; }
            }
            else {
                if (value.Variable.startsWith("EC_GA_")) { return; }
            }
            var ctrl = $("#ui-container").find("#" + value.Variable);
            var _parent = $("#ui-container").find("#" + value.Variable).parent();
            _parent.removeClass("collapse");
        });*/
        $.each(selectList.opList, function (key, value) {
            console.log(key + " : " + value.variable);
            if (sensor.startsWith("GA_CP")) {
                if (value.variable.startsWith("EC_SA_")) { return; }
            }
            else {
                if (value.variable.startsWith("EC_GA_")) { return; }
            }
            var ctrl = $("#ui-container").find("#" + value.variable);
            var _parent = $("#ui-container").find("#" + value.variable).parent();
            _parent.removeClass("collapse");
        });
    };

    const ModelSnManager = (index) => {
        $('#EC_TYPE')
            .empty()
            .append('<option value="">Select</option>');
        //console.log("GRRRR " + index + " " + availableEcSensors);
        $.each(availableEcSensors[index].possibleOps, function (i, item) {
            $('#EC_TYPE').append($('<option>', {
                value: item,
                text: item
            }));
        });
    };

    $(document).ready(function () {
        //DIEGO:::
        //to get from select sites list
        var params = { siteId: $('#Id_site option:selected').val()  };
        $.when(
            $.ajax({ // First Request
                url: '/api/uifacilities/GetEcOps',
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    
                    varList = response.slice();
                    console.log("VLIST "+ varList);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_EC operation data. Please try again");
                    return;
                }
            }),

            $.ajax({ //Seconds Request
                url: '/api/uifacilities/GetEcAvInst',
                contentType: "application/json",
                dataType: "json",
                data: (params),
                success: function (avresp) {
                    console.log(avresp);

                    availableEcSensors = avresp.slice();
                    console.log("Av S " + availableEcSensors);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_EC operation data. Please try again");
                }
            })

        ).then(function () {
            $.each(availableEcSensors, function (i, item) {
                
                if(item.model!==prevModel){
                    $('#EC_MODEL').append($('<option>', {
                        value: item.model,
                        text: item.model
                    }));
                    prevModel=item.model;
                }

                /*$('#EC_SN').append($('<option>', {
                    value: item.sn,
                    text: item.sn
                }));*/
            });

            if (loaded === 0) {

            }

            else {
                $("#EC_MODEL").val('@Model.EC_MODEL');
                 $('#EC_SN').find('option').remove().end().append('<option value="">Select</option>');
                let selModel = $( "#EC_MODEL option:selected" ).text();
                $.each(availableEcSensors, function (i, item) {
                    if(item.model == selModel){
                        $('#EC_SN').append($('<option>', {
                            value: item.sn,
                            text: item.sn
                        }));
                    }
                });
                $("#EC_SN").val('@Model.EC_SN');
                ModelSnManager($("#EC_MODEL option:selected").index() - 1);
                $("#EC_TYPE").val('@Model.EC_TYPE');
                selectList = {};
                selectList = varList.find(x => x.type.toLowerCase() === $("#EC_TYPE").val().toLowerCase());
                console.log("SL LIST add op "+ selectList);
                //varList = opList[$("#EC_MODEL option:selected").index() - 1].OpList.slice();
                showItems();
            }

        });
        
    });

  
    $("#EC_MODEL").on("change", function (e) {

        if (this.selectedIndex == 0) {
            $("#EC_SN").val('');
        }
        else {
            //$("#EC_SN").val(availableEcSensors[this.selectedIndex - 1].sn);
            $('#EC_SN').find('option').remove().end().append('<option value="">Select</option>');
            let selModel = $( "#EC_MODEL option:selected" ).text();

            $.each(availableEcSensors, function (i, item) {
                if(item.model == selModel){
                    $('#EC_SN').append($('<option>', {
                        value: item.sn,
                        text: item.sn
                    }));
                }
            });
        }

        ModelSnManager(this.selectedIndex - 1);
        hideItems();
    });

    $("#EC_SN").on("change", function (e) {

        if (this.selectedIndex == 0) {
            $("#EC_MODEL").val('');
        }
        else {
           // $("#EC_MODEL").val(availableEcSensors[this.selectedIndex - 1].model);
           var found = availableEcSensors.filter(function(item) { return item.sn === $("#EC_SN").val(); });
            $("#EC_MODEL").val(found[0].model);
        }
        ModelSnManager(this.selectedIndex - 1);
        hideItems();
    });

    $("#EC_TYPE").on("change", function (e) {
        hideItems();
        selectList = {};
        for (var i = 0; i < varList.length; i++) {
            //console.log(opList[i].OpList);
            if (varList[i].type.toLowerCase() === this.value.toLowerCase()) {
                selectList = varList[i];
                break;
            }
        }
       // console.log("selectList type change " + selectList.opList[0].variable);
        let selOption = this.value.toLowerCase();
     //   console.log("selOption " + selOption);
        
        var bla = varList[this.selectedIndex - 1];
      //  console.log("BLA " + varList + " sel ind " + this.selectedIndex);
      // selectList = varList.find(x => x.type.toLowerCase() === selOption).opList.slice();
       
        showItems();
    });
</script>
}
