@model IcosCoreExt.Models.ViewModels.GRP_ECViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Eddy Covariance Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_MODEL)<span class='tooltipEl' id='tEC_MODEL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_MODEL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_SN)<span class='tooltipEl' id='tEC_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_TYPE)<span class='tooltipEl' id='tEC_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_HEIGHT)<span class='tooltipEl' id='tEC_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_HEIGHT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_EASTWARD_DIST)<span class='tooltipEl' id='tEC_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_EASTWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_NORTHWARD_DIST)<span class='tooltipEl' id='tEC_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_NORTHWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_SAMPLING_INT)<span class='tooltipEl' id='tEC_SAMPLING_INT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_SAMPLING_INT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_SA_HEAT)<span class='tooltipEl' id='tEC_SA_HEAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_SA_HEAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_SA_OFFSET_N)<span class='tooltipEl' id='tEC_SA_OFFSET_N'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_SA_OFFSET_N)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_SA_WIND_FORMAT)<span class='tooltipEl' id='tEC_SA_WIND_FORMAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_SA_WIND_FORMAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_SA_GILL_ALIGN)<span class='tooltipEl' id='tEC_SA_GILL_ALIGN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_SA_GILL_ALIGN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_SA_GILL_PCI)<span class='tooltipEl' id='tEC_SA_GILL_PCI'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_SA_GILL_PCI)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_FLOW_RATE)<span class='tooltipEl' id='tEC_GA_FLOW_RATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_FLOW_RATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_LICOR_FM_SN)<span class='tooltipEl' id='tEC_GA_LICOR_FM_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_LICOR_FM_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_LICOR_TP_SN)<span class='tooltipEl' id='tEC_GA_LICOR_TP_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_LICOR_TP_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_LICOR_AIU_SN)<span class='tooltipEl' id='tEC_GA_LICOR_AIU_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_LICOR_AIU_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_ZERO)<span class='tooltipEl' id='tEC_GA_CAL_CO2_ZERO'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_CAL_CO2_ZERO)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_OFFSET)<span class='tooltipEl' id='tEC_GA_CAL_CO2_OFFSET'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_CAL_CO2_OFFSET)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_REF)<span class='tooltipEl' id='tEC_GA_CAL_CO2_REF'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_CAL_CO2_REF)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_CAL_H2O_ZERO)<span class='tooltipEl' id='tEC_GA_CAL_H2O_ZERO'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_CAL_H2O_ZERO)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_GA_CAL_TA)<span class='tooltipEl' id='tEC_GA_CAL_TA'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_GA_CAL_TA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_LOGGER)<span class='tooltipEl' id='tEC_LOGGER'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_LOGGER)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_FILE)<span class='tooltipEl' id='tEC_FILE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_FILE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_SA_NORTH_MAGDEC)<span class='tooltipEl' id='tEC_SA_NORTH_MAGDEC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_SA_NORTH_MAGDEC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_DATE)<span class='tooltipEl' id='tEC_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_DATE_START)<span class='tooltipEl' id='tEC_DATE_START'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_DATE_START)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_DATE_END)<span class='tooltipEl' id='tEC_DATE_END'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_DATE_END)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_DATE_UNC)<span class='tooltipEl' id='tEC_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_DATE_UNC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EC_COMMENT)<span class='tooltipEl' id='tEC_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.EC_COMMENT)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @*@if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}*@
    <a asp-action="Index">Back to List</a>
</div>
