﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_ECViewModel>

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Eddy Covariance</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EC_MODEL)<span class='tooltipEl' id='tEC_MODEL'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.EC_SN)<span class='tooltipEl' id='tEC_SN'> <i class='fas fa-question-circle' /></span></th>@**@
            <th>
                @Html.DisplayNameFor(model => model.EC_TYPE)<span class='tooltipEl' id='tEC_TYPE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.EC_HEIGHT)<span class='tooltipEl' id='tEC_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.EC_EASTWARD_DIST)<span class='tooltipEl' id='tEC_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_NORTHWARD_DIST)<span class='tooltipEl' id='tEC_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_SAMPLING_INT)<span class='tooltipEl' id='tEC_SAMPLING_INT'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_SA_HEAT)<span class='tooltipEl' id='tEC_SA_HEAT'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_SA_OFFSET_N)<span class='tooltipEl' id='tEC_SA_OFFSET_N'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_SA_WIND_FORMAT)<span class='tooltipEl' id='tEC_SA_WIND_FORMAT'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_SA_GILL_ALIGN)<span class='tooltipEl' id='tEC_SA_GILL_ALIGN'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_SA_GILL_PCI)<span class='tooltipEl' id='tEC_SA_GILL_PCI'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_FLOW_RATE)<span class='tooltipEl' id='tEC_GA_FLOW_RATE'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_LICOR_FM_SN)<span class='tooltipEl' id='tEC_GA_LICOR_FM_SN'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_LICOR_TP_SN)<span class='tooltipEl' id='tEC_GA_LICOR_TP_SN'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_LICOR_AIU_SN)<span class='tooltipEl' id='tEC_GA_LICOR_AIU_SN'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_ZERO)<span class='tooltipEl' id='tEC_GA_CAL_CO2_ZERO'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_OFFSET)<span class='tooltipEl' id='tEC_GA_CAL_CO2_OFFSET'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_CAL_CO2_REF)<span class='tooltipEl' id='tEC_GA_CAL_CO2_REF'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_CAL_H2O_ZERO)<span class='tooltipEl' id='tEC_GA_CAL_H2O_ZERO'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_GA_CAL_TA)<span class='tooltipEl' id='tEC_GA_CAL_TA'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_LOGGER)<span class='tooltipEl' id='tEC_LOGGER'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.EC_FILE)<span class='tooltipEl' id='tEC_FILE'> <i class='fas fa-question-circle' /></span></th>*@
            <th>
                @Html.DisplayNameFor(model => model.EC_DATE)<span class='tooltipEl' id='tEC_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.EC_DATE_START)<span class='tooltipEl' id='tEC_DATE_START'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.EC_DATE_END)<span class='tooltipEl' id='tEC_DATE_END'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.EC_DATE_UNC)<span class='tooltipEl' id='tEC_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.EC_COMMENT)<span class='tooltipEl' id='tEC_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>
            @Html.DisplayNameFor(model => model.EC_SA_NORTH_MAGDEC)<span class='tooltipEl' id='tEC_SA_NORTH_MAGDEC'> <i class='fas fa-question-circle' /></span></th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_MODEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_SN)
            </td>@**@
            <td>
                @Html.DisplayFor(modelItem => item.EC_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_HEIGHT)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.EC_EASTWARD_DIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_NORTHWARD_DIST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_SAMPLING_INT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_SA_HEAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_SA_OFFSET_N)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_SA_WIND_FORMAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_SA_GILL_ALIGN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_SA_GILL_PCI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_FLOW_RATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_LICOR_FM_SN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_LICOR_TP_SN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_LICOR_AIU_SN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_CAL_CO2_ZERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_CAL_CO2_OFFSET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_CAL_CO2_REF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_CAL_H2O_ZERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_GA_CAL_TA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_LOGGER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EC_FILE)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EC_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_DATE_START)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EC_DATE_END)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.EC_DATE_UNC)
        </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.EC_COMMENT)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.EC_SA_NORTH_MAGDEC)
        </td>*@
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |*@
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> | 
                <a asp-action="AddEcOperation" asp-route-id="@item.Id" class="fa fa-plus-square" title="Add EC Sensor Operation"></a> 
                @*| <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>*@
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>