﻿@model IcosCoreExt.Models.ViewModels.GRP_INSTViewModel

@{
    ViewData["Title"] = "Create";
    var model = Model;
    var isModel = !String.IsNullOrEmpty(Model.INST_MODEL);
}

<h1>Create Instrument</h1>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="INST_MODEL" class="col-sm-4 col-form-label required"></label>
                <input asp-for="INST_MODEL" class="form-control col-sm-5" readonly="@isModel" />
                <span class='tooltipEl fas fa-question-circle' id='tINST_MODEL'></span>
                <span asp-validation-for="INST_MODEL" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INST_SN" class="col-sm-4 col-form-label required"></label>
                <input asp-for="INST_SN" class="form-control col-sm-5" readonly="@isModel" />
                <span class='tooltipEl fas fa-question-circle' id='tINST_SN'></span>
                <span asp-validation-for="INST_SN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INST_FIRMWARE" class="col-sm-4 col-form-label "></label>
                <input asp-for="INST_FIRMWARE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINST_FIRMWARE'></span>
                <span asp-validation-for="INST_FIRMWARE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INST_FACTORY" class="col-sm-4 col-form-label required"></label>
                <select asp-for="INST_FACTORY" asp-items="@Model.InstFactory" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINST_FACTORY'></span>
                <span asp-validation-for="INST_FACTORY" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INST_CALIB_FUNC" class="col-sm-4 col-form-label "></label>
                <input asp-for="INST_CALIB_FUNC" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINST_CALIB_FUNC'></span>
                <span asp-validation-for="INST_CALIB_FUNC" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INST_COMMENT" class="col-sm-4 col-form-label "></label>
                <input asp-for="INST_COMMENT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINST_COMMENT'></span>
                <span asp-validation-for="INST_COMMENT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="INST_DATE" class="col-sm-4 col-form-label required"></label>
                <input asp-for="INST_DATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINST_DATE'></span>
                <span asp-validation-for="INST_DATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
    <script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
    <script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/js/scripts/styles.css">
    <script>
        let prevSelection = '';
        let allItems=[];
        $('#INST_MODEL').autocomplete({
            serviceUrl: '/api/SearchInstrument/search',
            params: { 'extra': BADM_CV_INDEX.INST_MODEL },
            dataType: 'json',
            transformResult: function (response) {
                if (response) {
                    console.log(response);
                    return {
                        suggestions: $.map(response, function (dataItem) {

                            return { value: dataItem.trim(), data: dataItem.trim() };
                        })
                    };
                }
                else {
                    return {
                        suggestions: []
                    };
                }
            },
            onSelect: function (suggestion) {
                //suggestion.object contain all values pass thru, no need to call again
                 prevSelection=suggestion.value;
                 console.log(prevSelection);
                 $.ajax({ // First Request
                    url: '/api/SearchInstrument/searchsnbymodelandsite',
                    data:{'model':prevSelection, 'siteId': $('#Id_site option:selected').val()},
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                    
                        varList = response.slice();
                        console.log("VLIST "+ response);
                    },
                    failure: function (response) {
                        //handle the error
                        alert("Error in retrieving GRP_EC operation data. Please try again");
                        return;
                    }
                });
            },
            lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

                var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
                return re.test(suggestion.value);
            }
        });
        /*
        $('#INST_SN').autocomplete({
            serviceUrl: '/api/SearchInstrument/searchsnbymodelandsite',
            params: {  'obj':{'siteId': $('#Id_site option:selected').val(), 'instModel':prevSelection  } },
            dataType: 'json',
            transformResult: function (response) {
                if (response) {
                    console.log("INST SN " + prevSelection);
                    return {
                        suggestions: $.map(response, function (dataItem) {
                            return { value: dataItem.trim(), data: dataItem.trim() };
                        })
                    };
                }
                else {
                    return {
                        suggestions: []
                    };
                }
            },
            onSelect: function (suggestion) {
                //suggestion.object contain all values pass thru, no need to call again

            },
            lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

                var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
                return re.test(suggestion.value);
            }
        });*/

    </script>

