@model IcosCoreExt.Models.ViewModels.GRP_INSTViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>INSTRUMENT Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INST_MODEL)<span class='tooltipEl' id='tINST_MODEL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INST_MODEL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INST_SN)<span class='tooltipEl' id='tINST_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INST_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INST_FIRMWARE)<span class='tooltipEl' id='tINST_FIRMWARE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INST_FIRMWARE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INST_FACTORY)<span class='tooltipEl' id='tINST_FACTORY'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INST_FACTORY)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INST_CALIB_FUNC)<span class='tooltipEl' id='tINST_CALIB_FUNC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INST_CALIB_FUNC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INST_COMMENT)<span class='tooltipEl' id='tINST_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INST_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INST_DATE)<span class='tooltipEl' id='tINST_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INST_DATE)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @*@if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}*@
    <a asp-action="Index">Back to List</a>
</div>
