﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_INSTViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")


<h1>Instrument</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.INST_MODEL)<span class='tooltipEl' id='tINST_MODEL'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.INST_SN)<span class='tooltipEl' id='tINST_SN'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.INST_FIRMWARE)<span class='tooltipEl' id='tINST_FIRMWARE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.INST_FACTORY)<span class='tooltipEl' id='tINST_FACTORY'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.INST_CALIB_FUNC)<span class='tooltipEl' id='tINST_CALIB_FUNC'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
                @Html.DisplayNameFor(model => model.INST_COMMENT)<span class='tooltipEl' id='tINST_COMMENT'> <i class='fas fa-question-circle' /></span></th>*@
            <th>
                @Html.DisplayNameFor(model => model.INST_DATE)<span class='tooltipEl' id='tINST_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INST_MODEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INST_SN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INST_FIRMWARE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INST_FACTORY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INST_CALIB_FUNC)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.INST_COMMENT)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.INST_DATE)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |*@
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> | 
                <a asp-action="AddOperation" asp-route-id="@item.Id" class="fa fa-plus-square" title="Add Instrument Operation"></a> 
                @*| <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>*@
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
