@model IcosCoreExt.Models.ViewModels.GRP_D_SNOWViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete SNOW Depth</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW_PLOT)<span class='tooltipEl' id='tD_SNOW_PLOT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW_PLOT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW_EASTWARD_DIST)<span class='tooltipEl' id='tD_SNOW_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW_EASTWARD_DIST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW_NORTHWARD_DIST)<span class='tooltipEl' id='tD_SNOW_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW_NORTHWARD_DIST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW_DISTANCE_POLAR)<span class='tooltipEl' id='tD_SNOW_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW_DISTANCE_POLAR)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW_ANGLE_POLAR)<span class='tooltipEl' id='tD_SNOW_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW_ANGLE_POLAR)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW_VARMAP)<span class='tooltipEl' id='tD_SNOW_VARMAP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW_VARMAP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW)<span class='tooltipEl' id='tD_SNOW'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW_COMMENT)<span class='tooltipEl' id='tD_SNOW_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.D_SNOW_DATE)<span class='tooltipEl' id='tD_SNOW_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.D_SNOW_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
   