@model IcosCoreExt.Models.ViewModels.GRP_D_SNOWViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Edit SNOW Depth</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="D_SNOW_PLOT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="D_SNOW_PLOT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW_PLOT'></span>
        <span asp-validation-for="D_SNOW_PLOT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="D_SNOW_EASTWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="D_SNOW_EASTWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW_EASTWARD_DIST'></span>
        <span asp-validation-for="D_SNOW_EASTWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="D_SNOW_NORTHWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="D_SNOW_NORTHWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW_NORTHWARD_DIST'></span>
        <span asp-validation-for="D_SNOW_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="D_SNOW_DISTANCE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="D_SNOW_DISTANCE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW_DISTANCE_POLAR'></span>
        <span asp-validation-for="D_SNOW_DISTANCE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="D_SNOW_ANGLE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="D_SNOW_ANGLE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW_ANGLE_POLAR'></span>
        <span asp-validation-for="D_SNOW_ANGLE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="D_SNOW_VARMAP" class="col-sm-4 col-form-label required"></label>
        <input asp-for="D_SNOW_VARMAP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW_VARMAP'></span>
        <span asp-validation-for="D_SNOW_VARMAP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="D_SNOW" class="col-sm-4 col-form-label required"></label>
        <input asp-for="D_SNOW" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW'></span>
        <span asp-validation-for="D_SNOW" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="D_SNOW_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="D_SNOW_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW_COMMENT'></span>
        <span asp-validation-for="D_SNOW_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="D_SNOW_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="D_SNOW_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tD_SNOW_DATE'></span>
        <span asp-validation-for="D_SNOW_DATE" class="text-danger col-sm-12"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<script src="~/js/scripts/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">
<script type="text/javascript">
    $('#D_SNOW_PLOT').autocomplete({
        serviceUrl: '/api/SearchPlot/searchcpspi',
        params: { 'siteID': $('#Id_site option:selected').val()  },
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });
</script>

