@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_D_SNOWViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>SNOW DEPTH</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.D_SNOW_PLOT)<span class='tooltipEl' id='tD_SNOW_PLOT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.D_SNOW_EASTWARD_DIST)<span class='tooltipEl' id='tD_SNOW_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.D_SNOW_NORTHWARD_DIST)<span class='tooltipEl' id='tD_SNOW_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.D_SNOW_DISTANCE_POLAR<span class='tooltipEl' id='tD_SNOW_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span>)</th>
        <th>@Html.DisplayNameFor(model => model.D_SNOW_ANGLE_POLAR)<span class='tooltipEl' id='tD_SNOW_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>@Html.DisplayNameFor(model => model.D_SNOW_VARMAP)<span class='tooltipEl' id='tD_SNOW_VARMAP'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.D_SNOW)<span class='tooltipEl' id='tD_SNOW'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.D_SNOW_COMMENT)<span class='tooltipEl' id='tD_SNOW_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.D_SNOW_DATE)<span class='tooltipEl' id='tD_SNOW_DATE'> <i class='fas fa-question-circle' /></span></th>

            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

                <th>@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.D_SNOW_PLOT)</td>
                <td>@Html.DisplayFor(modelItem => item.D_SNOW_EASTWARD_DIST)</td>
                <td>@Html.DisplayFor(modelItem => item.D_SNOW_NORTHWARD_DIST)</td>
                @*<td>@Html.DisplayFor(modelItem => item.D_SNOW_DISTANCE_POLAR)</td>
                <td>@Html.DisplayFor(modelItem => item.D_SNOW_ANGLE_POLAR)</td>*@
                @*<td>@Html.DisplayFor(modelItem => item.D_SNOW_VARMAP)</td>*@
                <td>@Html.DisplayFor(modelItem => item.D_SNOW)</td>
                <td>@Html.DisplayFor(modelItem => item.D_SNOW_COMMENT)</td>
                <td>@Html.DisplayFor(modelItem => item.D_SNOW_DATE)</td>


                <td>
                    @if (item.DataStatus == 0)
                    {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                    <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
                </td>
            </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
