@model IcosCoreExt.Models.ViewModels.GRP_FLSMViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete Foliar Sampling</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_PLOT_ID)<span class='tooltipEl' id='tFLSM_PLOT_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_PLOT_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_TREE_ID)<span class='tooltipEl' id='tFLSM_TREE_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_TREE_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_SAMPLE_ID)<span class='tooltipEl' id='tFLSM_SAMPLE_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_SAMPLE_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_SPP)<span class='tooltipEl' id='tFLSM_SPP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_SPP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_LMA_AREA)<span class='tooltipEl' id='tFLSM_LMA_AREA'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_LMA_AREA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_LMA_DW)<span class='tooltipEl' id='tFLSM_LMA_DW'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_LMA_DW)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_SAMPLE_TYPE)<span class='tooltipEl' id='tFLSM_SAMPLE_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_SAMPLE_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_PTYPE)<span class='tooltipEl' id='tFLSM_PTYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_PTYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_COMMENT)<span class='tooltipEl' id='tFLSM_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FLSM_DATE)<span class='tooltipEl' id='tFLSM_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FLSM_DATE)</td>
            </tr>
        </tbody>
    </table>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
