@model IcosCoreExt.Models.ViewModels.GRP_FLSMViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Edit Foliar Sampling</h1>

<form asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="FLSM_PLOT_ID" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FLSM_PLOT_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_PLOT_ID'></span>
        <span asp-validation-for="FLSM_PLOT_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_TREE_ID" class="col-sm-4 col-form-label "></label>
        <input asp-for="FLSM_TREE_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_TREE_ID'></span>
        <span asp-validation-for="FLSM_TREE_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_SAMPLE_ID" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FLSM_SAMPLE_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_SAMPLE_ID'></span>
        <span asp-validation-for="FLSM_SAMPLE_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_SPP" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FLSM_SPP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_SPP'></span>
        <span asp-validation-for="FLSM_SPP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_LMA_AREA" class="col-sm-4 col-form-label "></label>
        <input asp-for="FLSM_LMA_AREA" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_LMA_AREA'></span>
        <span asp-validation-for="FLSM_LMA_AREA" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_LMA_DW" class="col-sm-4 col-form-label "></label>
        <input asp-for="FLSM_LMA_DW" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_LMA_DW'></span>
        <span asp-validation-for="FLSM_LMA_DW" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_SAMPLE_TYPE" class="col-sm-4 col-form-label required"></label>
        <select asp-for="FLSM_SAMPLE_TYPE" asp-items="@Model.FLSM_SAMPLE_TYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_SAMPLE_TYPE'></span>
        <span asp-validation-for="FLSM_SAMPLE_TYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_PTYPE" class="col-sm-4 col-form-label required"></label>
        <select asp-for="FLSM_PTYPE" asp-items="@Model.FLSM_PTYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_PTYPE'></span>
        <span asp-validation-for="FLSM_PTYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="FLSM_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_COMMENT'></span>
        <span asp-validation-for="FLSM_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FLSM_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FLSM_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFLSM_DATE'></span>
        <span asp-validation-for="FLSM_DATE" class="text-danger col-sm-12"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/scripts/jquery.autocomplete.js"></script>
<link href="~/js/scripts/styles.css" rel="stylesheet" />
<script type="text/javascript">
        $('#FLSM_PLOT_ID').autocomplete({
            serviceUrl: '/api/SearchPlot/search',
            params: { 'siteID': $('#Id_site option:selected').val() },
            dataType: 'json',
            transformResult: function (response) {
                if (response) {

                    return {
                        suggestions: $.map(response, function (dataItem) {
                            return { value: dataItem.trim(), data: dataItem.trim() };
                        })
                    };
                }
                else {
                    return {
                        suggestions: []
                    };
                }
            },
            onSelect: function (suggestion) {
                //suggestion.object contain all values pass thru, no need to call again

            },
            lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

                var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
                return re.test(suggestion.value);
            }
        });
    </script>

