@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_FLSMViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Foliar Sampling</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th width="110px">@Html.DisplayNameFor(model => model.FLSM_PLOT_ID)<span class='tooltipEl' id='tFLSM_PLOT_ID'> <i class='fas fa-question-circle' /></span></th>
            <th width="110px">@Html.DisplayNameFor(model => model.FLSM_TREE_ID)<span class='tooltipEl' id='tFLSM_TREE_ID'> <i class='fas fa-question-circle' /></span></th>
            <th width="120px">@Html.DisplayNameFor(model => model.FLSM_SAMPLE_ID)<span class='tooltipEl' id='tFLSM_SAMPLE_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FLSM_SPP)<span class='tooltipEl' id='tFLSM_SPP'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.FLSM_LMA_AREA)<span class='tooltipEl' id='tFLSM_LMA_AREA'> <i class='fas fa-question-circle' /></span></th>
                <th>@Html.DisplayNameFor(model => model.FLSM_LMA_DW)<span class='tooltipEl' id='tFLSM_LMA_DW'> <i class='fas fa-question-circle' /></span></th>
                <th>@Html.DisplayNameFor(model => model.FLSM_SAMPLE_TYPE)<span class='tooltipEl' id='tFLSM_SAMPLE_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <th>@Html.DisplayNameFor(model => model.FLSM_PTYPE)<span class='tooltipEl' id='tFLSM_PTYPE'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.FLSM_COMMENT)<span class='tooltipEl' id='tFLSM_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FLSM_DATE)<span class='tooltipEl' id='tFLSM_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.FLSM_PLOT_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.FLSM_TREE_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.FLSM_SAMPLE_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.FLSM_SPP)</td>
                @*<td>@Html.DisplayFor(modelItem => item.FLSM_LMA_AREA)</td>
                    <td>@Html.DisplayFor(modelItem => item.FLSM_LMA_DW)</td>
                    <td>@Html.DisplayFor(modelItem => item.FLSM_SAMPLE_TYPE)</td>
                    <td>@Html.DisplayFor(modelItem => item.FLSM_PTYPE)</td>*@
                <td>@Html.DisplayFor(modelItem => item.FLSM_COMMENT)</td>
                <td>@Html.DisplayFor(modelItem => item.FLSM_DATE)</td>




                <td>
                    @if (item.DataStatus == 0)
                    {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                    <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
                </td>
            </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
