@model IcosCoreExt.Models.ViewModels.GRP_INSTMANViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
    var cc = 0;
    if (ViewData["sent"] != null)
    {
        cc = 1;
    }
}

<h1>Create INSTrument MANagement</h1>

<div class="row">
    <div class="col-md-8" id="ui-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row ">
                <label asp-for="INSTMAN_MODEL" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_MODEL" asp-items="@Model.INSTMAN_MODELTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_MODEL'></span>
                <span asp-validation-for="INSTMAN_MODEL" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="INSTMAN_SN" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_SN" class="form-control col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_SN'></span>
                <span asp-validation-for="INSTMAN_SN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="INSTMAN_TYPE" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_TYPE" asp-items="@Model.INSTMAN_TYPETypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_TYPE'></span>
                <span asp-validation-for="INSTMAN_TYPE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_FIRMWARE" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_FIRMWARE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_FIRMWARE'></span>
                <span asp-validation-for="INSTMAN_FIRMWARE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_VARIABLE_H_V_R" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_VARIABLE_H_V_R" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_VARIABLE_H_V_R'></span>
                <span asp-validation-for="INSTMAN_VARIABLE_H_V_R" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_HEIGHT" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_HEIGHT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_HEIGHT'></span>
                <span asp-validation-for="INSTMAN_HEIGHT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_EASTWARD_DIST" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_EASTWARD_DIST" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_EASTWARD_DIST'></span>
                <span asp-validation-for="INSTMAN_EASTWARD_DIST" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_NORTHWARD_DIST" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_NORTHWARD_DIST" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_NORTHWARD_DIST'></span>
                <span asp-validation-for="INSTMAN_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_SAMPLING_INT" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_SAMPLING_INT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_SAMPLING_INT'></span>
                <span asp-validation-for="INSTMAN_SAMPLING_INT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_AVERAGING_INT" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_AVERAGING_INT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_AVERAGING_INT'></span>
                <span asp-validation-for="INSTMAN_AVERAGING_INT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_HEAT" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_HEAT" asp-items="@Model.INSTMAN_HEATTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_HEAT'></span>
                <span asp-validation-for="INSTMAN_HEAT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_SHIELDING" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_SHIELDING" asp-items="@Model.INSTMAN_SHIELDINGTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_SHIELDING'></span>
                <span asp-validation-for="INSTMAN_SHIELDING" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_ASPIRATION" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_ASPIRATION" asp-items="@Model.INSTMAN_ASPIRATIONTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_ASPIRATION'></span>
                <span asp-validation-for="INSTMAN_ASPIRATION" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_SA_OFFSET_NORTH" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_SA_OFFSET_NORTH" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_SA_OFFSET_NORTH'></span>
                <span asp-validation-for="INSTMAN_SA_OFFSET_NORTH" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_SA_WIND_FORMAT" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_SA_WIND_FORMAT" asp-items="@Model.INSTMAN_SA_WIND_FORMATTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_SA_WIND_FORMAT'></span>
                <span asp-validation-for="INSTMAN_SA_WIND_FORMAT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_SA_GILL_ALIGN" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_SA_GILL_ALIGN" asp-items="@Model.INSTMAN_SA_GILL_ALIGNTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_SA_GILL_ALIGN'></span>
                <span asp-validation-for="INSTMAN_SA_GILL_ALIGN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CP_FILTERS" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_CP_FILTERS" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CP_FILTERS'></span>
                <span asp-validation-for="INSTMAN_GA_CP_FILTERS" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CP_TUBE_LENGTH" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_CP_TUBE_LENGTH" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CP_TUBE_LENGTH'></span>
                <span asp-validation-for="INSTMAN_GA_CP_TUBE_LENGTH" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CP_TUBE_IN_DIAM" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_CP_TUBE_IN_DIAM" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CP_TUBE_IN_DIAM'></span>
                <span asp-validation-for="INSTMAN_GA_CP_TUBE_IN_DIAM" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CP_TUBE_MAT" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_GA_CP_TUBE_MAT" asp-items="@Model.INSTMAN_GA_CP_TUBE_MATTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CP_TUBE_MAT'></span>
                <span asp-validation-for="INSTMAN_GA_CP_TUBE_MAT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CP_TUBE_THERM" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_GA_CP_TUBE_THERM" asp-items="@Model.INSTMAN_GA_CP_TUBE_THERMTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CP_TUBE_THERM'></span>
                <span asp-validation-for="INSTMAN_GA_CP_TUBE_THERM" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CP_FLOW_RATE" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_CP_FLOW_RATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CP_FLOW_RATE'></span>
                <span asp-validation-for="INSTMAN_GA_CP_FLOW_RATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CP_MFC" class="col-sm-5 col-form-label "></label>
                <select asp-for="INSTMAN_GA_CP_MFC" asp-items="@Model.INSTMAN_GA_CP_MFCTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CP_MFC'></span>
                <span asp-validation-for="INSTMAN_GA_CP_MFC" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_OP_AZIM_MOUNT" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_OP_AZIM_MOUNT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_OP_AZIM_MOUNT'></span>
                <span asp-validation-for="INSTMAN_GA_OP_AZIM_MOUNT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_OP_VERT_MOUNT" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_OP_VERT_MOUNT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_OP_VERT_MOUNT'></span>
                <span asp-validation-for="INSTMAN_GA_OP_VERT_MOUNT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CO2_ZERO" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_CO2_ZERO" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CO2_ZERO'></span>
                <span asp-validation-for="INSTMAN_GA_CO2_ZERO" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CO2_OFFSET" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_CO2_OFFSET" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CO2_OFFSET'></span>
                <span asp-validation-for="INSTMAN_GA_CO2_OFFSET" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CO2_REF" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_CO2_REF" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CO2_REF'></span>
                <span asp-validation-for="INSTMAN_GA_CO2_REF" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_H2O_ZERO" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_H2O_ZERO" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_H2O_ZERO'></span>
                <span asp-validation-for="INSTMAN_GA_H2O_ZERO" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_H2O_OFFSET" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_H2O_OFFSET" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_H2O_OFFSET'></span>
                <span asp-validation-for="INSTMAN_GA_H2O_OFFSET" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_H2O_REF" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_H2O_REF" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_H2O_REF'></span>
                <span asp-validation-for="INSTMAN_GA_H2O_REF" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_GA_CAL_TA" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_GA_CAL_TA" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_GA_CAL_TA'></span>
                <span asp-validation-for="INSTMAN_GA_CAL_TA" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_DATE" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_DATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_DATE'></span>
                <span asp-validation-for="INSTMAN_DATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_DATE_START" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_DATE_START" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_DATE_START'></span>
                <span asp-validation-for="INSTMAN_DATE_START" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="INSTMAN_DATE_END" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_DATE_END" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_DATE_END'></span>
                <span asp-validation-for="INSTMAN_DATE_END" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="INSTMAN_DATE_UNC" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_DATE_UNC" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_DATE_UNC'></span>
                <span asp-validation-for="INSTMAN_DATE_UNC" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="INSTMAN_COMMENT" class="col-sm-5 col-form-label "></label>
                <input asp-for="INSTMAN_COMMENT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tINSTMAN_COMMENT'></span>
                <span asp-validation-for="INSTMAN_COMMENT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/js/scripts/styles.css">
    <script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

    <script>
        let varList = [];
        let selectList = {};
        let loaded = @cc;

        let availableInstManSensors = [];
        let opList = [];

        $(document).ready(function () {
        //DIEGO:::
        //to get from select sites list
        var params = { siteId: $('#Id_site option:selected').val() };
        $.when(
            $.ajax({ // First Request
                url: '/api/uifacilities/GetInstmanOps',
                contentType: "application/json",
                dataType: "json",
                success: function (response) {

                    opList = response.slice();
                    console.log("VLIST " + opList);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_INSTMAN operation data. Please try again");
                    return;
                }
            }),

            $.ajax({ //third Request
                url: '/api/uifacilities/getavailableinstmaninst',
                contentType: "application/json",
                dataType: "json",
                data: (params),
                success: function (avresp) {

                    availableInstManSensors = avresp.slice();
                    if (availableInstManSensors.length === 0) {
                        alert("No InstMan sensors available. Please insert instrument in GRP_INST group first");
                    }
                    console.log("Av Bm " + availableInstManSensors);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_BM operation data. Please try again");
                }
            })

        ).then(function () {
            $.each(availableInstManSensors, function (i, item) {
                $('#INSTMAN_MODEL').append($('<option>', {
                    value: item.model,
                    text: item.model
                }));

                $('#INSTMAN_SN').append($('<option>', {
                    value: item.sn,
                    text: item.sn
                }));
            });

            if (loaded === 0) {

            }

            else {
                $("#INSTMAN_MODEL").val('@Model.INSTMAN_MODEL');
                $("#INSTMAN_SN").val('@Model.INSTMAN_SN');
                //ModelSnManager($("#INSTMAN_MODEL option:selected").index() - 1);
                $("#INSTMAN_TYPE").val('@Model.INSTMAN_TYPE');
                selectList = {};
                selectList = opList.find(x => x.type.toLowerCase() === $("#INSTMAN_TYPE").val().toLowerCase());
                console.log(selectList);
                showItems();
            }

        });

        });

        const hideItems = () => {

            $.each(selectList.opList, function (key, value) {
                var ctrl = $("#ui-container").find("#" + value.variable);
                var _parent = $("#ui-container").find("#" + value.variable).parent();
                if (value.variable != "INSTMAN_MODEL" && value.variable != "INSTMAN_SN" && value.variable != "INSTMAN_TYPE") {
                    $("#" + value.variable).val('');
                    _parent.addClass("collapse");
                }
            });


        };

        const showItems = () => {
            const sensor = $("#INSTMAN_MODEL").val();

            $.each(selectList.opList, function (key, value) {
                console.log(key + " : " + value.variable);
                if (sensor.startsWith("GA_CP")) {
                    if (value.variable.startsWith("INSTMAN_SA_")) { return; }
                }
                else if (sensor.startsWith("SA-Gill")) {
                    if (value.variable.startsWith("INSTMAN_GA_")) { return; }
                }
                else {
                    if (value.variable.startsWith("INSTMAN_GA_") || value.variable.startsWith("INSTMAN_SA_")) {
                        return;
                    }
                }
                var ctrl = $("#ui-container").find("#" + value.variable);
                var _parent = $("#ui-container").find("#" + value.variable).parent();
                _parent.removeClass("collapse");
            });
        };


        $("#INSTMAN_MODEL").on("change", function (e) {

            if (this.selectedIndex == 0) {
                $("#INSTMAN_SN").val('');
            }
            else {
                $("#INSTMAN_SN").val(availableInstManSensors[this.selectedIndex - 1].sn);
            }

            //ModelSnManager(this.selectedIndex - 1);
            hideItems();
            $("#INSTMAN_TYPE").val('');
        });

        $("#INSTMAN_SN").on("change", function (e) {

            if (this.selectedIndex == 0) {
                $("#INSTMAN_MODEL").val('');
            }
            else {
                $("#INSTMAN_MODEL").val(availableInstManSensors[this.selectedIndex - 1].model);
            }
            //ModelSnManager(this.selectedIndex - 1);
            hideItems();
            $("#INSTMAN_TYPE").val('');
        });

        $("#INSTMAN_TYPE").on("change", function (e) {
            hideItems();
            selectList = {};
            //varList
            for (var i = 0; i < opList.length; i++) {
                //console.log(opList[i].OpList);
                if (opList[i].type.toLowerCase() === this.value.toLowerCase()) {
                    selectList = opList[i];
                    break;
                }
            }
            console.log("selectList type change " + selectList);
            let selOption = this.value.toLowerCase();
            //   console.log("selOption " + selOption);

            var bla = opList[this.selectedIndex - 1];
            console.log("BLA " + opList + " sel ind " + this.selectedIndex);
            // selectList = varList.find(x => x.type.toLowerCase() === selOption).opList.slice();

            showItems();
        });

        $('#INSTMAN_VARIABLE_H_V_R').autocomplete({
            serviceUrl: '/api/SearchPlot/getbmvars',
            dataType: 'json',
            transformResult: function (response) {
                if (response) {

                    return {
                        suggestions: $.map(response, function (dataItem) {
                            return { value: dataItem.trim(), data: dataItem.trim() };
                        })
                    };
                }
                else {
                    return {
                        suggestions: []
                    };
                }
            },
            onSelect: function (suggestion) {
                //suggestion.object contain all values pass thru, no need to call again

            },
            lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

                var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
                return re.test(suggestion.value);
            }
        });


        /*const ModelSnManager = (index) => {
            $('#INSTMAN_TYPE')
                .empty()
                .append('<option value="">Select</option>');
            console.log("availableInstManSensors[index].possibleOps  " + availableInstManSensors[index].possibleOps);
            $.each(availableInstManSensors[index].possibleOps, function (i, item) {
                console.log("val  " + item + " text " + item);
                $('#INSTMAN_TYPE').append($('<option>', {
                    value: item,
                    text: item
                }));
            });
        };*/

    </script>
}