@model IcosCoreExt.Models.ViewModels.GRP_INSTMANViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>INSTMAN Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_MODEL)<span class='tooltipEl' id='tINSTMAN_MODEL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_MODEL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_SN)<span class='tooltipEl' id='tINSTMAN_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_TYPE)<span class='tooltipEl' id='tINSTMAN_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_VARIABLE_H_V_R)<span class='tooltipEl' id='tINSTMAN_VARIABLE_H_V_R'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_VARIABLE_H_V_R)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_HEIGHT)<span class='tooltipEl' id='tINSTMAN_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_HEIGHT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_EASTWARD_DIST)<span class='tooltipEl' id='tINSTMAN_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_EASTWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_NORTHWARD_DIST)<span class='tooltipEl' id='tINSTMAN_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_NORTHWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_SAMPLING_INT)<span class='tooltipEl' id='tINSTMAN_SAMPLING_INT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_SAMPLING_INT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_AVERAGING_INT)<span class='tooltipEl' id='tINSTMAN_AVERAGING_INT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_AVERAGING_INT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_HEAT)<span class='tooltipEl' id='tINSTMAN_HEAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_HEAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_SHIELDING)<span class='tooltipEl' id='tINSTMAN_SHIELDING'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_SHIELDING)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_ASPIRATION)<span class='tooltipEl' id='tINSTMAN_ASPIRATION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_ASPIRATION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_SA_OFFSET_NORTH)<span class='tooltipEl' id='tINSTMAN_SA_OFFSET_NORTH'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_SA_OFFSET_NORTH)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_SA_WIND_FORMAT)<span class='tooltipEl' id='tINSTMAN_SA_WIND_FORMAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_SA_WIND_FORMAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_SA_GILL_ALIGN)<span class='tooltipEl' id='tINSTMAN_SA_GILL_ALIGN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_SA_GILL_ALIGN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CP_FILTERS)<span class='tooltipEl' id='tINSTMAN_GA_CP_FILTERS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CP_FILTERS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CP_TUBE_LENGTH)<span class='tooltipEl' id='tINSTMAN_GA_CP_TUBE_LENGTH'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CP_TUBE_LENGTH)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CP_TUBE_IN_DIAM)<span class='tooltipEl' id='tINSTMAN_GA_CP_TUBE_IN_DIAM'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CP_TUBE_IN_DIAM)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CP_TUBE_MAT)<span class='tooltipEl' id='tINSTMAN_GA_CP_TUBE_MAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CP_TUBE_MAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CP_TUBE_THERM)<span class='tooltipEl' id='tINSTMAN_GA_CP_TUBE_THERM'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CP_TUBE_THERM)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CP_FLOW_RATE)<span class='tooltipEl' id='tINSTMAN_GA_CP_FLOW_RATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CP_FLOW_RATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CP_MFC)<span class='tooltipEl' id='tINSTMAN_GA_CP_MFC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CP_MFC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_OP_AZIM_MOUNT)<span class='tooltipEl' id='tINSTMAN_GA_OP_AZIM_MOUNT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_OP_AZIM_MOUNT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_OP_VERT_MOUNT)<span class='tooltipEl' id='tINSTMAN_GA_OP_VERT_MOUNT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_OP_VERT_MOUNT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CO2_ZERO)<span class='tooltipEl' id='tINSTMAN_GA_CO2_ZERO'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CO2_ZERO)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CO2_OFFSET)<span class='tooltipEl' id='tINSTMAN_GA_CO2_OFFSET'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CO2_OFFSET)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CO2_REF)<span class='tooltipEl' id='tINSTMAN_GA_CO2_REF'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CO2_REF)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_H2O_ZERO)<span class='tooltipEl' id='tINSTMAN_GA_H2O_ZERO'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_H2O_ZERO)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_H2O_OFFSET)<span class='tooltipEl' id='tINSTMAN_GA_H2O_OFFSET'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_H2O_OFFSET)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_H2O_REF)<span class='tooltipEl' id='tINSTMAN_GA_H2O_REF'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_H2O_REF)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_GA_CAL_TA)<span class='tooltipEl' id='tINSTMAN_GA_CAL_TA'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_GA_CAL_TA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_DATE)<span class='tooltipEl' id='tINSTMAN_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_DATE_START)<span class='tooltipEl' id='tINSTMAN_DATE_START'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_DATE_START)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_DATE_END)<span class='tooltipEl' id='tINSTMAN_DATE_END'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_DATE_END)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_DATE_UNC)<span class='tooltipEl' id='tINSTMAN_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_DATE_UNC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_COMMENT)<span class='tooltipEl' id='tINSTMAN_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.INSTMAN_FIRMWARE)<span class='tooltipEl' id='tINSTMAN_FIRMWARE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.INSTMAN_FIRMWARE)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    @*{<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}*@
    <a asp-action="Index">Back to List</a>
</div>
