@model IcosCoreExt.Models.ViewModels.GRP_LAND_OWNERSHIPViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Create LAND OWNERSHIP</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="LAND_OWNERSHIP" class="col-sm-4 col-form-label "></label>
        <select asp-for="LAND_OWNERSHIP" asp-items="@Model.LANDOWNERSHIP" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tLAND_OWNERSHIP'></span>
        <span asp-validation-for="LAND_OWNERSHIP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LAND_OWNER" class="col-sm-4 col-form-label "></label>
        <input asp-for="LAND_OWNER" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLAND_OWNER'></span>
        <span asp-validation-for="LAND_OWNER" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LAND_DATE" class="col-sm-4 col-form-label "></label>
        <input asp-for="LAND_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLAND_DATE'></span>
        <span asp-validation-for="LAND_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LAND_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="LAND_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLAND_COMMENT'></span>
        <span asp-validation-for="LAND_COMMENT" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
