@model IcosCoreExt.Models.ViewModels.GRP_LAND_OWNERSHIPViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete LAND OWNERSHIP</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.LAND_OWNERSHIP)<span class='tooltipEl' id='tLAND_OWNERSHIP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LAND_OWNERSHIP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LAND_OWNER)<span class='tooltipEl' id='tLAND_OWNER'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LAND_OWNER)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LAND_DATE)<span class='tooltipEl' id='tLAND_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LAND_DATE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LAND_COMMENT)<span class='tooltipEl' id='tLAND_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LAND_COMMENT)</td>
</tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
   