@model IcosCoreExt.Models.ViewModels.GRP_LAND_OWNERSHIPViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>LAND OWNERSHIP Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LAND_OWNERSHIP)<span class='tooltipEl' id='tLAND_OWNERSHIP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.LAND_OWNERSHIP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LAND_OWNER)<span class='tooltipEl' id='tLAND_OWNER'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.LAND_OWNER)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LAND_DATE)<span class='tooltipEl' id='tLAND_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.LAND_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LAND_COMMENT)<span class='tooltipEl' id='tLAND_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.LAND_COMMENT)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
</div>
