@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_LAND_OWNERSHIPViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>LAND OWNERSHIP</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAND_OWNERSHIP)<span class='tooltipEl' id='tLAND_OWNERSHIP'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.LAND_OWNER)<span class='tooltipEl' id='tLAND_OWNER'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.LAND_DATE)<span class='tooltipEl' id='tLAND_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.LAND_COMMENT)<span class='tooltipEl' id='tLAND_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAND_OWNERSHIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAND_OWNER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAND_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAND_COMMENT)
            </td>
            <td>
                @if (item.DataStatus == 0)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> @:|
                    <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> @:|
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>
                }
            </td>
        </tr>
}
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>

