@model IcosCoreExt.Models.ViewModels.GRP_SPPSViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create Species</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="SPPS_PLOT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="SPPS_PLOT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_PLOT'></span>
        <span asp-validation-for="SPPS_PLOT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_LOCATION" class="col-sm-4 col-form-label "></label>
        <input asp-for="SPPS_LOCATION" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_LOCATION'></span>
        <span asp-validation-for="SPPS_LOCATION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_LOCATION_LAT" class="col-sm-4 col-form-label "></label>
        <input asp-for="SPPS_LOCATION_LAT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_LOCATION_LAT'></span>
        <span asp-validation-for="SPPS_LOCATION_LAT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_LOCATION_LON" class="col-sm-4 col-form-label "></label>
        <input asp-for="SPPS_LOCATION_LON" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_LOCATION_LON'></span>
        <span asp-validation-for="SPPS_LOCATION_LON" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_LOCATION_DIST" class="col-sm-4 col-form-label "></label>
        <input asp-for="SPPS_LOCATION_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_LOCATION_DIST'></span>
        <span asp-validation-for="SPPS_LOCATION_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_LOCATION_ANG" class="col-sm-4 col-form-label "></label>
        <input asp-for="SPPS_LOCATION_ANG" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_LOCATION_ANG'></span>
        <span asp-validation-for="SPPS_LOCATION_ANG" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS" class="col-sm-4 col-form-label "></label>
        <input asp-for="SPPS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS'></span>
        <span asp-validation-for="SPPS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_PERC_COVER" class="col-sm-4 col-form-label "></label>
        <input asp-for="SPPS_PERC_COVER" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_PERC_COVER'></span>
        <span asp-validation-for="SPPS_PERC_COVER" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_TWSP_PCT" class="col-sm-4 col-form-label "></label>
        <select asp-for="SPPS_TWSP_PCT" asp-items="@Model.SPPS_TWSP_PCTTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_TWSP_PCT'></span>
        <span asp-validation-for="SPPS_TWSP_PCT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_PTYPE" class="col-sm-4 col-form-label "></label>
        <select asp-for="SPPS_PTYPE" asp-items="@Model.SPPS_PTYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_PTYPE'></span>
        <span asp-validation-for="SPPS_PTYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="SPPS_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_COMMENT'></span>
        <span asp-validation-for="SPPS_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SPPS_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="SPPS_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSPPS_DATE'></span>
        <span asp-validation-for="SPPS_DATE" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
<script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<script type="text/javascript">
    $('#SPPS_PLOT').autocomplete({
        serviceUrl: '/api/SearchPlot/search',
        params: { 'siteID': $('#Id_site option:selected').val() },
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });
</script>

