@model IcosCoreExt.Models.ViewModels.GRP_SPPSViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Species Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_PLOT)<span class='tooltipEl' id='tSPPS_PLOT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_PLOT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION)<span class='tooltipEl' id='tSPPS_LOCATION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_LOCATION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION_LAT)<span class='tooltipEl' id='tSPPS_LOCATION_LAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_LOCATION_LAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION_LON)<span class='tooltipEl' id='tSPPS_LOCATION_LON'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_LOCATION_LON)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION_DIST)<span class='tooltipEl' id='tSPPS_LOCATION_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_LOCATION_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION_ANG)<span class='tooltipEl' id='tSPPS_LOCATION_ANG'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_LOCATION_ANG)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS)<span class='tooltipEl' id='tSPPS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_PERC_COVER)<span class='tooltipEl' id='tSPPS_PERC_COVER'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_PERC_COVER)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_TWSP_PCT)<span class='tooltipEl' id='tSPPS_TWSP_PCT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_TWSP_PCT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_PTYPE)<span class='tooltipEl' id='tSPPS_PTYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_PTYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_COMMENT)<span class='tooltipEl' id='tSPPS_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SPPS_DATE)<span class='tooltipEl' id='tSPPS_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SPPS_DATE)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
