@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_SPPSViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Species</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.SPPS_PLOT)<span class='tooltipEl' id='tSPPS_PLOT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION)<span class='tooltipEl' id='tSPPS_LOCATION'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.SPPS_LOCATION_LAT)<span class='tooltipEl' id='tSPPS_LOCATION_LAT'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION_LON)<span class='tooltipEl' id='tSPPS_LOCATION_LON'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION_DIST)<span class='tooltipEl' id='tSPPS_LOCATION_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SPPS_LOCATION_ANG)<span class='tooltipEl' id='tSPPS_LOCATION_ANG'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.SPPS)<span class='tooltipEl' id='tSPPS'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.SPPS_PERC_COVER)<span class='tooltipEl' id='tSPPS_PERC_COVER'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SPPS_TWSP_PCT)<span class='tooltipEl' id='tSPPS_TWSP_PCT'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.SPPS_PTYPE)<span class='tooltipEl' id='tSPPS_PTYPE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.SPPS_COMMENT)<span class='tooltipEl' id='tSPPS_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.SPPS_DATE)<span class='tooltipEl' id='tSPPS_DATE'> <i class='fas fa-question-circle' /></span></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.SPPS_PLOT)</td>
            <td>@Html.DisplayFor(modelItem => item.SPPS_LOCATION)</td>
            @*<td>@Html.DisplayFor(modelItem => item.SPPS_LOCATION_LAT)</td>
        <td>@Html.DisplayFor(modelItem => item.SPPS_LOCATION_LON)</td>
        <td>@Html.DisplayFor(modelItem => item.SPPS_LOCATION_DIST)</td>
        <td>@Html.DisplayFor(modelItem => item.SPPS_LOCATION_ANG)</td>*@
            <td>@Html.DisplayFor(modelItem => item.SPPS)</td>
            @*<td>@Html.DisplayFor(modelItem => item.SPPS_PERC_COVER)</td>
        <td>@Html.DisplayFor(modelItem => item.SPPS_TWSP_PCT)</td>*@
            <td>@Html.DisplayFor(modelItem => item.SPPS_PTYPE)</td>
            <td>@Html.DisplayFor(modelItem => item.SPPS_COMMENT)</td>
            <td>@Html.DisplayFor(modelItem => item.SPPS_DATE)</td>


            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
