@model IcosCoreExt.Models.ViewModels.GRP_TREEViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create TREE</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="TREE_PLOT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="TREE_PLOT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_PLOT'></span>
        <span asp-validation-for="TREE_PLOT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_ID" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_ID'></span>
        <span asp-validation-for="TREE_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_EASTWARD_DIST" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_EASTWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_EASTWARD_DIST'></span>
        <span asp-validation-for="TREE_EASTWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_NORTHWARD_DIST" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_NORTHWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_NORTHWARD_DIST'></span>
        <span asp-validation-for="TREE_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_DISTANCE_POLAR" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_DISTANCE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_DISTANCE_POLAR'></span>
        <span asp-validation-for="TREE_DISTANCE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_ANGLE_POLAR" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_ANGLE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_ANGLE_POLAR'></span>
        <span asp-validation-for="TREE_ANGLE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_VARMAP" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_VARMAP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_VARMAP'></span>
        <span asp-validation-for="TREE_VARMAP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_DBH" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_DBH" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_DBH'></span>
        <span asp-validation-for="TREE_DBH" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_STUMP" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_STUMP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_STUMP'></span>
        <span asp-validation-for="TREE_STUMP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_HEIGHT" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_HEIGHT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_HEIGHT'></span>
        <span asp-validation-for="TREE_HEIGHT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_SPP" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_SPP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_SPP'></span>
        <span asp-validation-for="TREE_SPP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_STATUS" class="col-sm-4 col-form-label "></label>
        <select asp-for="TREE_STATUS" asp-items="@Model.TREE_STATUSTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTREE_STATUS'></span>
        <span asp-validation-for="TREE_STATUS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="TREE_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_COMMENT'></span>
        <span asp-validation-for="TREE_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TREE_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="TREE_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTREE_DATE'></span>
        <span asp-validation-for="TREE_DATE" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
<script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<script type="text/javascript">
    $('#TREE_PLOT').autocomplete({
        serviceUrl: '/api/SearchPlot/search',
        params: { 'siteID': $('#Id_site option:selected').val() },
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });
</script>
