@model IcosCoreExt.Models.ViewModels.GRP_TREEViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete TREE</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.TREE_PLOT)<span class='tooltipEl' id='tTREE_PLOT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_PLOT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_ID)<span class='tooltipEl' id='tTREE_ID'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_ID)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_EASTWARD_DIST)<span class='tooltipEl' id='tTREE_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_EASTWARD_DIST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_NORTHWARD_DIST)<span class='tooltipEl' id='tTREE_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_NORTHWARD_DIST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_DISTANCE_POLAR)<span class='tooltipEl' id='tTREE_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_DISTANCE_POLAR)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_ANGLE_POLAR)<span class='tooltipEl' id='tTREE_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_ANGLE_POLAR)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_VARMAP)<span class='tooltipEl' id='tTREE_VARMAP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_VARMAP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_DBH)<span class='tooltipEl' id='tTREE_DBH'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_DBH)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_STUMP)<span class='tooltipEl' id='tTREE_STUMP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_STUMP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_HEIGHT)<span class='tooltipEl' id='tTREE_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_HEIGHT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_SPP)<span class='tooltipEl' id='tTREE_SPP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_SPP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_STATUS)<span class='tooltipEl' id='tTREE_STATUS'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_STATUS)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_COMMENT)<span class='tooltipEl' id='tTREE_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TREE_DATE)<span class='tooltipEl' id='tTREE_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TREE_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
   