@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_TREEViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>TREE</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.TREE_PLOT)<span class='tooltipEl' id='tTREE_PLOT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.TREE_ID)<span class='tooltipEl' id='tTREE_ID'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.TREE_EASTWARD_DIST)<span class='tooltipEl' id='tTREE_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.TREE_NORTHWARD_DIST)<span class='tooltipEl' id='tTREE_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.TREE_DISTANCE_POLAR)<span class='tooltipEl' id='tTREE_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.TREE_ANGLE_POLAR)<span class='tooltipEl' id='tTREE_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.TREE_VARMAP)<span class='tooltipEl' id='tTREE_VARMAP'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.TREE_DBH)<span class='tooltipEl' id='tTREE_DBH'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.TREE_STUMP)<span class='tooltipEl' id='tTREE_STUMP'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.TREE_HEIGHT)<span class='tooltipEl' id='tTREE_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.TREE_SPP)<span class='tooltipEl' id='tTREE_SPP'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.TREE_STATUS)<span class='tooltipEl' id='tTREE_STATUS'> <i class='fas fa-question-circle' /></span></th>*@
            <th style="min-width:120px">@Html.DisplayNameFor(model => model.TREE_COMMENT)<span class='tooltipEl' id='tTREE_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.TREE_DATE)<span class='tooltipEl' id='tTREE_DATE'> <i class='fas fa-question-circle' /></span></th>

            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.TREE_PLOT)</td>
            <td>@Html.DisplayFor(modelItem => item.TREE_ID)</td>
            @*<td>@Html.DisplayFor(modelItem => item.TREE_EASTWARD_DIST)</td>
        <td>@Html.DisplayFor(modelItem => item.TREE_NORTHWARD_DIST)</td>
        <td>@Html.DisplayFor(modelItem => item.TREE_DISTANCE_POLAR)</td>
        <td>@Html.DisplayFor(modelItem => item.TREE_ANGLE_POLAR)</td>
        <td>@Html.DisplayFor(modelItem => item.TREE_VARMAP)</td>*@
            <td>@Html.DisplayFor(modelItem => item.TREE_DBH)</td>
            <td>@Html.DisplayFor(modelItem => item.TREE_STUMP)</td>
            <td>@Html.DisplayFor(modelItem => item.TREE_HEIGHT)</td>
            <td>@Html.DisplayFor(modelItem => item.TREE_SPP)</td>
            @*<td>@Html.DisplayFor(modelItem => item.TREE_STATUS)</td>*@
            <td>@Html.DisplayFor(modelItem => item.TREE_COMMENT)</td>
            <td>@Html.DisplayFor(modelItem => item.TREE_DATE)</td>


            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
