@model IcosCoreExt.Models.ViewModels.GRP_SOSMViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Soil Sampling Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_PLOT_ID)<span class='tooltipEl' id='tSOSM_PLOT_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_PLOT_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_SAMPLE_ID)<span class='tooltipEl' id='tSOSM_SAMPLE_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_SAMPLE_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_SAMPLE_MAT)<span class='tooltipEl' id='tSOSM_SAMPLE_MAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_SAMPLE_MAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_AREA)<span class='tooltipEl' id='tSOSM_AREA'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_AREA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_VOLUME)<span class='tooltipEl' id='tSOSM_VOLUME'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_VOLUME)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_UD)<span class='tooltipEl' id='tSOSM_UD'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_UD)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_LD)<span class='tooltipEl' id='tSOSM_LD'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_LD)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_THICKNESS)<span class='tooltipEl' id='tSOSM_THICKNESS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_THICKNESS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_W0)<span class='tooltipEl' id='tSOSM_W0'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_W0)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_W30)<span class='tooltipEl' id='tSOSM_W30'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_W30)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_W30_E)<span class='tooltipEl' id='tSOSM_W30_E'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_W30_E)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_W105_S)<span class='tooltipEl' id='tSOSM_W105_S'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_W105_S)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_W70_R)<span class='tooltipEl' id='tSOSM_W70_R'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_W70_R)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_WX30_E)<span class='tooltipEl' id='tSOSM_WX30_E'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_WX30_E)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_WX105_E)<span class='tooltipEl' id='tSOSM_WX105_E'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_WX105_E)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_W0_OH)<span class='tooltipEl' id='tSOSM_W0_OH'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_W0_OH)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_W0_OS)<span class='tooltipEl' id='tSOSM_W0_OS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_W0_OS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_W0_OR)<span class='tooltipEl' id='tSOSM_W0_OR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_W0_OR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_COMMENT)<span class='tooltipEl' id='tSOSM_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SOSM_DATE)<span class='tooltipEl' id='tSOSM_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.SOSM_DATE)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
