@model IcosCoreExt.Models.ViewModels.GRP_SOSMViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Edit Soil Sampling</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="SOSM_PLOT_ID" class="col-sm-4 col-form-label required"></label>
        <input asp-for="SOSM_PLOT_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_PLOT_ID'></span>
        <span asp-validation-for="SOSM_PLOT_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_SAMPLE_ID" class="col-sm-4 col-form-label required"></label>
        <input asp-for="SOSM_SAMPLE_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_SAMPLE_ID'></span>
        <span asp-validation-for="SOSM_SAMPLE_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_SAMPLE_MAT" class="col-sm-4 col-form-label required"></label>
        <select asp-for="SOSM_SAMPLE_MAT" asp-items="@Model.SOSM_SAMPLE_MATTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_SAMPLE_MAT'></span>
        <span asp-validation-for="SOSM_SAMPLE_MAT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_AREA" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_AREA" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_AREA'></span>
        <span asp-validation-for="SOSM_AREA" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_VOLUME" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_VOLUME" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_VOLUME'></span>
        <span asp-validation-for="SOSM_VOLUME" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_UD" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_UD" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_UD'></span>
        <span asp-validation-for="SOSM_UD" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_LD" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_LD" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_LD'></span>
        <span asp-validation-for="SOSM_LD" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_THICKNESS" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_THICKNESS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_THICKNESS'></span>
        <span asp-validation-for="SOSM_THICKNESS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_W0" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_W0" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_W0'></span>
        <span asp-validation-for="SOSM_W0" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_W30" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_W30" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_W30'></span>
        <span asp-validation-for="SOSM_W30" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_W30_E" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_W30_E" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_W30_E'></span>
        <span asp-validation-for="SOSM_W30_E" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_W105_S" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_W105_S" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_W105_S'></span>
        <span asp-validation-for="SOSM_W105_S" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_W70_R" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_W70_R" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_W70_R'></span>
        <span asp-validation-for="SOSM_W70_R" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_WX30_E" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_WX30_E" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_WX30_E'></span>
        <span asp-validation-for="SOSM_WX30_E" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_WX105_E" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_WX105_E" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_WX105_E'></span>
        <span asp-validation-for="SOSM_WX105_E" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_W0_OH" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_W0_OH" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_W0_OH'></span>
        <span asp-validation-for="SOSM_W0_OH" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_W0_OS" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_W0_OS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_W0_OS'></span>
        <span asp-validation-for="SOSM_W0_OS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_W0_OR" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_W0_OR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_W0_OR'></span>
        <span asp-validation-for="SOSM_W0_OR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="SOSM_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_COMMENT'></span>
        <span asp-validation-for="SOSM_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="SOSM_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="SOSM_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tSOSM_DATE'></span>
        <span asp-validation-for="SOSM_DATE" class="text-danger col-sm-12"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<script src="~/js/scripts/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">
<script type="text/javascript">
    $('#SOSM_PLOT_ID').autocomplete({
        serviceUrl: '/api/SearchPlot/searchsp',
        params: { 'siteID': $('#Id_site option:selected').val() },
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });
</script>

