@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_SOSMViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Soil Sampling</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.SOSM_PLOT_ID)<span class='tooltipEl' id='tSOSM_PLOT_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.SOSM_SAMPLE_ID)<span class='tooltipEl' id='tSOSM_SAMPLE_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.SOSM_SAMPLE_MAT)<span class='tooltipEl' id='tSOSM_SAMPLE_MAT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.SOSM_AREA)<span class='tooltipEl' id='tSOSM_AREA'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.SOSM_VOLUME)<span class='tooltipEl' id='tSOSM_VOLUME'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>@Html.DisplayNameFor(model => model.SOSM_UD)<span class='tooltipEl' id='tSOSM_UD'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_LD)<span class='tooltipEl' id='tSOSM_LD'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_THICKNESS)<span class='tooltipEl' id='tSOSM_THICKNESS'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_W0)<span class='tooltipEl' id='tSOSM_W0'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_W30)<span class='tooltipEl' id='tSOSM_W30'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_W30_E)<span class='tooltipEl' id='tSOSM_W30_E'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_W105_S)<span class='tooltipEl' id='tSOSM_W105_S'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_W70_R)<span class='tooltipEl' id='tSOSM_W70_R'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_WX30_E)<span class='tooltipEl' id='tSOSM_WX30_E'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_WX105_E)<span class='tooltipEl' id='tSOSM_WX105_E'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_W0_OH)<span class='tooltipEl' id='tSOSM_W0_OH'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_W0_OS)<span class='tooltipEl' id='tSOSM_W0_OS'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.SOSM_W0_OR)<span class='tooltipEl' id='tSOSM_W0_OR'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.SOSM_COMMENT)<span class='tooltipEl' id='tSOSM_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.SOSM_DATE)<span class='tooltipEl' id='tSOSM_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.SOSM_PLOT_ID)</td>
            <td>@Html.DisplayFor(modelItem => item.SOSM_SAMPLE_ID)</td>
            <td>@Html.DisplayFor(modelItem => item.SOSM_SAMPLE_MAT)</td>
            <td>@Html.DisplayFor(modelItem => item.SOSM_AREA)</td>
            @*<td>@Html.DisplayFor(modelItem => item.SOSM_VOLUME)</td>*@
            @*<td>@Html.DisplayFor(modelItem => item.SOSM_UD)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_LD)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_THICKNESS)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_W0)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_W30)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_W30_E)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_W105_S)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_W70_R)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_WX30_E)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_WX105_E)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_W0_OH)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_W0_OS)</td>
        <td>@Html.DisplayFor(modelItem => item.SOSM_W0_OR)</td>*@
            <td>@Html.DisplayFor(modelItem => item.SOSM_COMMENT)</td>
            <td>@Html.DisplayFor(modelItem => item.SOSM_DATE)</td>

            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
