@model IcosCoreExt.Models.ViewModels.GRP_FUNDINGViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete FUNDING</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FUNDING_ORGANIZATION)<span class='tooltipEl' id='tFUNDING_ORGANIZATION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FUNDING_ORGANIZATION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FUNDING_GRANT)<span class='tooltipEl' id='tFUNDING_GRANT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FUNDING_GRANT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FUNDING_GRANT_URL)<span class='tooltipEl' id='tFUNDING_GRANT_URL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FUNDING_GRANT_URL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FUNDING_TITLE)<span class='tooltipEl' id='tFUNDING_TITLE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FUNDING_TITLE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FUNDING_COMMENT)<span class='tooltipEl' id='tFUNDING_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FUNDING_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FUNDING_DATE_START)<span class='tooltipEl' id='tFUNDING_DATE_START'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FUNDING_DATE_START)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FUNDING_DATE_END)<span class='tooltipEl' id='tFUNDING_DATE_END'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FUNDING_DATE_END)</td>
            </tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
