@model IcosCoreExt.Models.ViewModels.GRP_FUNDINGViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Edit FUNDING</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="FUNDING_ORGANIZATION" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FUNDING_ORGANIZATION" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFUNDING_ORGANIZATION'></span>
        <span asp-validation-for="FUNDING_ORGANIZATION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FUNDING_GRANT" class="col-sm-4 col-form-label "></label>
        <input asp-for="FUNDING_GRANT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFUNDING_GRANT'></span>
        <span asp-validation-for="FUNDING_GRANT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FUNDING_GRANT_URL" class="col-sm-4 col-form-label "></label>
        <input asp-for="FUNDING_GRANT_URL" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFUNDING_GRANT_URL'></span>
        <span asp-validation-for="FUNDING_GRANT_URL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FUNDING_TITLE" class="col-sm-4 col-form-label "></label>
        <input asp-for="FUNDING_TITLE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFUNDING_TITLE'></span>
        <span asp-validation-for="FUNDING_TITLE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FUNDING_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="FUNDING_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFUNDING_COMMENT'></span>
        <span asp-validation-for="FUNDING_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FUNDING_DATE_START" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FUNDING_DATE_START" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFUNDING_DATE_START'></span>
        <span asp-validation-for="FUNDING_DATE_START" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FUNDING_DATE_END" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FUNDING_DATE_END" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFUNDING_DATE_END'></span>
        <span asp-validation-for="FUNDING_DATE_END" class="text-danger col-sm-12"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

