@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_FUNDINGViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>FUNDING</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.FUNDING_ORGANIZATION)<span class='tooltipEl' id='tFUNDING_ORGANIZATION'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FUNDING_GRANT)<span class='tooltipEl' id='tFUNDING_GRANT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FUNDING_GRANT_URL)<span class='tooltipEl' id='tFUNDING_GRANT_URL'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FUNDING_TITLE)<span class='tooltipEl' id='tFUNDING_TITLE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FUNDING_COMMENT)<span class='tooltipEl' id='tFUNDING_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FUNDING_DATE_START)<span class='tooltipEl' id='tFUNDING_DATE_START'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.FUNDING_DATE_END)<span class='tooltipEl' id='tFUNDING_DATE_END'> <i class='fas fa-question-circle' /></span></th>*@

            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.FUNDING_ORGANIZATION)</td>
                <td>@Html.DisplayFor(modelItem => item.FUNDING_GRANT)</td>
                <td>@Html.DisplayFor(modelItem => item.FUNDING_GRANT_URL)</td>
                <td>@Html.DisplayFor(modelItem => item.FUNDING_TITLE)</td>
                <td>@Html.DisplayFor(modelItem => item.FUNDING_COMMENT)</td>
                <td>@Html.DisplayFor(modelItem => item.FUNDING_DATE_START)</td>
                @*<td>@Html.DisplayFor(modelItem => item.FUNDING_DATE_END)</td>*@


                <td>
                    @if (item.DataStatus == 0)
                    {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                    <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
                </td>
            </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
