@model IcosCoreExt.Models.ViewModels.GRP_LITTERPNTViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml"; 
}

<h1>Create LITTER</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_PLOT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LITTERPNT_PLOT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_PLOT'></span>
        <span asp-validation-for="LITTERPNT_PLOT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_ID" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_ID'></span>
        <span asp-validation-for="LITTERPNT_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_AREA" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_AREA" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_AREA'></span>
        <span asp-validation-for="LITTERPNT_AREA" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_EASTWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LITTERPNT_EASTWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_EASTWARD_DIST'></span>
        <span asp-validation-for="LITTERPNT_EASTWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_NORTHWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LITTERPNT_NORTHWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_NORTHWARD_DIST'></span>
        <span asp-validation-for="LITTERPNT_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_DISTANCE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LITTERPNT_DISTANCE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_DISTANCE_POLAR'></span>
        <span asp-validation-for="LITTERPNT_DISTANCE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_ANGLE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LITTERPNT_ANGLE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_ANGLE_POLAR'></span>
        <span asp-validation-for="LITTERPNT_ANGLE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_TYPE" class="col-sm-4 col-form-label "></label>
        <select asp-for="LITTERPNT_TYPE" asp-items="@Model.LITTERPNT_TYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_TYPE'></span>
        <span asp-validation-for="LITTERPNT_TYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_FRACTION" class="col-sm-4 col-form-label "></label>
        <select asp-for="LITTERPNT_FRACTION" asp-items="@Model.LITTERPNT_FRACTIONTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_FRACTION'></span>
        <span asp-validation-for="LITTERPNT_FRACTION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_SPP" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_SPP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_SPP'></span>
        <span asp-validation-for="LITTERPNT_SPP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT'></span>
        <span asp-validation-for="LITTERPNT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_LEAVESAREA" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_LEAVESAREA" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_LEAVESAREA'></span>
        <span asp-validation-for="LITTERPNT_LEAVESAREA" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_COARSE_DIAM" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_COARSE_DIAM" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_COARSE_DIAM'></span>
        <span asp-validation-for="LITTERPNT_COARSE_DIAM" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_COARSE_LENGTH" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_COARSE_LENGTH" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_COARSE_LENGTH'></span>
        <span asp-validation-for="LITTERPNT_COARSE_LENGTH" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_COARSE_ANGLE" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_COARSE_ANGLE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_COARSE_ANGLE'></span>
        <span asp-validation-for="LITTERPNT_COARSE_ANGLE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_COARSE_DECAY" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_COARSE_DECAY" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_COARSE_DECAY'></span>
        <span asp-validation-for="LITTERPNT_COARSE_DECAY" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="LITTERPNT_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_COMMENT'></span>
        <span asp-validation-for="LITTERPNT_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LITTERPNT_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LITTERPNT_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLITTERPNT_DATE'></span>
        <span asp-validation-for="LITTERPNT_DATE" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<script src="~/js/scripts/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">
<script type="text/javascript">
    $('#LITTERPNT_PLOT').autocomplete({
        serviceUrl: '/api/SearchPlot/search',
        params: { 'siteID': $('#Id_site option:selected').val() },
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });
</script>
