@model IcosCoreExt.Models.ViewModels.GRP_LITTERPNTViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>LITTER Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_PLOT)<span class='tooltipEl' id='tLITTERPNT_PLOT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_PLOT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_ID)<span class='tooltipEl' id='tLITTERPNT_ID'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_ID)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_AREA)<span class='tooltipEl' id='tLITTERPNT_AREA'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_AREA)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_EASTWARD_DIST)<span class='tooltipEl' id='tLITTERPNT_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_EASTWARD_DIST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_NORTHWARD_DIST)<span class='tooltipEl' id='tLITTERPNT_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_NORTHWARD_DIST)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_DISTANCE_POLAR)<span class='tooltipEl' id='tLITTERPNT_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_DISTANCE_POLAR)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_ANGLE_POLAR)<span class='tooltipEl' id='tLITTERPNT_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_ANGLE_POLAR)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_TYPE)<span class='tooltipEl' id='tLITTERPNT_TYPE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_TYPE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_FRACTION)<span class='tooltipEl' id='tLITTERPNT_FRACTION'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_FRACTION)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_SPP)<span class='tooltipEl' id='tLITTERPNT_SPP'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_SPP)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT)<span class='tooltipEl' id='tLITTERPNT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_LEAVESAREA)<span class='tooltipEl' id='tLITTERPNT_LEAVESAREA'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_LEAVESAREA)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_COARSE_DIAM)<span class='tooltipEl' id='tLITTERPNT_COARSE_DIAM'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_COARSE_DIAM)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_COARSE_LENGTH)<span class='tooltipEl' id='tLITTERPNT_COARSE_LENGTH'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_COARSE_LENGTH)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_COARSE_ANGLE)<span class='tooltipEl' id='tLITTERPNT_COARSE_ANGLE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_COARSE_ANGLE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_COARSE_DECAY)<span class='tooltipEl' id='tLITTERPNT_COARSE_DECAY'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_COARSE_DECAY)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_COMMENT)<span class='tooltipEl' id='tLITTERPNT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LITTERPNT_DATE)<span class='tooltipEl' id='tLITTERPNT_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LITTERPNT_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
