@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_LITTERPNTViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>LITTER</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.LITTERPNT_PLOT)<span class='tooltipEl' id='tLITTERPNT_PLOT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.LITTERPNT_ID)<span class='tooltipEl' id='tLITTERPNT_ID'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.LITTERPNT_AREA)<span class='tooltipEl' id='tLITTERPNT_AREA'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.LITTERPNT_EASTWARD_DIST)<span class='tooltipEl' id='tLITTERPNT_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
         <th>@Html.DisplayNameFor(model => model.LITTERPNT_NORTHWARD_DIST)<span class='tooltipEl' id='tLITTERPNT_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
         <th>@Html.DisplayNameFor(model => model.LITTERPNT_DISTANCE_POLAR)<span class='tooltipEl' id='tLITTERPNT_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
         <th>@Html.DisplayNameFor(model => model.LITTERPNT_ANGLE_POLAR)<span class='tooltipEl' id='tLITTERPNT_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.LITTERPNT_TYPE)<span class='tooltipEl' id='tLITTERPNT_TYPE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.LITTERPNT_FRACTION)<span class='tooltipEl' id='tLITTERPNT_FRACTION'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.LITTERPNT_SPP)<span class='tooltipEl' id='tLITTERPNT_SPP'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.LITTERPNT)<span class='tooltipEl' id='tLITTERPNT'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.LITTERPNT_LEAVESAREA)<span class='tooltipEl' id='tLITTERPNT_LEAVESAREA'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.LITTERPNT_COARSE_DIAM)<span class='tooltipEl' id='tLITTERPNT_COARSE_DIAM'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.LITTERPNT_COARSE_LENGTH)<span class='tooltipEl' id='tLITTERPNT_COARSE_LENGTH'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.LITTERPNT_COARSE_ANGLE)<span class='tooltipEl' id='tLITTERPNT_COARSE_ANGLE'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.LITTERPNT_COARSE_DECAY)<span class='tooltipEl' id='tLITTERPNT_COARSE_DECAY'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.LITTERPNT_COMMENT)<span class='tooltipEl' id='tLITTERPNT_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.LITTERPNT_DATE)<span class='tooltipEl' id='tLITTERPNT_DATE'> <i class='fas fa-question-circle' /></span></th>

            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.LITTERPNT_PLOT)</td>
            <td>@Html.DisplayFor(modelItem => item.LITTERPNT_ID)</td>
            @*<td>@Html.DisplayFor(modelItem => item.LITTERPNT_AREA)</td>
        <td>@Html.DisplayFor(modelItem => item.LITTERPNT_EASTWARD_DIST)</td>
         <td>@Html.DisplayFor(modelItem => item.LITTERPNT_NORTHWARD_DIST)</td>
         <td>@Html.DisplayFor(modelItem => item.LITTERPNT_DISTANCE_POLAR)</td>
         <td>@Html.DisplayFor(modelItem => item.LITTERPNT_ANGLE_POLAR)</td>*@
            <td>@Html.DisplayFor(modelItem => item.LITTERPNT_TYPE)</td>
            @*<td>@Html.DisplayFor(modelItem => item.LITTERPNT_FRACTION)</td>*@
            <td>@Html.DisplayFor(modelItem => item.LITTERPNT_SPP)</td>
            <td>@Html.DisplayFor(modelItem => item.LITTERPNT)</td>
            @*<td>@Html.DisplayFor(modelItem => item.LITTERPNT_LEAVESAREA)</td>
        <td>@Html.DisplayFor(modelItem => item.LITTERPNT_COARSE_DIAM)</td>
        <td>@Html.DisplayFor(modelItem => item.LITTERPNT_COARSE_LENGTH)</td>
        <td>@Html.DisplayFor(modelItem => item.LITTERPNT_COARSE_ANGLE)</td>
        <td>@Html.DisplayFor(modelItem => item.LITTERPNT_COARSE_DECAY)</td>*@
            <td>@Html.DisplayFor(modelItem => item.LITTERPNT_COMMENT)</td>
            <td>@Html.DisplayFor(modelItem => item.LITTERPNT_DATE)</td>


            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
