@model IcosCoreExt.Models.ViewModels.GRP_HEADERViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create HEADER</h1>

<h4>HEADER</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-group"><label asp-for="SITE_ID" class="control-label"></label><span>*</span><span class='tooltipEl' id='SITE_ID'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="SITE_ID" class="form-control" /><span asp-validation-for="SITE_ID" class="text-danger"></span></div>
<div class="form-group"><label asp-for="SITE_NAME" class="control-label"></label><span>*</span><span class='tooltipEl' id='SITE_NAME'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="SITE_NAME" class="form-control" /><span asp-validation-for="SITE_NAME" class="text-danger"></span></div>
<div class="form-group"><label asp-for="SUBMISSION_CONTACT_NAME" class="control-label"></label><span>*</span><span class='tooltipEl' id='SUBMISSION_CONTACT_NAME'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="SUBMISSION_CONTACT_NAME" class="form-control" /><span asp-validation-for="SUBMISSION_CONTACT_NAME" class="text-danger"></span></div>
<div class="form-group"><label asp-for="SUBMISSION_CONTACT_EMAIL" class="control-label"></label><span>*</span><span class='tooltipEl' id='SUBMISSION_CONTACT_EMAIL'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="SUBMISSION_CONTACT_EMAIL" class="form-control" /><span asp-validation-for="SUBMISSION_CONTACT_EMAIL" class="text-danger"></span></div>
<div class="form-group"><label asp-for="SUBMISSION_DATE" class="control-label"></label><span>*</span><span class='tooltipEl' id='SUBMISSION_DATE'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="SUBMISSION_DATE" class="form-control" /><span asp-validation-for="SUBMISSION_DATE" class="text-danger"></span></div>
 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
