@model IcosCoreExt.Models.ViewModels.GRP_HEADERViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create HEADER</h1>


<div>
<h4>HEADER</h4>
    <hr />
    <dl class="row">
     <dt class="col-sm-2">@Html.DisplayNameFor(model => model.SITE_ID)</dt><span class='tooltipEl' id='SITE_ID'><img class='xtooltip' src="/images/qm.png" /></span><dd class="col-sm-10">@Html.DisplayFor(model => model.SITE_ID)</dd>
<dt class="col-sm-2">@Html.DisplayNameFor(model => model.SITE_NAME)</dt><span class='tooltipEl' id='SITE_NAME'><img class='xtooltip' src="/images/qm.png" /></span><dd class="col-sm-10">@Html.DisplayFor(model => model.SITE_NAME)</dd>
<dt class="col-sm-2">@Html.DisplayNameFor(model => model.SUBMISSION_CONTACT_NAME)</dt><span class='tooltipEl' id='SUBMISSION_CONTACT_NAME'><img class='xtooltip' src="/images/qm.png" /></span><dd class="col-sm-10">@Html.DisplayFor(model => model.SUBMISSION_CONTACT_NAME)</dd>
<dt class="col-sm-2">@Html.DisplayNameFor(model => model.SUBMISSION_CONTACT_EMAIL)<span class='tooltipEl' id='SUBMISSION_CONTACT_EMAIL'><img class='xtooltip' src="/images/qm.png" /></span></dt><dd class="col-sm-10">@Html.DisplayFor(model => model.SUBMISSION_CONTACT_EMAIL)</dd>
<dt class="col-sm-2">@Html.DisplayNameFor(model => model.SUBMISSION_DATE)</dt><span class='tooltipEl' id='SUBMISSION_DATE'><img class='xtooltip' src="/images/qm.png" /></span><dd class="col-sm-10">@Html.DisplayFor(model => model.SUBMISSION_DATE)</dd>
 
    </dl>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
