@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_HEADERViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable")

<h1>HEADER</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
<th>@Html.DisplayNameFor(model => model.SITE_ID)<span class='tooltipEl' id='SITE_ID'> <i class='fas fa-question-circle' /></span></th>
<th>@Html.DisplayNameFor(model => model.SITE_NAME)<span class='tooltipEl' id='SITE_NAME'> <i class='fas fa-question-circle' /></span></th>
<th>@Html.DisplayNameFor(model => model.SUBMISSION_CONTACT_NAME)<span class='tooltipEl' id='SUBMISSION_CONTACT_NAME'> <i class='fas fa-question-circle' /></span></th>
<th>@Html.DisplayNameFor(model => model.SUBMISSION_CONTACT_EMAIL)<span class='tooltipEl' id='SUBMISSION_CONTACT_EMAIL'> <i class='fas fa-question-circle' /></span></th>
<th>@Html.DisplayNameFor(model => model.SUBMISSION_DATE)<span class='tooltipEl' id='SUBMISSION_DATE'> <i class='fas fa-question-circle' /></span></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
        
         
<td>@Html.DisplayFor(modelItem => item.SITE_ID)</td>
<td>@Html.DisplayFor(modelItem => item.SITE_NAME)</td>
<td>@Html.DisplayFor(modelItem => item.SUBMISSION_CONTACT_NAME)</td>
<td>@Html.DisplayFor(modelItem => item.SUBMISSION_CONTACT_EMAIL)</td>
<td>@Html.DisplayFor(modelItem => item.SUBMISSION_DATE)</td>

        
            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
