@model IcosCoreExt.Models.ViewModels.GRP_ECSYSViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
    var cc = 0;
    if (ViewData["sent"] != null)
    {
        cc = 1;
    }
}

<h1>Create Eddy Covariance System</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="ECSYS_GA_MODEL" class="col-sm-4 col-form-label required"></label>
        <select asp-for="ECSYS_GA_MODEL" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_GA_MODEL'></span>
        <span asp-validation-for="ECSYS_GA_MODEL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECSYS_GA_SN" class="col-sm-4 col-form-label required"></label>
        <!--input asp-for="ECSYS_GA_SN" class="form-control col-sm-5" /-->
        <select asp-for="ECSYS_GA_SN" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_GA_SN'></span>
        <span asp-validation-for="ECSYS_GA_SN" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECSYS_SA_MODEL" class="col-sm-4 col-form-label required"></label>
        <select asp-for="ECSYS_SA_MODEL" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_SA_MODEL'></span>
        <span asp-validation-for="ECSYS_SA_MODEL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECSYS_SA_SN" class="col-sm-4 col-form-label required"></label>
        <!--input asp-for="ECSYS_SA_SN" class="form-control col-sm-5" /-->
        <select asp-for="ECSYS_SA_SN" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_SA_SN'></span>
        <span asp-validation-for="ECSYS_SA_SN" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECSYS_SEP_VERT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="ECSYS_SEP_VERT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_SEP_VERT'></span>
        <span asp-validation-for="ECSYS_SEP_VERT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECSYS_SEP_EASTWARD" class="col-sm-4 col-form-label required"></label>
        <input asp-for="ECSYS_SEP_EASTWARD" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_SEP_EASTWARD'></span>
        <span asp-validation-for="ECSYS_SEP_EASTWARD" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECSYS_SEP_NORTHWARD" class="col-sm-4 col-form-label required"></label>
        <input asp-for="ECSYS_SEP_NORTHWARD" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_SEP_NORTHWARD'></span>
        <span asp-validation-for="ECSYS_SEP_NORTHWARD" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECSYS_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="ECSYS_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_DATE'></span>
        <span asp-validation-for="ECSYS_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ECSYS_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="ECSYS_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tECSYS_COMMENT'></span>
        <span asp-validation-for="ECSYS_COMMENT" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script-->
    <link rel="stylesheet" href="~/js/scripts/styles.css">
    <script type="text/javascript">
        let varList = [];
        let availableGASensors = [];
        let availableSASensors = [];
        let loaded = @cc;
        $(document).ready(function () {
        //DIEGO:::
        //to get from select sites list
        var params1 = { prefix: 'ga', siteId: $('#Id_site option:selected').val()};
        var params2 = { prefix: 'sa', siteId: $('#Id_site option:selected').val()};
        let prevGA='', prevSA='';
        $.when(
            $.ajax({ // First Request
                url: '/api/uifacilities/getavailableecsys',
                contentType: "application/json",
                dataType: "json",
                data: (params1),
                success: function (response) {

                    availableGASensors = response.slice();
                    if (availableGASensors.length == 0) {
                        alert("No GA- sensors available. Please insert in INST_MODEL group and/or install in GRP_EC group");
                    }
                    console.log("Av Ga " + availableGASensors);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GZ in GRP_ECSYS operation data. Please try again");
                    return;
                }
            }),

            $.ajax({ //Seconds Request
                url: '/api/uifacilities/getavailableecsys',
                contentType: "application/json",
                dataType: "json",
                data: (params2),
                success: function (avresp) {

                    availableSASensors = avresp.slice();
                    if (availableSASensors.length == 0) {
                        alert("No SA- sensors available. Please insert in INST_MODEL group and/or install in GRP_EC group");
                    }
                    console.log("Av Sa " + availableSASensors);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving SA_ GRP_ECSYS operation data. Please try again");
                }
            })

        ).then(function () {
            $.each(availableGASensors, function (i, item) {

                if(item.model!==prevGA){
                        $('#ECSYS_GA_MODEL').append($('<option>', {
                        value: item.model,
                        text: item.model
                    }));
                    prevGA=item.model;
                }
                $('#ECSYS_GA_SN').append($('<option>', {
                    value: item.sn,
                    text: item.sn
                }));
            });

            $.each(availableSASensors, function (i, item) {
                if(item.model!==prevSA){
                    $('#ECSYS_SA_MODEL').append($('<option>', {
                        value: item.model,
                        text: item.model
                     }));
                    prevSA=item.model;
                }
                

                $('#ECSYS_SA_SN').append($('<option>', {
                    value: item.sn,
                    text: item.sn
                }));
            });

            if (loaded === 1) {
                $("#ECSYS_GA_MODEL").val('@Model.ECSYS_GA_MODEL');
                $("#ECSYS_GA_SN").val('@Model.ECSYS_GA_SN');
                $("#ECSYS_SA_MODEL").val('@Model.ECSYS_SA_MODEL');
                $("#ECSYS_SA_SN").val('@Model.ECSYS_SA_SN');
            }

            else {
              //
              //  $("#EC_SN").val('@@Model.EC_SN');
               // ModelSnManager($("#EC_MODEL option:selected").index() - 1);
               // $("#EC_TYPE").val('@@Model.EC_TYPE');
               // selectList = {};
               // selectList = varList.find(x => x.type.toLowerCase() === $("#EC_TYPE").val().toLowerCase());
               // console.log("1 " + selectList);

               // showItems();
            }

        });


        });

        $("#ECSYS_GA_MODEL").on("change", function (e) {
            if (this.selectedIndex == 0) {
                $("#ECSYS_GA_SN").val('');
            }
            else {
               // $("#ECSYS_GA_SN").val(availableGASensors[this.selectedIndex - 1].sn);
               var found = availableGASensors.filter(function(item) { return item.model === $("#ECSYS_GA_MODEL").val(); });
                $("#ECSYS_GA_SN").val(found[0].sn);
            }

        });

        $("#ECSYS_GA_SN").on("change", function (e) {
            if (this.selectedIndex == 0) {
                $("#ECSYS_GA_MODEL").val('');
            }
            else {
               // $("#ECSYS_GA_MODEL").val(availableGASensors[this.selectedIndex - 1].model);
                var found = availableGASensors.filter(function(item) { return item.sn === $("#ECSYS_GA_SN").val(); });
                $("#ECSYS_GA_MODEL").val(found[0].model);
            }

        });

        $("#ECSYS_SA_MODEL").on("change", function (e) {

            if (this.selectedIndex == 0) {
                $("#ECSYS_SA_SN").val('');
            }
            else {
                $("#ECSYS_SA_SN").val(availableSASensors[this.selectedIndex - 1].sn);
            }

        });

        $("#ECSYS_SA_SN").on("change", function (e) {

            if (this.selectedIndex == 0) {
                $("#ECSYS_SA_MODEL").val('');
            }
            else {
                $("#ECSYS_SA_MODEL").val(availableSASensors[this.selectedIndex - 1].model);
            }

        });

    </script>

}
