@model IcosCoreExt.Models.ViewModels.GRP_ECSYSViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Eddy Covariance System Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_GA_MODEL)<span class='tooltipEl' id='tECSYS_GA_MODEL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_GA_MODEL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_GA_SN)<span class='tooltipEl' id='tECSYS_GA_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_GA_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_SA_MODEL)<span class='tooltipEl' id='tECSYS_SA_MODEL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_SA_MODEL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_SA_SN)<span class='tooltipEl' id='tECSYS_SA_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_SA_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_SEP_VERT)<span class='tooltipEl' id='tECSYS_SEP_VERT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_SEP_VERT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_SEP_EASTWARD)<span class='tooltipEl' id='tECSYS_SEP_EASTWARD'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_SEP_EASTWARD)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_SEP_NORTHWARD)<span class='tooltipEl' id='tECSYS_SEP_NORTHWARD'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_SEP_NORTHWARD)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_DATE)<span class='tooltipEl' id='tECSYS_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ECSYS_COMMENT)<span class='tooltipEl' id='tECSYS_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.ECSYS_COMMENT)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @*@if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}*@
    <a asp-action="Index">Back to List</a>
</div>
