@model IcosCoreExt.Models.ViewModels.GRP_ECSYSViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Edit ECSYS</h1>

<h4>ECSYS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <div class="form-group"><label asp-for="ECSYS_GA_MODEL" class="control-label"></label><span>*</span><span class='tooltipEl' id='tECSYS_GA_MODEL'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="ECSYS_GA_MODEL" class="form-control"><option value="">Select</option></select><span asp-validation-for="ECSYS_GA_MODEL" class="text-danger"></span></div>
<div class="form-group"><label asp-for="ECSYS_GA_SN" class="control-label"></label><span>*</span><span class='tooltipEl' id='tECSYS_GA_SN'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="ECSYS_GA_SN" class="form-control" /><span asp-validation-for="ECSYS_GA_SN" class="text-danger"></span></div>
<div class="form-group"><label asp-for="ECSYS_SA_MODEL" class="control-label"></label><span>*</span><span class='tooltipEl' id='tECSYS_SA_MODEL'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="ECSYS_SA_MODEL" class="form-control"><option value="">Select</option></select><span asp-validation-for="ECSYS_SA_MODEL" class="text-danger"></span></div>
<div class="form-group"><label asp-for="ECSYS_SA_SN" class="control-label"></label><span>*</span><span class='tooltipEl' id='tECSYS_SA_SN'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="ECSYS_SA_SN" class="form-control" /><span asp-validation-for="ECSYS_SA_SN" class="text-danger"></span></div>
<div class="form-group"><label asp-for="ECSYS_SEP_VERT" class="control-label"></label><span class='tooltipEl' id='tECSYS_SEP_VERT'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="ECSYS_SEP_VERT" class="form-control" /><span asp-validation-for="ECSYS_SEP_VERT" class="text-danger"></span></div>
<div class="form-group"><label asp-for="ECSYS_SEP_EASTWARD" class="control-label"></label><span class='tooltipEl' id='tECSYS_SEP_EASTWARD'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="ECSYS_SEP_EASTWARD" class="form-control" /><span asp-validation-for="ECSYS_SEP_EASTWARD" class="text-danger"></span></div>
<div class="form-group"><label asp-for="ECSYS_SEP_NORTHWARD" class="control-label"></label><span class='tooltipEl' id='tECSYS_SEP_NORTHWARD'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="ECSYS_SEP_NORTHWARD" class="form-control" /><span asp-validation-for="ECSYS_SEP_NORTHWARD" class="text-danger"></span></div>
<div class="form-group"><label asp-for="ECSYS_DATE" class="control-label"></label><span>*</span><span class='tooltipEl' id='tECSYS_DATE'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="ECSYS_DATE" class="form-control" /><span asp-validation-for="ECSYS_DATE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="ECSYS_COMMENT" class="control-label"></label><span class='tooltipEl' id='tECSYS_COMMENT'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="ECSYS_COMMENT" class="form-control" /><span asp-validation-for="ECSYS_COMMENT" class="text-danger"></span></div>
 
           <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

