@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_ECSYSViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Eddy Covariance System</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.ECSYS_GA_MODEL)<span class='tooltipEl' id='tECSYS_GA_MODEL'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.ECSYS_GA_SN)<span class='tooltipEl' id='tECSYS_GA_SN'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.ECSYS_SA_MODEL)<span class='tooltipEl' id='tECSYS_SA_MODEL'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.ECSYS_SA_SN)<span class='tooltipEl' id='tECSYS_SA_SN'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>@Html.DisplayNameFor(model => model.ECSYS_SEP_VERT)<span class='tooltipEl' id='tECSYS_SEP_VERT'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.ECSYS_SEP_EASTWARD)<span class='tooltipEl' id='tECSYS_SEP_EASTWARD'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.ECSYS_SEP_NORTHWARD)<span class='tooltipEl' id='tECSYS_SEP_NORTHWARD'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.ECSYS_DATE)<span class='tooltipEl' id='tECSYS_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.ECSYS_COMMENT)<span class='tooltipEl' id='tECSYS_COMMENT'> <i class='fas fa-question-circle' /></span></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
        
            <td>@Html.DisplayFor(modelItem => item.Id)</td>         
            <td>@Html.DisplayFor(modelItem => item.ECSYS_GA_MODEL)</td>
            @*<td>@Html.DisplayFor(modelItem => item.ECSYS_GA_SN)</td>*@
            <td>@Html.DisplayFor(modelItem => item.ECSYS_SA_MODEL)</td>
            @*<td>@Html.DisplayFor(modelItem => item.ECSYS_SA_SN)</td>*@
            @*<td>@Html.DisplayFor(modelItem => item.ECSYS_SEP_VERT)</td>*@
            <td>@Html.DisplayFor(modelItem => item.ECSYS_SEP_EASTWARD)</td>
            <td>@Html.DisplayFor(modelItem => item.ECSYS_SEP_NORTHWARD)</td>
            <td>@Html.DisplayFor(modelItem => item.ECSYS_DATE)</td>
            <td>@Html.DisplayFor(modelItem => item.ECSYS_COMMENT)</td>

        
            <td>
                @*@if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>*@
                <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a> @*<text>|</text> 
                }*@
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
