﻿@model IcosCoreExt.Models.ViewModels.GRP_LOCATIONViewModel

@{
    ViewData["Title"] = "Create LOCATION";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Create LOCATION</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="LOCATION_LAT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LOCATION_LAT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLOCATION_LAT'></span>
        <span asp-validation-for="LOCATION_LAT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LOCATION_LONG" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LOCATION_LONG" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLOCATION_LONG'></span>
        <span asp-validation-for="LOCATION_LONG" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LOCATION_ELEV" class="col-sm-4 col-form-label "></label>
        <input asp-for="LOCATION_ELEV" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLOCATION_ELEV'></span>
        <span asp-validation-for="LOCATION_ELEV" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LOCATION_DATE" class="col-sm-4 col-form-label "></label>
        <input asp-for="LOCATION_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLOCATION_DATE'></span>
        <span asp-validation-for="LOCATION_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LOCATION_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="LOCATION_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLOCATION_COMMENT'></span>
        <span asp-validation-for="LOCATION_COMMENT" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
