@model IcosCoreExt.Models.ViewModels.GRP_LOCATIONViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete LOCATION</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_LAT)<span class='tooltipEl' id='tLOCATION_LAT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_LAT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_LONG)<span class='tooltipEl' id='tLOCATION_LONG'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_LONG)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_ELEV)<span class='tooltipEl' id='tLOCATION_ELEV'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_ELEV)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_DATE)<span class='tooltipEl' id='tLOCATION_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_DATE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_COMMENT)<span class='tooltipEl' id='tLOCATION_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_COMMENT)</td>
</tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
   