@model IcosCoreExt.Models.ViewModels.GRP_LOCATIONViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>LOCATION Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_LAT)<span class='tooltipEl' id='tLOCATION_LAT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_LAT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_LONG)<span class='tooltipEl' id='tLOCATION_LONG'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_LONG)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_ELEV)<span class='tooltipEl' id='tLOCATION_ELEV'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_ELEV)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_DATE)<span class='tooltipEl' id='tLOCATION_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_DATE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOCATION_COMMENT)<span class='tooltipEl' id='tLOCATION_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOCATION_COMMENT)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
