﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_LOCATIONViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";

    int sessionSite = (int)ViewBag.SessionSite;
}

@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Location</h1>

@if(sessionSite>0)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_LAT)<span class='tooltipEl' id='tLOCATION_LAT'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_LONG)<span class='tooltipEl' id='tLOCATION_LONG'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_ELEV)<span class='tooltipEl' id='tLOCATION_ELEV'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_DATE)<span class='tooltipEl' id='tLOCATION_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_COMMENT)<span class='tooltipEl' id='tLOCATION_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION_LAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION_LONG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION_ELEV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION_COMMENT)
                </td>
                <td>
                    @if (item.DataStatus == 0)
                    {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> | 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a></text>}
                </td>
            </tr>
        }
    </tbody>
</table>
}
<p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
