@model IcosCoreExt.Models.ViewModels.GRP_CLIM_AVGViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Create CLIMate AVerage</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="MAT" class="col-sm-4 col-form-label "></label>
        <input asp-for="MAT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tMAT'></span>
        <span asp-validation-for="MAT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="MAP" class="col-sm-4 col-form-label "></label>
        <input asp-for="MAP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tMAP'></span>
        <span asp-validation-for="MAP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="MAR" class="col-sm-4 col-form-label "></label>
        <input asp-for="MAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tMAR'></span>
        <span asp-validation-for="MAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="MAC_YEARS" class="col-sm-4 col-form-label "></label>
        <input asp-for="MAC_YEARS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tMAC_YEARS'></span>
        <span asp-validation-for="MAC_YEARS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="MAS" class="col-sm-4 col-form-label "></label>
        <input asp-for="MAS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tMAS'></span>
        <span asp-validation-for="MAS" class="text-danger col-sm-12"></span>
    </div>
    @*<div class="form-group row">
        <label asp-for="CLIMATE_KOEPPEN" class="col-sm-4 col-form-label "></label>
        <input asp-for="CLIMATE_KOEPPEN" class="form-control  col-sm-5"></input>
        <span class='tooltipEl fas fa-question-circle' id='tCLIMATE_KOEPPEN'></span>
        <span asp-validation-for="CLIMATE_KOEPPEN" class="text-danger col-sm-12"></span>
    </div>*@
    <div class="form-group row">
        <label asp-for="MAC_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="MAC_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tMAC_DATE'></span>
        <span asp-validation-for="MAC_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="MAC_COMMENTS" class="col-sm-4 col-form-label "></label>
        <input asp-for="MAC_COMMENTS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tMAC_COMMENTS'></span>
        <span asp-validation-for="MAC_COMMENTS" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
