@model IcosCoreExt.Models.ViewModels.GRP_CLIM_AVGViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>CLIMATE AVERAGE Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MAT)<span class='tooltipEl' id='tMAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.MAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MAP)<span class='tooltipEl' id='tMAP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.MAP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MAR)<span class='tooltipEl' id='tMAR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.MAR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MAC_YEARS)<span class='tooltipEl' id='tMAC_YEARS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.MAC_YEARS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MAS)<span class='tooltipEl' id='tMAS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.MAS)</td>
            </tr>
            @*<tr>
                <th>@Html.DisplayNameFor(model => model.CLIMATE_KOEPPEN)<span class='tooltipEl' id='tCLIMATE_KOEPPEN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.CLIMATE_KOEPPEN)</td>
            </tr>*@
            <tr>
                <th>@Html.DisplayNameFor(model => model.MAC_DATE)<span class='tooltipEl' id='tMAC_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.MAC_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MAC_COMMENTS)<span class='tooltipEl' id='tMAC_COMMENTS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.MAC_COMMENTS)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
</div>
