﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_CLIM_AVGViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Climate Average</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAT)<span class='tooltipEl' id='tMAT'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.MAP)<span class='tooltipEl' id='tMAP'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.MAR)<span class='tooltipEl' id='tMAR'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.MAC_YEARS)<span class='tooltipEl' id='tMAC_YEARS'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.MAS)<span class='tooltipEl' id='tMAS'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.MAC_DATE)<span class='tooltipEl' id='tMAC_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.MAC_COMMENTS)<span class='tooltipEl' id='tMAC_COMMENTS'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.CLIMATE_KOEPPEN)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAC_YEARS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAC_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAC_COMMENTS)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.CLIMATE_KOEPPEN)
        </td>*@
        <td>
            @if (item.DataStatus == 0)
            {
                <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> @:|
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> @:|
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>
            }
        </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
