@model IcosCoreExt.Models.ViewModels.GRP_TOWERViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>TOWER Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.TOWER_TYPE)<span class='tooltipEl' id='tTOWER_TYPE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_TYPE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TOWER_HEIGHT)<span class='tooltipEl' id='tTOWER_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_HEIGHT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TOWER_ACCESS)<span class='tooltipEl' id='tTOWER_ACCESS'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_ACCESS)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TOWER_POWER)<span class='tooltipEl' id='tTOWER_POWER'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_POWER)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TOWER_POWER_AVAIL)<span class='tooltipEl' id='tTOWER_POWER_AVAIL'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_POWER_AVAIL)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TOWER_DATATRAN)<span class='tooltipEl' id='tTOWER_DATATRAN'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_DATATRAN)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TOWER_DATATRAN_SPEED)<span class='tooltipEl' id='tTOWER_DATATRAN_SPEED'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_DATATRAN_SPEED)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TOWER_DATE)<span class='tooltipEl' id='tTOWER_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_DATE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.TOWER_COMMENT)<span class='tooltipEl' id='tTOWER_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.TOWER_COMMENT)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
