@model IcosCoreExt.Models.ViewModels.GRP_TOWERViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Edit TOWER</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="TOWER_TYPE" class="col-sm-4 col-form-label "></label>
        <select asp-for="TOWER_TYPE" asp-items="@Model.TowerTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_TYPE'></span>
        <span asp-validation-for="TOWER_TYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TOWER_HEIGHT" class="col-sm-4 col-form-label "></label>
        <input asp-for="TOWER_HEIGHT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_HEIGHT'></span>
        <span asp-validation-for="TOWER_HEIGHT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TOWER_ACCESS" class="col-sm-4 col-form-label "></label>
        <select asp-for="TOWER_ACCESS" asp-items="@Model.TowerAccess" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_ACCESS'></span>
        <span asp-validation-for="TOWER_ACCESS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TOWER_POWER" class="col-sm-4 col-form-label "></label>
        <select asp-for="TOWER_POWER" asp-items="@Model.TowerPowers" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_POWER'></span>
        <span asp-validation-for="TOWER_POWER" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TOWER_POWER_AVAIL" class="col-sm-4 col-form-label "></label>
        <input asp-for="TOWER_POWER_AVAIL" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_POWER_AVAIL'></span>
        <span asp-validation-for="TOWER_POWER_AVAIL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TOWER_DATATRAN" class="col-sm-4 col-form-label "></label>
        <select asp-for="TOWER_DATATRAN" asp-items="@Model.TowerDatatrans" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_DATATRAN'></span>
        <span asp-validation-for="TOWER_DATATRAN" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TOWER_DATATRAN_SPEED" class="col-sm-4 col-form-label "></label>
        <input asp-for="TOWER_DATATRAN_SPEED" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_DATATRAN_SPEED'></span>
        <span asp-validation-for="TOWER_DATATRAN_SPEED" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TOWER_DATE" class="col-sm-4 col-form-label "></label>
        <input asp-for="TOWER_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_DATE'></span>
        <span asp-validation-for="TOWER_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TOWER_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="TOWER_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tTOWER_COMMENT'></span>
        <span asp-validation-for="TOWER_COMMENT" class="text-danger col-sm-12"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

