﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_TOWERViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Tower</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOWER_TYPE)<span class='tooltipEl' id='tTOWER_TYPE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.TOWER_HEIGHT)<span class='tooltipEl' id='tTOWER_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.TOWER_ACCESS)<span class='tooltipEl' id='tTOWER_ACCESS'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.TOWER_POWER)<span class='tooltipEl' id='tTOWER_POWER'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
            @Html.DisplayNameFor(model => model.TOWER_POWER_AVAIL)<span class='tooltipEl' id='tTOWER_POWER_AVAIL'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.TOWER_DATATRAN)<span class='tooltipEl' id='tTOWER_DATATRAN'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.TOWER_DATATRAN_SPEED)<span class='tooltipEl' id='tTOWER_DATATRAN_SPEED'> <i class='fas fa-question-circle' /></span></th>*@
            <th>
                @Html.DisplayNameFor(model => model.TOWER_DATE)<span class='tooltipEl' id='tTOWER_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.TOWER_COMMENT)<span class='tooltipEl' id='tTOWER_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOWER_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOWER_HEIGHT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOWER_ACCESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOWER_POWER)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.TOWER_POWER_AVAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOWER_DATATRAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOWER_DATATRAN_SPEED)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TOWER_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOWER_COMMENT)
            </td>

            <td>
                @if (item.DataStatus == 0)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> @:|
                    <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> @:|
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>
                }
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
