@model IcosCoreExt.Models.ViewModels.GRP_LOGGERViewModel

@{
    ViewData["Title"] = "Create"; 
    var cc = 0;
    if (ViewData["sent"] != null)
    {
        cc = 1;
    }
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create LOGGER</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="LOGGER_MODEL" class="col-sm-4 col-form-label required"></label>
        <select asp-for="LOGGER_MODEL" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tLOGGER_MODEL'></span>
        <span asp-validation-for="LOGGER_MODEL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LOGGER_SN" class="col-sm-4 col-form-label required"></label>
        <select asp-for="LOGGER_SN" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tLOGGER_SN'></span>
        <span asp-validation-for="LOGGER_SN" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LOGGER_ID" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LOGGER_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLOGGER_ID'></span>
        <span asp-validation-for="LOGGER_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LOGGER_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="LOGGER_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLOGGER_DATE'></span>
        <span asp-validation-for="LOGGER_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="LOGGER_COMMENTS" class="col-sm-4 col-form-label "></label>
        <input asp-for="LOGGER_COMMENTS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tLOGGER_COMMENTS'></span>
        <span asp-validation-for="LOGGER_COMMENTS" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script-->
    <link rel="stylesheet" href="~/js/scripts/styles.css">
    <script type="text/javascript">
        let availableLoggers = [];
        let loaded = @cc;
        $(document).ready(function () {


        //DIEGO:::
        //to get from select sites list
            var params = { siteId: $('#Id_site option:selected').val() };
        $.when(
            $.ajax({
                url: '/api/uifacilities/getavailableloggers',
                contentType: "application/json",
                dataType: "json",
                data: (params),
                success: function (avresp) {
                    //console.log(avresp);
                    availableLoggers = avresp.slice();
                    console.log("Av Loggers " + availableLoggers);
                    if (availableLoggers.length === 0) {
                        alert("No availablre loggers. Please insert first in GRP_INST");
                    }
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_LOGGER data. Please try again");
                }
            })

        ).then(function () {
            $.each(availableLoggers, function (i, item) {
                $('#LOGGER_MODEL').append($('<option>', {
                    value: item.model,
                    text: item.model
                }));

                $('#LOGGER_SN').append($('<option>', {
                    value: item.sn,
                    text: item.sn
                }));
            });

            if (loaded === 0) {

            }

            else {
                $("#LOGGER_MODEL").val('@Model.LOGGER_MODEL');
                $("#LOGGER_SN").val('@Model.LOGGER_SN');
                /*ModelSnManager($("#EC_MODEL option:selected").index() - 1);
                selectList = {};
                selectList = varList.find(x => x.type.toLowerCase() === $("#EC_TYPE").val().toLowerCase());
                console.log("1 " + selectList);
                showItems();*/
            }

        });

        });

        $("#LOGGER_MODEL").on("change", function (e) {

            if (this.selectedIndex == 0) {
                $("#LOGGER_SN").val('');
            }
            else {
                $("#LOGGER_SN").val(availableLoggers[this.selectedIndex - 1].sn);
            }

        });

        $("#LOGGER_SN").on("change", function (e) {

            if (this.selectedIndex == 0) {
                $("#LOGGER_MODEL").val('');
            }
            else {
                $("#LOGGER_MODEL").val(availableLoggers[this.selectedIndex - 1].model);
            }

        });

    </script>
}
