@model IcosCoreExt.Models.ViewModels.GRP_LOGGERViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>LOGGER Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.LOGGER_MODEL)<span class='tooltipEl' id='tLOGGER_MODEL'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOGGER_MODEL)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOGGER_SN)<span class='tooltipEl' id='tLOGGER_SN'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOGGER_SN)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOGGER_ID)<span class='tooltipEl' id='tLOGGER_ID'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOGGER_ID)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOGGER_DATE)<span class='tooltipEl' id='tLOGGER_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOGGER_DATE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.LOGGER_COMMENTS)<span class='tooltipEl' id='tLOGGER_COMMENTS'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.LOGGER_COMMENTS)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    @*{<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}*@
    <a asp-action="Index">Back to List</a>
    </div>
