@model IcosCoreExt.Models.ViewModels.GRP_LOGGERViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Edit LOGGER</h1>

<h4>LOGGER</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <div class="form-group"><label asp-for="LOGGER_MODEL" class="control-label"></label><span>*</span><span class='tooltipEl' id='LOGGER_MODEL'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="LOGGER_MODEL" class="form-control"><option value="">Select</option></select><span asp-validation-for="LOGGER_MODEL" class="text-danger"></span></div>
<div class="form-group"><label asp-for="LOGGER_SN" class="control-label"></label><span>*</span><span class='tooltipEl' id='LOGGER_SN'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="LOGGER_SN" class="form-control" /><span asp-validation-for="LOGGER_SN" class="text-danger"></span></div>
<div class="form-group"><label asp-for="LOGGER_ID" class="control-label"></label><span>*</span><span class='tooltipEl' id='LOGGER_ID'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="LOGGER_ID" class="form-control" /><span asp-validation-for="LOGGER_ID" class="text-danger"></span></div>
<div class="form-group"><label asp-for="LOGGER_DATE" class="control-label"></label><span>*</span><span class='tooltipEl' id='LOGGER_DATE'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="LOGGER_DATE" class="form-control" /><span asp-validation-for="LOGGER_DATE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="LOGGER_COMMENTS" class="control-label"></label><span class='tooltipEl' id='LOGGER_COMMENTS'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="LOGGER_COMMENTS" class="form-control" /><span asp-validation-for="LOGGER_COMMENTS" class="text-danger"></span></div>
 
           <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

