@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_LOGGERViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>LOGGER</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LOGGER_ID)</th>
            <th>@Html.DisplayNameFor(model => model.LOGGER_MODEL)<span class='tooltipEl' id='tLOGGER_MODEL'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.LOGGER_SN)<span class='tooltipEl' id='tLOGGER_SN'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.LOGGER_ID)<span class='tooltipEl' id='tLOGGER_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.LOGGER_DATE)<span class='tooltipEl' id='tLOGGER_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.LOGGER_COMMENTS)<span class='tooltipEl' id='tLOGGER_COMMENTS'> <i class='fas fa-question-circle' /></span></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
        
            <td>@Html.DisplayFor(modelItem => item.LOGGER_ID)</td>
            <td>@Html.DisplayFor(modelItem => item.LOGGER_MODEL)</td>
            <td>@Html.DisplayFor(modelItem => item.LOGGER_SN)</td>
            <td>@Html.DisplayFor(modelItem => item.LOGGER_ID)</td>
            <td>@Html.DisplayFor(modelItem => item.LOGGER_DATE)</td>
            <td>@Html.DisplayFor(modelItem => item.LOGGER_COMMENTS)</td>

        
            <td>
                @*@if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>*@
                <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a>
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
