@model IcosCoreExt.Models.ViewModels.GRP_GAIViewModel

@{
    ViewData["Title"] = "Create";
    var cc = 0;
    if (ViewData["sent"] != null)
    {
        cc = 1;
    }
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create Green Area Index</h1>


<div class="row">
    <div class="col-md-8" id="ui-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
		<div class="form-group row ">
			<label asp-for="GAI_PLOT" class="col-sm-4 col-form-label required"></label>
			<input asp-for="GAI_PLOT" class="form-control col-sm-5" />
			<span class='tooltipEl fas fa-question-circle' id='tGAI_PLOT'></span>
			<span asp-validation-for="GAI_PLOT" class="text-danger col-sm-12"></span>
		</div>
            <div class="form-group row collapse">
				<label asp-for="GAI_PLOT_TYPE" class="col-sm-4 col-form-label "></label>
				<select asp-for="GAI_PLOT_TYPE" asp-items="@Model.GAI_PLOT_TYPETypes" class="form-control  col-sm-5">
					<option value="">Select</option>
				</select>
				<span class='tooltipEl fas fa-question-circle' id='tGAI_PLOT_TYPE'></span>
				<span asp-validation-for="GAI_PLOT_TYPE" class="text-danger col-sm-12"></span>
			</div>
            <div class="form-group row collapse">
        <label asp-for="GAI_LOCATION" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_LOCATION" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_LOCATION'></span>
        <span asp-validation-for="GAI_LOCATION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_AREA" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_AREA" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_AREA'></span>
        <span asp-validation-for="GAI_AREA" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="GAI_METHOD" class="col-sm-4 col-form-label required"></label>
        <select asp-for="GAI_METHOD" class="form-control"><option value="">Select</option></select>
        <span class='tooltipEl fas fa-question-circle' id='tGAI_METHOD'></span>
        <span asp-validation-for="GAI_METHOD" class="text-danger"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI'></span>
        <span asp-validation-for="GAI" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_HEIGHTC" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_HEIGHTC" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_HEIGHTC'></span>
        <span asp-validation-for="GAI_HEIGHTC" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_PHEN" class="col-sm-4 col-form-label "></label>
        <select asp-for="GAI_PHEN" asp-items="@Model.GAI_PHENTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tGAI_PHEN'></span>
        <span asp-validation-for="GAI_PHEN" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_SPP" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_SPP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_SPP'></span>
        <span asp-validation-for="GAI_SPP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_PTYPE" class="col-sm-4 col-form-label "></label>
        <select asp-for="GAI_PTYPE" asp-items="@Model.GAI_PTYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tGAI_PTYPE'></span>
        <span asp-validation-for="GAI_PTYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_DHP_ID" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_DHP_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_DHP_ID'></span>
        <span asp-validation-for="GAI_DHP_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_DHP_SLOPE" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_DHP_SLOPE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_DHP_SLOPE'></span>
        <span asp-validation-for="GAI_DHP_SLOPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_DHP_ASPECT" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_DHP_ASPECT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_DHP_ASPECT'></span>
        <span asp-validation-for="GAI_DHP_ASPECT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_DHP_EASTWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_DHP_EASTWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_DHP_EASTWARD_DIST'></span>
        <span asp-validation-for="GAI_DHP_EASTWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_DHP_NORTHWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_DHP_NORTHWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_DHP_NORTHWARD_DIST'></span>
        <span asp-validation-for="GAI_DHP_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_DHP_DISTANCE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_DHP_DISTANCE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_DHP_DISTANCE_POLAR'></span>
        <span asp-validation-for="GAI_DHP_DISTANCE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_DHP_ANGLE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_DHP_ANGLE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_DHP_ANGLE_POLAR'></span>
        <span asp-validation-for="GAI_DHP_ANGLE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_CEPT_ID" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_CEPT_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_CEPT_ID'></span>
        <span asp-validation-for="GAI_CEPT_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_CEPT_EASTWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_CEPT_EASTWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_CEPT_EASTWARD_DIST'></span>
        <span asp-validation-for="GAI_CEPT_EASTWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_CEPT_NORTHWARD_DIST" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_CEPT_NORTHWARD_DIST" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_CEPT_NORTHWARD_DIST'></span>
        <span asp-validation-for="GAI_CEPT_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_CEPT_DISTANCE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_CEPT_DISTANCE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_CEPT_DISTANCE_POLAR'></span>
        <span asp-validation-for="GAI_CEPT_DISTANCE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_CEPT_ANGLE_POLAR" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_CEPT_ANGLE_POLAR" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_CEPT_ANGLE_POLAR'></span>
        <span asp-validation-for="GAI_CEPT_ANGLE_POLAR" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row collapse">
        <label asp-for="GAI_LOCATION_HEIGHT" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_LOCATION_HEIGHT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_LOCATION_HEIGHT'></span>
        <span asp-validation-for="GAI_LOCATION_HEIGHT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row ">
        <label asp-for="GAI_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="GAI_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_COMMENT'></span>
        <span asp-validation-for="GAI_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row ">
        <label asp-for="GAI_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="GAI_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tGAI_DATE'></span>
        <span asp-validation-for="GAI_DATE" class="text-danger col-sm-12"></span>
    </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<script src="~/js/scripts/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">
<script>
    let gaiList = [];
    let gaiMethods = [];
    let varsToShow = [];
    let selectList = {};
    let ecoSystem = "Grassland";
    let loaded = @cc;

    const showItems = () => {
        console.log("varsToShow : " + varsToShow);
        $.each(varsToShow, function (key, value) {

            var _parent = $("#ui-container").find("#" + value).parent();
            //console.log(key + " : " + value + " : " + _parent);
            _parent.removeClass("collapse");
        });
    };

    const hideItems = () => {

        $.each(varsToShow, function (key, value) {
            var ctrl = $("#ui-container").find("#" + value);
            var _parent = $("#ui-container").find("#" + value).parent();
            _parent.addClass("collapse");
        });


    };

    const GaiMethodMng = (index) => {
        
        var obj = gaiList[index];
        var plot = $("#GAI_PLOT").val();
        
        //console.log("cazzo index " + index);
        //console.log("cazzo plot " + plot);
        for (i = 0; i < obj.gaiOpsList.length; i++) {
            console.log(obj.gaiOpsList[i].ecosystem);
            if ((obj.gaiOpsList[i].ecosystem === ecoSystem || obj.gaiOpsList[i].ecosystem === "") &&
                obj.gaiOpsList[i].plot === plot.substr(0, 2) || obj.gaiOpsList[i].plot==="") {
                varsToShow.push(obj.gaiOpsList[i].variable);
            }

        }
    }

    $('#GAI_PLOT').autocomplete({
        serviceUrl: '/api/SearchPlot/search',
        params: { 'siteID': $('#Id_site option:selected').val() },
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });

    $(document).ready(function () {
        var params = { 'ecosystem': ecoSystem };
        $.when(
            $.ajax({ // First Request
                url: '/api/uifacilities/getgaiuiops',
                contentType: "application/json",
                dataType: "json",
                data: (params),
                success: function (response) {

                    gaiList = response.slice();

                    $.each(gaiList, function (key, value) {
                        //console.log(key + " : " + value.method);
                        /*if (sensor.startsWith("GA_CP")) {
                            if (value.Variable.startsWith("EC_SA_")) { return; }
                        }
                        else {
                            if (value.Variable.startsWith("EC_GA_")) { return; }
                        }
                        var ctrl = $("#ui-container").find("#" + value.Variable);
                        var _parent = $("#ui-container").find("#" + value.Variable).parent();*/
                        //_parent.removeClass("collapse");
                    });

                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_GAI operation data. Please try again");
                    return;
                }
            }),

            $.ajax({ //Seconds Request
                url: '/api/uifacilities/getgaimethods',
                contentType: "application/json",
                dataType: "json",
                data: (params),
                success: function (avresp) {
                    //console.log(avresp);
                    gaiMethods = avresp.slice();
                    $.each(gaiMethods, function (i, item) {
                        $('#GAI_METHOD').append($('<option>', {
                            value: item,
                            text: item
                        }));
                    });
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_GRAI operation data. Please try again");
                }
            })
        ).then(function () {
            

            if (loaded === 0) {

            }

            else {

                $("#GAI_PLOT").val('@Model.GAI_PLOT');
                $("#GAI_METHOD").val('@Model.GAI_METHOD');
                console.log("GL " + gaiList);
                var ccx = $("#GAI_METHOD option:selected").index();
                
                GaiMethodMng(ccx - 1);
                showItems();
            }
       });

    });

    $("#GAI_METHOD").on("change", function (e) {
        hideItems();

        while (varsToShow.length > 0) {
            varsToShow.pop();
        }

        // console.log("selectList type change " + selectList.opList[0].variable);
        const plot = $("#GAI_PLOT").val();
        if (plot === "" || plot === undefined) {
            alert("Please, enter a GAI_PLOT value");
            $("#GAI_METHOD").val("");
            return false;
        }

        if (this.selectedIndex == 0) {
            return;
        }

        let selOption = this.value.toLowerCase();
       
        GaiMethodMng(this.selectedIndex - 1);
        showItems();
    });

</script>