@model IcosCoreExt.Models.ViewModels.GRP_GAIViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Delete Green Area Index</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_PLOT)<span class='tooltipEl' id='tGAI_PLOT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_PLOT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_PLOT_TYPE)<span class='tooltipEl' id='tGAI_PLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_PLOT_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_LOCATION)<span class='tooltipEl' id='tGAI_LOCATION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_LOCATION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_AREA)<span class='tooltipEl' id='tGAI_AREA'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_AREA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_METHOD)<span class='tooltipEl' id='tGAI_METHOD'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_METHOD)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI)<span class='tooltipEl' id='tGAI'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_HEIGHTC)<span class='tooltipEl' id='tGAI_HEIGHTC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_HEIGHTC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_PHEN)<span class='tooltipEl' id='tGAI_PHEN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_PHEN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_SPP)<span class='tooltipEl' id='tGAI_SPP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_SPP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_PTYPE)<span class='tooltipEl' id='tGAI_PTYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_PTYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_DHP_ID)<span class='tooltipEl' id='tGAI_DHP_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_DHP_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_DHP_SLOPE)<span class='tooltipEl' id='tGAI_DHP_SLOPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_DHP_SLOPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_DHP_ASPECT)<span class='tooltipEl' id='tGAI_DHP_ASPECT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_DHP_ASPECT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_DHP_EASTWARD_DIST)<span class='tooltipEl' id='tGAI_DHP_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_DHP_EASTWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_DHP_NORTHWARD_DIST)<span class='tooltipEl' id='tGAI_DHP_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_DHP_NORTHWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_DHP_DISTANCE_POLAR)<span class='tooltipEl' id='tGAI_DHP_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_DHP_DISTANCE_POLAR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_DHP_ANGLE_POLAR)<span class='tooltipEl' id='tGAI_DHP_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_DHP_ANGLE_POLAR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_CEPT_ID)<span class='tooltipEl' id='tGAI_CEPT_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_CEPT_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_CEPT_EASTWARD_DIST)<span class='tooltipEl' id='tGAI_CEPT_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_CEPT_EASTWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_CEPT_NORTHWARD_DIST)<span class='tooltipEl' id='tGAI_CEPT_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_CEPT_NORTHWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_CEPT_DISTANCE_POLAR)<span class='tooltipEl' id='tGAI_CEPT_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_CEPT_DISTANCE_POLAR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_CEPT_ANGLE_POLAR)<span class='tooltipEl' id='tGAI_CEPT_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_CEPT_ANGLE_POLAR)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_LOCATION_HEIGHT)<span class='tooltipEl' id='tGAI_LOCATION_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_LOCATION_HEIGHT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_COMMENT)<span class='tooltipEl' id='tGAI_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GAI_DATE)<span class='tooltipEl' id='tGAI_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.GAI_DATE)</td>
            </tr>

        </tbody>
    </table>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
