@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_GAIViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Green Area Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.GAI_PLOT)<span class='tooltipEl' id='tGAI_PLOT'> <i class='fas fa-question-circle' @*src="/images/qm.png"*@ /></span></th>
            <th width="120px">@Html.DisplayNameFor(model => model.GAI_PLOT_TYPE)<span class='tooltipEl' id='tGAI_PLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>
            <th width="120px">@Html.DisplayNameFor(model => model.GAI_LOCATION)<span class='tooltipEl' id='tGAI_LOCATION'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.GAI_AREA)<span class='tooltipEl' id='tGAI_AREA'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.GAI_METHOD)<span class='tooltipEl' id='tGAI_METHOD'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI)<span class='tooltipEl' id='tGAI'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.GAI_HEIGHTC)<span class='tooltipEl' id='tGAI_HEIGHTC'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_PHEN)<span class='tooltipEl' id='tGAI_PHEN'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_SPP)<span class='tooltipEl' id='tGAI_SPP'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_PTYPE)<span class='tooltipEl' id='tGAI_PTYPE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_DHP_ID)<span class='tooltipEl' id='tGAI_DHP_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_DHP_SLOPE)<span class='tooltipEl' id='tGAI_DHP_SLOPE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_DHP_ASPECT)<span class='tooltipEl' id='tGAI_DHP_ASPECT'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.GAI_COMMENT)<span class='tooltipEl' id='tGAI_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_DATE)<span class='tooltipEl' id='tGAI_DATE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.GAI_DHP_EASTWARD_DIST)<span class='tooltipEl' id='tGAI_DHP_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_DHP_NORTHWARD_DIST)<span class='tooltipEl' id='tGAI_DHP_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_DHP_DISTANCE_POLAR)<span class='tooltipEl' id='tGAI_DHP_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_DHP_ANGLE_POLAR)<span class='tooltipEl' id='tGAI_DHP_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_CEPT_ID)<span class='tooltipEl' id='tGAI_CEPT_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_CEPT_EASTWARD_DIST)<span class='tooltipEl' id='tGAI_CEPT_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_CEPT_NORTHWARD_DIST)<span class='tooltipEl' id='tGAI_CEPT_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_CEPT_DISTANCE_POLAR)<span class='tooltipEl' id='tGAI_CEPT_DISTANCE_POLAR'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_CEPT_ANGLE_POLAR)<span class='tooltipEl' id='tGAI_CEPT_ANGLE_POLAR'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.GAI_LOCATION_HEIGHT)<span class='tooltipEl' id='tGAI_LOCATION_HEIGHT'> <i class='fas fa-question-circle' /></span></th>*@

            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
        
            <td>@Html.DisplayFor(modelItem => item.Id)</td>         
<td>@Html.DisplayFor(modelItem => item.GAI_PLOT)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_PLOT_TYPE)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_LOCATION)</td>
@*<td>@Html.DisplayFor(modelItem => item.GAI_AREA)</td>*@
<td>@Html.DisplayFor(modelItem => item.GAI_METHOD)</td>
<td>@Html.DisplayFor(modelItem => item.GAI)</td>
@*<td>@Html.DisplayFor(modelItem => item.GAI_HEIGHTC)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_PHEN)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_SPP)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_PTYPE)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_DHP_ID)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_DHP_SLOPE)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_DHP_ASPECT)</td>*@
<td>@Html.DisplayFor(modelItem => item.GAI_COMMENT)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_DATE)</td>
@*<td>@Html.DisplayFor(modelItem => item.GAI_DHP_EASTWARD_DIST)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_DHP_NORTHWARD_DIST)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_DHP_DISTANCE_POLAR)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_DHP_ANGLE_POLAR)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_CEPT_ID)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_CEPT_EASTWARD_DIST)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_CEPT_NORTHWARD_DIST)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_CEPT_DISTANCE_POLAR)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_CEPT_ANGLE_POLAR)</td>
<td>@Html.DisplayFor(modelItem => item.GAI_LOCATION_HEIGHT)</td>*@

        
            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a> <text>|</text> 
                 <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
