@model IcosCoreExt.Models.ViewModels.GRP_DMViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Disturbance Management</h1>

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="DM_AGRICULTURE" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_AGRICULTURE" asp-items="@Model.DmAgriculture" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_AGRICULTURE'></span>
        <span asp-validation-for="DM_AGRICULTURE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_ENCROACH" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_ENCROACH" asp-items="@Model.DmEncroach" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_ENCROACH'></span>
        <span asp-validation-for="DM_ENCROACH" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_EXT_WEATHER" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_EXT_WEATHER" asp-items="@Model.DmExtWeather" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_EXT_WEATHER'></span>
        <span asp-validation-for="DM_EXT_WEATHER" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_FERT_M" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_FERT_M" asp-items="@Model.DmFertM" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_FERT_M'></span>
        <span asp-validation-for="DM_FERT_M" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_FERT_O" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_FERT_O" asp-items="@Model.DmFertO" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_FERT_O'></span>
        <span asp-validation-for="DM_FERT_O" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_FIRE" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_FIRE" asp-items="@Model.DmFire" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_FIRE'></span>
        <span asp-validation-for="DM_FIRE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_FORESTRY" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_FORESTRY" asp-items="@Model.DmForestry" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_FORESTRY'></span>
        <span asp-validation-for="DM_FORESTRY" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_GRAZE" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_GRAZE" asp-items="@Model.DmGraze" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_GRAZE'></span>
        <span asp-validation-for="DM_GRAZE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_INS_PATH" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_INS_PATH" asp-items="@Model.DmInspath" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_INS_PATH'></span>
        <span asp-validation-for="DM_INS_PATH" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_PESTICIDE" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_PESTICIDE" asp-items="@Model.DmPesticide" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_PESTICIDE'></span>
        <span asp-validation-for="DM_PESTICIDE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_PLANTING" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_PLANTING" asp-items="@Model.DmPlanting" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_PLANTING'></span>
        <span asp-validation-for="DM_PLANTING" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_TILL" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_TILL" asp-items="@Model.DmTill" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_TILL'></span>
        <span asp-validation-for="DM_TILL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_WATER" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_WATER" asp-items="@Model.DmWater" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_WATER'></span>
        <span asp-validation-for="DM_WATER" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_GENERAL" class="col-sm-4 col-form-label "></label>
        <select asp-for="DM_GENERAL" asp-items="@Model.DmGeneral" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tDM_GENERAL'></span>
        <span asp-validation-for="DM_GENERAL" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_SURF" class="col-sm-4 col-form-label "></label>
        <input asp-for="DM_SURF" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tDM_SURF'></span>
        <span asp-validation-for="DM_SURF" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_SURF_MEAS_PRECISION" class="col-sm-4 col-form-label "></label>
        <input asp-for="DM_SURF_MEAS_PRECISION" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tDM_SURF_MEAS_PRECISION'></span>
        <span asp-validation-for="DM_SURF_MEAS_PRECISION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="DM_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tDM_DATE'></span>
        <span asp-validation-for="DM_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_DATE_START" class="col-sm-4 col-form-label required"></label>
        <input asp-for="DM_DATE_START" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tDM_DATE_START'></span>
        <span asp-validation-for="DM_DATE_START" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_DATE_END" class="col-sm-4 col-form-label required"></label>
        <input asp-for="DM_DATE_END" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tDM_DATE_END'></span>
        <span asp-validation-for="DM_DATE_END" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_DATE_UNC" class="col-sm-4 col-form-label "></label>
        <input asp-for="DM_DATE_UNC" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tDM_DATE_UNC'></span>
        <span asp-validation-for="DM_DATE_UNC" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DM_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="DM_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tDM_COMMENT'></span>
        <span asp-validation-for="DM_COMMENT" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

