@model IcosCoreExt.Models.ViewModels.GRP_DMViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Disturbance Management Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.DM_AGRICULTURE)<span class='tooltipEl' id='tDM_AGRICULTURE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_AGRICULTURE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_ENCROACH)<span class='tooltipEl' id='tDM_ENCROACH'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_ENCROACH)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_EXT_WEATHER)<span class='tooltipEl' id='tDM_EXT_WEATHER'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_EXT_WEATHER)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_FERT_M)<span class='tooltipEl' id='tDM_FERT_M'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_FERT_M)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_FERT_O)<span class='tooltipEl' id='tDM_FERT_O'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_FERT_O)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_FIRE)<span class='tooltipEl' id='tDM_FIRE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_FIRE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_FORESTRY)<span class='tooltipEl' id='tDM_FORESTRY'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_FORESTRY)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_GRAZE)<span class='tooltipEl' id='tDM_GRAZE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_GRAZE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_INS_PATH)<span class='tooltipEl' id='tDM_INS_PATH'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_INS_PATH)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_PESTICIDE)<span class='tooltipEl' id='tDM_PESTICIDE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_PESTICIDE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_PLANTING)<span class='tooltipEl' id='tDM_PLANTING'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_PLANTING)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_TILL)<span class='tooltipEl' id='tDM_TILL'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_TILL)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_WATER)<span class='tooltipEl' id='tDM_WATER'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_WATER)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_GENERAL)<span class='tooltipEl' id='tDM_GENERAL'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_GENERAL)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_SURF)<span class='tooltipEl' id='tDM_SURF'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_SURF)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_SURF_MEAS_PRECISION)<span class='tooltipEl' id='tDM_SURF_MEAS_PRECISION'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_SURF_MEAS_PRECISION)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_DATE)<span class='tooltipEl' id='tDM_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_DATE)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_DATE_START)<span class='tooltipEl' id='tDM_DATE_START'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_DATE_START)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_DATE_END)<span class='tooltipEl' id='tDM_DATE_END'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_DATE_END)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_DATE_UNC)<span class='tooltipEl' id='tDM_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_DATE_UNC)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DM_COMMENT)<span class='tooltipEl' id='tDM_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DM_COMMENT)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
