﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_DMViewModel>

    @{
        ViewData["Title"] = "Index";
    }
    @await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

    <h1>Disturbance Management</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DM_AGRICULTURE)<span class='tooltipEl' id='tDM_AGRICULTURE'> <i class='fas fa-question-circle' /></span></th>
                <th>
                    @Html.DisplayNameFor(model => model.DM_ENCROACH)<span class='tooltipEl' id='tDM_ENCROACH'> <i class='fas fa-question-circle' /></span></th>
                <th>
                    @Html.DisplayNameFor(model => model.DM_EXT_WEATHER)<span class='tooltipEl' id='tDM_EXT_WEATHER'> <i class='fas fa-question-circle' /></span></th>
                <th>
                    @Html.DisplayNameFor(model => model.DM_FERT_M)<span class='tooltipEl' id='tDM_FERT_M'> <i class='fas fa-question-circle' /></span></th>
                <th>
                    @Html.DisplayNameFor(model => model.DM_FERT_O)<span class='tooltipEl' id='tDM_FERT_O'> <i class='fas fa-question-circle' /></span></th>
                @*<th>
            @Html.DisplayNameFor(model => model.DM_FIRE)<span class='tooltipEl' id='tDM_FIRE'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.DM_FORESTRY)<span class='tooltipEl' id='tDM_FORESTRY'> <i class='fas fa-question-circle' /></span></th>
        <th>
            @Html.DisplayNameFor(model => model.DM_GRAZE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_INS_PATH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_PESTICIDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_PLANTING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_TILL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_WATER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_GENERAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_SURF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_SURF_MEAS_PRECISION)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DM_DATE)<span class='tooltipEl' id='tDM_DATE'> <i class='fas fa-question-circle' /></span></th>
                @*
        <th>
            @Html.DisplayNameFor(model => model.DM_DATE_START)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_DATE_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_DATE_UNC)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DM_COMMENT)<span class='tooltipEl' id='tDM_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <th width="70px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DM_AGRICULTURE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DM_ENCROACH)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DM_EXT_WEATHER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DM_FERT_M)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DM_FERT_O)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.DM_FIRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_FORESTRY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_GRAZE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_INS_PATH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_PESTICIDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_PLANTING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_TILL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_WATER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_GENERAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_SURF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_SURF_MEAS_PRECISION)
        </td>*@
                <td>
                    @if (item.DM_DATE != null)
                    {
                        @Html.DisplayFor(modelItem => item.DM_DATE)
                    }
                    else
                    {
                        @item.DM_DATE_START<text> - </text>
                        @item.DM_DATE_END
                    }
                </td>
                @*
        <td>
            @Html.DisplayFor(modelItem => item.DM_DATE_START)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_DATE_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_DATE_UNC)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DM_COMMENT)
                </td>
                <td>
                    @if (item.DataStatus == 0)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> @:|
                        <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> @:|
                        <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
