﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.FieldbookViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable")
<div class="row">
    <div class="col-md-12">
        <h1>Station Field book</h1>
        <p>The Field Book is a tool to help ICOS Station Teams to keep organized and safety stored the notes that are generally collected and reported when the site is visited. The idea is to move from a classical paper field book to a more organized and easily shared (inside the team) system that allows not only to report text but also photos, sketches and audio files.</p>
        <p>There are two ways to enter items in the Field Book: the tools here below and the ICOS ETC Upkeep APP. Both the systems end up on the same database so items entered with one are also visible in the other interface. The only difference is that items can be deleted only in the web version (here) and then will disappear also from the APP as soon as synchronized.</p>
        <hr />
        <p>Select the site to see the Field Book. Click on the images to download them. Click Delete to remove an items from the Field Book. To add new items in the field book go at the end of the page.</p>
    </div>
    <div class="col-md-12" id="additem">
        <h2 class="text-highlight">Add New Field Book Item</h2>
        <p>Select which type of item you want to add (text, image or audio). For images accepted formats are jpg and png. For audio file accepted formats are mp3 and 3gp (Android). Do not upload files larger than 10 Mb.</p>
        <select id="ddlType" name="ddlType">
            <option value="0">Please select</option>
            <option value="15">Text note</option>
            <option value="21">Audio file</option>
            <option value="22">Image file</option>
        </select>
    </div>
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" id="textNote" name="textNote" required placeholder="Note title" /><br />
            </div>
            <div class="form-group">
                <textarea id="note" name="note" maxlength="2000" rows="6" placeholder="Enter text"></textarea>
            </div>
            <div class="form-group">
                <input type="file" id="files" name="files" /><br />
            </div>
            <div class="form-group">
                <button id="buttonUpload" class="button rounded fill-highlight">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <h3>Fieldbook list</h3>
        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HtmlContent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImportDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @if (item.DataTypeId == 22)
                            {
                                <a href="@item.HtmlContent" download><img src="@item.HtmlContent" alt="click to download image" width="250" /></a>
                            }
                            else if (item.DataTypeId == 21)
                            {
                                <audio controls src="@item.HtmlContent">
                                    Your browser does not support the
                                    <code>audio</code> element.
                                </audio>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.HtmlContent)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImportDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Fieldbook report</h4>
                </div>
                <div class="modal-body">
                    <p id="modal-text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var xch = "0";
    var choice = 0;
    var _selSite = "";
    var filesToUpload = [];
    var _idSite = $('#Id_site option:selected').val();

    $(document).ready(function () {
        $("#textNote").hide();
        $("#files").hide();
        $("#note").hide();
        $("#buttonUpload").hide();
        $("#jsGrid").hide();
        //$("#additem").hide();
    });

    $('#ddlType').change(function (e) {
        choice = parseInt(e.target.value);
        if (choice == 0) {
            $("#files").hide();
            $("#textNote").hide();
            $("#buttonUpload").hide();
            return;
        }
        if (choice == 15) {
            $("#note").show();
            $("#files").hide();
            $("#buttonUpload").show();
        }
        if (choice == 21) {
            $("#note").hide();
            $("#files").show();
            $("#buttonUpload").show();
        }
        if (choice == 22) {
            $("#note").hide();
            $("#files").show();
            $("#buttonUpload").show();
        }
        $("#textNote").show();

    });

    $('#files').change(function (e) {
        if (e.target.files.length == 0) {
            return;
        }
        _selSite = $("#SiteId option:selected").text();
        var filename = e.target.files[0].name;

        var dot = filename.lastIndexOf(".");
        var ext = filename.substring(dot + 1).toLowerCase();
        var subFilenameSite = filename.substr(0, 6);
        var current_size = 0;
        var max_size = 10000000;
        /* if (subFilenameSite != _selSite) {
             $("#modal-text").html("Warning! The site prefix of uploaded filename " + subFilenameSite + " does not match the selected site " + _selSite + "<br />");
             $("#myModal").modal('show');
             $(this).val(null);
             return;
         }*/
        if (choice == 22) {
            if (ext.indexOf("jpg") < 0 && ext.indexOf("png") < 0) {
                $("#modal-text").html("Warning! Only jpg or png format allowed");
                $("#myModal").modal('show');
                $(this).val(null);
                return;
            }
            else {
                var current_size = $("#files")[0].files[0].size;
                if (current_size > max_size) {
                    $("#modal-text").html("Warning! File size exceeds max size allowed");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }

            }
            $("#buttonUpload").show();
        }
        else if (choice == 21) {
            if (ext.indexOf("mp3") < 0 && ext.indexOf("3gp") < 0) {
                $("#modal-text").html("Warning! Only mp3 or 3gp format allowed");
                $("#myModal").modal('show');
                $(this).val(null);
                return;
            }
            else
                var current_size = $("#files")[0].files[0].size;
                if (current_size > max_size) {
                    $("#modal-text").html("Warning! File size exceeds max size allowed");
                    $("#myModal").modal('show');
                    $(this).val(null);
                    return;
                }
            $("#buttonUpload").show();
        }



        filesToUpload.push({
            file: e.target.files[0]
        });
    });

    $("#buttonUpload").click(function (e) {

        e.preventDefault();

        if (choice == 15) {
            if (($.trim($("#textNote").val()).length == 0) || ($.trim($("#note").val()).length == 0)) {
                $("#modal-text").html("Warning! Enter a title and a text note");
                $("#myModal").modal('show');
                return;
            }
        }
        /*if ($.trim($("#textNote").val()).length == 0) {
            $("#modal-text").html("Warning! Please enter a note title");
            $("#myModal").modal('show');
            return;
        }*/
        var note_info = $("#note").val();
        let fData = new FormData();
        for (i = 0; i < filesToUpload.length; i++) {
            fData.append('files', filesToUpload[i].file, filesToUpload[i].name);
        }
        fData.append('fileType', $("#ddlType option:selected").val());
        fData.append('data_info', $("#textNote").val());
        fData.append('site', 'FA-Lso'/*$("#SiteId option:selected").text()*/);
        fData.append('siteId', 70);
        fData.append('note_info', note_info);

        //return;
        $.ajax({
            /*xhr: function () {
                var xhr = new window.XMLHttpRequest();
                //Upload progress
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = Math.round((evt.loaded / evt.total) * 100);
                        //Do something with upload progress
                        var loadingTxt = "";
                        if (percentComplete < 100) {
                            loadingTxt = "Loading... " + percentComplete;
                        }
                        else {
                            loadingTxt = "Please wait";

                        }
                        $("#modal-text").html(loadingTxt);

                        $("#myModal").modal('show');
                    }
                }, false);

                return xhr;
            },*/

            url: '/pi/fbook/',
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: fData,
            success: function (data) {
                $("#files").val(null);
                $("#modal-text").html(data);
                $("#myModal").modal('show');
                $("#textNote").val("");
                $("#note").val("");
                $('#ddlType').val(0);
                filesToUpload = [];
                //AjaxUpload(_idSite);
                location.reload();
            },
            error: function (data) {
                $("#modal-text").html("Error in uploading Fieldbook data. Please contact administration (info@icos-etc.eu)");
                $("#files").val(null);
                filesToUpload = [];
            }


        });
    });

</script>