﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.SubmittedFilesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable")

<h1>Submitted Files</h1>

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.OriginalName)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.DataInfo)</th>
            <th>@Html.DisplayNameFor(model => model.FType.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Exclusion)</th>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th>@Html.DisplayNameFor(model => model.Site.SiteCode)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.OriginalName)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.DataInfo)</td>
                <td>@Html.DisplayFor(modelItem => item.FType.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.Exclusion)</td>
                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                <td>@Html.DisplayFor(modelItem => item.Site.SiteCode)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td><input type="button" class="btn btn-outline-success" value="Download" onclick="getFile(@item.Id, '@item.Name');" /></td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function getFile(fileId, fname) {
        //alert(fileId + " " + fname)
        $.ajax({
            type: 'GET',
            url: '/pi/downloadsubmittedfiles',
            contentType: "application/json; charset=utf-8",
            data: { 'fileId': fileId, 'fileName': fname },
            success: function (data) {
                if (data != "")

                    downloadFile(data);
            }
        });
    }

    function downloadFile(filename) {
        //alert(filename);
        var element = document.createElement('a');
        element.setAttribute('href', '#');
        element.setAttribute('download', filename);
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }

    /*window.downloadFile = function (sUrl) {
        //iOS devices do not support downloading. We have to inform user about this.
        if (/(iP)/g.test(navigator.userAgent)) {
            alert('Your device do not support files downloading. Please try again in desktop browser.');
            return false;
        }

        //If in Chrome or Safari - download via virtual link click
        if (window.downloadFile.isChrome || window.downloadFile.isSafari) {
            //Creating new link node.
            var link = document.createElement('a');
            link.href = sUrl;
            link.target = "_blank";

            if (link.download !== undefined) {
                //Set HTML5 download attribute. This will prevent file from opening if supported.
                var fileName = sUrl.substring(sUrl.lastIndexOf('/') + 1, sUrl.length);
                link.download = fileName;
            }

            //Dispatching click event.
            if (document.createEvent) {
                var e = document.createEvent('MouseEvents');
                e.initEvent('click', true, true);
                link.dispatchEvent(e);
                return true;
            }
        }

        // Force file download (whether supported by server).
        var query = '?download';

        window.open(sUrl + query, '_self');
    }

    window.downloadFile.isChrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    window.downloadFile.isSafari = navigator.userAgent.toLowerCase().indexOf('safari') > -1;*/

</script>