﻿@*
    site selector
*@
@{
}
@using IcosCoreExt.Models.PiAreaViewModels
@model SelectorVM

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#Id_site").change(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SetSite", "Pi")' + '?siteId=' + this.value,
                data: {},
                success: function (result) {
                   // alert(result);
                    //refreshGrid();
                    location.reload(true);
                    window.location.href = window.location.href;
                },
                error: function () { alert('Error'); }
            });
        });
    });
</script>
<div class="row mb-2">
    <div class="col-md-12">
        <span>Select your site:</span>
        @*@Html.LabelFor(m => m.SiteList, new { @class="siteselectorlabel"})*@
        @*@Html.DropDownList("xpisitesmenu", Model.SiteList)*@
        @Html.DropDownListFor(m => m.Id_site, Model.SiteList)
        
    </div>
</div>