@model IcosCoreExt.Models.ViewModels.GRP_AGBViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Create ABOVE GROUND BIOMASS</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="AGB_PLOT" class="col-sm-4 col-form-label required"></label>
        <input asp-for="AGB_PLOT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_PLOT'></span>
        <span asp-validation-for="AGB_PLOT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_PLOT_TYPE" class="col-sm-4 col-form-label "></label>
        <select asp-for="AGB_PLOT_TYPE" asp-items="@Model.AGB_PLOT_TYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tAGB_PLOT_TYPE'></span>
        <span asp-validation-for="AGB_PLOT_TYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_LOCATION" class="col-sm-4 col-form-label "></label>
        <input asp-for="AGB_LOCATION" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_LOCATION'></span>
        <span asp-validation-for="AGB_LOCATION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_AREA" class="col-sm-4 col-form-label "></label>
        <input asp-for="AGB_AREA" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_AREA'></span>
        <span asp-validation-for="AGB_AREA" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB" class="col-sm-4 col-form-label "></label>
        <input asp-for="AGB" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB'></span>
        <span asp-validation-for="AGB" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_HEIGHTC" class="col-sm-4 col-form-label "></label>
        <input asp-for="AGB_HEIGHTC" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_HEIGHTC'></span>
        <span asp-validation-for="AGB_HEIGHTC" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_NPP_MOSS" class="col-sm-4 col-form-label "></label>
        <input asp-for="AGB_NPP_MOSS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_NPP_MOSS'></span>
        <span asp-validation-for="AGB_NPP_MOSS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_PHEN" class="col-sm-4 col-form-label "></label>
        <select asp-for="AGB_PHEN" asp-items="@Model.AGB_PHENTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tAGB_PHEN'></span>
        <span asp-validation-for="AGB_PHEN" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_SPP" class="col-sm-4 col-form-label "></label>
        <input asp-for="AGB_SPP" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_SPP'></span>
        <span asp-validation-for="AGB_SPP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_PTYPE" class="col-sm-4 col-form-label "></label>
        <select asp-for="AGB_PTYPE" asp-items="@Model.AGB_PTYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tAGB_PTYPE'></span>
        <span asp-validation-for="AGB_PTYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_ORGAN" class="col-sm-4 col-form-label "></label>
        <select asp-for="AGB_ORGAN" asp-items="@Model.AGB_ORGANTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tAGB_ORGAN'></span>
        <span asp-validation-for="AGB_ORGAN" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_LOCATION_HEIGHT" class="col-sm-4 col-form-label "></label>
        <input asp-for="AGB_LOCATION_HEIGHT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_LOCATION_HEIGHT'></span>
        <span asp-validation-for="AGB_LOCATION_HEIGHT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_COMMENT" class="col-sm-4 col-form-label "></label>
        <input asp-for="AGB_COMMENT" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_COMMENT'></span>
        <span asp-validation-for="AGB_COMMENT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AGB_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="AGB_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tAGB_DATE'></span>
        <span asp-validation-for="AGB_DATE" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>
<script src="~/js/scripts/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="~/js/scripts/styles.css">
<script type="text/javascript">
    $('#AGB_PLOT').autocomplete({
        serviceUrl: '/api/SearchPlot/search',
        params: { 'siteID': $('#Id_site option:selected').val()},
        dataType: 'json',
        transformResult: function (response) {
            if (response) {

                return {
                    suggestions: $.map(response, function (dataItem) {
                        return { value: dataItem.trim(), data: dataItem.trim() };
                    })
                };
            }
            else {
                return {
                    suggestions: []
                };
            }
        },
        onSelect: function (suggestion) {
            //suggestion.object contain all values pass thru, no need to call again

        },
        lookupFilter: function (suggestion, originalQuery, queryLowerCase) {

            var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
            return re.test(suggestion.value);
        }
    });
</script>