@model IcosCoreExt.Models.ViewModels.GRP_AGBViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>ABOVE GROUND BIOMASS Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_PLOT)<span class='tooltipEl' id='tAGB_PLOT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_PLOT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_PLOT_TYPE)<span class='tooltipEl' id='tAGB_PLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_PLOT_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_LOCATION)<span class='tooltipEl' id='tAGB_LOCATION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_LOCATION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_AREA)<span class='tooltipEl' id='tAGB_AREA'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_AREA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB)<span class='tooltipEl' id='tAGB'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_HEIGHTC)<span class='tooltipEl' id='tAGB_HEIGHTC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_HEIGHTC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_NPP_MOSS)<span class='tooltipEl' id='tAGB_NPP_MOSS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_NPP_MOSS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_PHEN)<span class='tooltipEl' id='tAGB_PHEN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_PHEN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_SPP)<span class='tooltipEl' id='tAGB_SPP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_SPP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_PTYPE)<span class='tooltipEl' id='tAGB_PTYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_PTYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_ORGAN)<span class='tooltipEl' id='tAGB_ORGAN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_ORGAN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_LOCATION_HEIGHT)<span class='tooltipEl' id='tAGB_LOCATION_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_LOCATION_HEIGHT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_COMMENT)<span class='tooltipEl' id='tAGB_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_COMMENT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AGB_DATE)<span class='tooltipEl' id='tAGB_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.AGB_DATE)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
