@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_AGBViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>Above Ground Biomass</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.AGB_PLOT)<span class='tooltipEl' id='tAGB_PLOT'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.AGB_PLOT_TYPE)<span class='tooltipEl' id='tAGB_PLOT_TYPE'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.AGB_LOCATION)<span class='tooltipEl' id='tAGB_LOCATION'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.AGB_AREA)<span class='tooltipEl' id='tAGB_AREA'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.AGB)<span class='tooltipEl' id='tAGB'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.AGB_HEIGHTC)<span class='tooltipEl' id='tAGB_HEIGHTC'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.AGB_NPP_MOSS)<span class='tooltipEl' id='tAGB_NPP_MOSS'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.AGB_PHEN)<span class='tooltipEl' id='tAGB_PHEN'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.AGB_SPP)<span class='tooltipEl' id='tAGB_SPP'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.AGB_PTYPE)<span class='tooltipEl' id='tAGB_PTYPE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.AGB_ORGAN)<span class='tooltipEl' id='tAGB_ORGAN'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.AGB_COMMENT)<span class='tooltipEl' id='tAGB_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.AGB_DATE)<span class='tooltipEl' id='tAGB_DATE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.AGB_LOCATION_HEIGHT)<span class='tooltipEl' id='tAGB_LOCATION_HEIGHT'> <i class='fas fa-question-circle' /></span></th>*@

            <th width="70px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.AGB_PLOT)</td>
            @*<td>@Html.DisplayFor(modelItem => item.AGB_PLOT_TYPE)</td>*@
            <td>@Html.DisplayFor(modelItem => item.AGB_LOCATION)</td>
            @*<td>@Html.DisplayFor(modelItem => item.AGB_AREA)</td>*@
            <td>@Html.DisplayFor(modelItem => item.AGB)</td>
            @*<td>@Html.DisplayFor(modelItem => item.AGB_HEIGHTC)</td>
        <td>@Html.DisplayFor(modelItem => item.AGB_NPP_MOSS)</td>*@
            <td>@Html.DisplayFor(modelItem => item.AGB_PHEN)</td>
            @*<td>@Html.DisplayFor(modelItem => item.AGB_SPP)</td>*@
            <td>@Html.DisplayFor(modelItem => item.AGB_PTYPE)</td>
            @*<td>@Html.DisplayFor(modelItem => item.AGB_ORGAN)</td>*@
            <td>@Html.DisplayFor(modelItem => item.AGB_COMMENT)</td>
            <td>@Html.DisplayFor(modelItem => item.AGB_DATE)</td>
            @*<td>@Html.DisplayFor(modelItem => item.AGB_LOCATION_HEIGHT)</td>*@


            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
