@model IcosCoreExt.Models.ViewModels.GRP_STOViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";

    var cc = 0;
    if (ViewData["sent"] != null)
    {
        cc = 1;
    }
}

<h1>Create STOrage</h1>
<div class="row">
    <div class="col-md-8" id="ui-container">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row ">
                <label asp-for="STO_CONFIG" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_CONFIG" asp-items="@Model.STO_CONFIGTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_CONFIG'></span>
                <span asp-validation-for="STO_CONFIG" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row">
                <label asp-for="STO_TYPE" class="col-sm-4 col-form-label required"></label>
                <select asp-for="STO_TYPE" asp-items="@Model.STO_TYPETypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_TYPE'></span>
                <span asp-validation-for="STO_TYPE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_ID" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_ID" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_ID'></span>
                <span asp-validation-for="STO_PROF_ID" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_LEVEL" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_LEVEL" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_LEVEL'></span>
                <span asp-validation-for="STO_PROF_LEVEL" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_HEIGHT" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_HEIGHT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_HEIGHT'></span>
                <span asp-validation-for="STO_PROF_HEIGHT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_EASTWARD_DIST" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_EASTWARD_DIST" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_EASTWARD_DIST'></span>
                <span asp-validation-for="STO_PROF_EASTWARD_DIST" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_NORTHWARD_DIST" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_NORTHWARD_DIST" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_NORTHWARD_DIST'></span>
                <span asp-validation-for="STO_PROF_NORTHWARD_DIST" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_HORIZ_S_POINTS" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_HORIZ_S_POINTS" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_HORIZ_S_POINTS'></span>
                <span asp-validation-for="STO_PROF_HORIZ_S_POINTS" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_BUFFER_VOL" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_BUFFER_VOL" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_BUFFER_VOL'></span>
                <span asp-validation-for="STO_PROF_BUFFER_VOL" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_BUFFER_FLOWRATE" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_BUFFER_FLOWRATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_BUFFER_FLOWRATE'></span>
                <span asp-validation-for="STO_PROF_BUFFER_FLOWRATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_TUBE_LENGTH" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_TUBE_LENGTH" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_TUBE_LENGTH'></span>
                <span asp-validation-for="STO_PROF_TUBE_LENGTH" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_TUBE_DIAM" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_TUBE_DIAM" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_TUBE_DIAM'></span>
                <span asp-validation-for="STO_PROF_TUBE_DIAM" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_TUBE_MAT" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_PROF_TUBE_MAT" asp-items="@Model.STO_PROF_TUBE_MATTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_TUBE_MAT'></span>
                <span asp-validation-for="STO_PROF_TUBE_MAT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_TUBE_THERM" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_PROF_TUBE_THERM" asp-items="@Model.STO_PROF_TUBE_THERMTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_TUBE_THERM'></span>
                <span asp-validation-for="STO_PROF_TUBE_THERM" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_PROF_SAMPLING_TIME" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_PROF_SAMPLING_TIME" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_PROF_SAMPLING_TIME'></span>
                <span asp-validation-for="STO_PROF_SAMPLING_TIME" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_MODEL" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_GA_MODEL" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_MODEL'></span>
                <span asp-validation-for="STO_GA_MODEL" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_SN" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_GA_SN" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_SN'></span>
                <span asp-validation-for="STO_GA_SN" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_VARIABLE" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_GA_VARIABLE" asp-items="@Model.STO_GA_VARIABLETypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_VARIABLE'></span>
                <span asp-validation-for="STO_GA_VARIABLE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_PROF_ID" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_PROF_ID" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_PROF_ID'></span>
                <span asp-validation-for="STO_GA_PROF_ID" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_FLOW_RATE" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_FLOW_RATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_FLOW_RATE'></span>
                <span asp-validation-for="STO_GA_FLOW_RATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_SAMPLING_INT" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_SAMPLING_INT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_SAMPLING_INT'></span>
                <span asp-validation-for="STO_GA_SAMPLING_INT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_AZIM_MOUNT" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_AZIM_MOUNT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_AZIM_MOUNT'></span>
                <span asp-validation-for="STO_GA_AZIM_MOUNT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_VERT_MOUNT" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_VERT_MOUNT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_VERT_MOUNT'></span>
                <span asp-validation-for="STO_GA_VERT_MOUNT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_TUBE_LENGTH" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_TUBE_LENGTH" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_TUBE_LENGTH'></span>
                <span asp-validation-for="STO_GA_TUBE_LENGTH" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_TUBE_DIAM" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_TUBE_DIAM" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_TUBE_DIAM'></span>
                <span asp-validation-for="STO_GA_TUBE_DIAM" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_TUBE_MAT" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_GA_TUBE_MAT" asp-items="@Model.STO_GA_TUBE_MATTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_TUBE_MAT'></span>
                <span asp-validation-for="STO_GA_TUBE_MAT" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_TUBE_THERM" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_GA_TUBE_THERM" asp-items="@Model.STO_GA_TUBE_THERMTypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_TUBE_THERM'></span>
                <span asp-validation-for="STO_GA_TUBE_THERM" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_CAL_VARIABLE" class="col-sm-4 col-form-label "></label>
                <select asp-for="STO_GA_CAL_VARIABLE" asp-items="@Model.STO_GA_CAL_VARIABLETypes" class="form-control  col-sm-5">
                    <option value="">Select</option>
                </select>
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_CAL_VARIABLE'></span>
                <span asp-validation-for="STO_GA_CAL_VARIABLE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_CAL_VALUE" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_CAL_VALUE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_CAL_VALUE'></span>
                <span asp-validation-for="STO_GA_CAL_VALUE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_CAL_REF" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_CAL_REF" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_CAL_REF'></span>
                <span asp-validation-for="STO_GA_CAL_REF" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_GA_CAL_TA" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_GA_CAL_TA" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_GA_CAL_TA'></span>
                <span asp-validation-for="STO_GA_CAL_TA" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_LOGGER" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_LOGGER" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_LOGGER'></span>
                <span asp-validation-for="STO_LOGGER" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_FILE" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_FILE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_FILE'></span>
                <span asp-validation-for="STO_FILE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_DATE" class="col-sm-4 col-form-label required"></label>
                <input asp-for="STO_DATE" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_DATE'></span>
                <span asp-validation-for="STO_DATE" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_DATE_START" class="col-sm-4 col-form-label required"></label>
                <input asp-for="STO_DATE_START" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_DATE_START'></span>
                <span asp-validation-for="STO_DATE_START" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row collapse">
                <label asp-for="STO_DATE_END" class="col-sm-4 col-form-label required"></label>
                <input asp-for="STO_DATE_END" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_DATE_END'></span>
                <span asp-validation-for="STO_DATE_END" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="STO_DATE_UNC" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_DATE_UNC" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_DATE_UNC'></span>
                <span asp-validation-for="STO_DATE_UNC" class="text-danger col-sm-12"></span>
            </div>
            <div class="form-group row ">
                <label asp-for="STO_COMMENT" class="col-sm-4 col-form-label "></label>
                <input asp-for="STO_COMMENT" class="form-control col-sm-5" />
                <span class='tooltipEl fas fa-question-circle' id='tSTO_COMMENT'></span>
                <span asp-validation-for="STO_COMMENT" class="text-danger col-sm-12"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="~/js/scripts/jquery.autocomplete.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/js/scripts/styles.css">

    <script type="text/javascript">
        let varList = [];
        let selectList = {};
        let loaded = @cc;

        //coming from a f***ing service
        let availableStoSensors = [];
        const opList = [];
         $(document).ready(function () {
        //DIEGO:::
        //to get from select sites list
        var params = { siteId: $('#Id_site option:selected').val() };
        $.when(
            $.ajax({ // First Request
                url: '/api/uifacilities/GetStoOps',
                contentType: "application/json",
                dataType: "json",
                success: function (response) {

                    varList = response.slice();
                    console.log("VLIST "+ response);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_STO operation data. Please try again");
                    return;
                }
            }),

            $.ajax({ //Seconds Request
                url: '/api/uifacilities/getavailablestoinst',
                contentType: "application/json",
                dataType: "json",
                data: (params),
                success: function (avresp) {
                    console.log(avresp);
                    availableStoSensors = avresp.slice();
                    console.log("Av Sto " + availableStoSensors);
                },
                failure: function (response) {
                    //handle the error
                    alert("Error in retrieving GRP_STO operation data. Please try again");
                }
            })

        ).then(function () {
            $.each(availableStoSensors, function (i, item) {
                $('#STO_GA_MODEL').append($('<option>', {
                    value: item.model,
                    text: item.model
                }));

                $('#STO_GA_SN').append($('<option>', {
                    value: item.sn,
                    text: item.sn
                }));
            });

            if (loaded === 0) {

            }

            else {
                $("#STO_GA_MODEL").val('@Model.STO_GA_MODEL');
                $("#STO_GA_SN").val('@Model.STO_GA_SN');
                //ModelSnManager($("#STO_GA_MODEL option:selected").index() - 1);
                $("#STO_TYPE").val('@Model.STO_TYPE');
                selectList = {};
                selectList = varList.find(x => x.type.toLowerCase() === $("#STO_TYPE").val().toLowerCase());
                showItems();
            }

        });

         });

        $("#STO_TYPE").on("change", function (e) {
            console.log(e);
            hideItems();
            selectList = {};
            for (var i = 0; i < varList.length; i++) {
                //console.log(opList[i].OpList);
                if (varList[i].type.toLowerCase() === this.value.toLowerCase()) {
                    selectList = varList[i];
                    break;
                }
            }
             //console.log("selectList type change " + selectList.opList[0].variable);
            let selOption = this.value.toLowerCase();
            if (selOption === "ga installation") {
                if (availableStoSensors.length === 0) {
                    alert("No available GA sensors: please insert first in GRP_INST group");
                    $("#STO_TYPE").val('');
                    return;
                }
            }
            if (selOption === "maintenance") {
                if ($("input[name*='PROF']").val() !== '' || $("select[name*='PROF']").val() !== '') {
                    $("input[name*='STO_GA']").val('');
                    $("input[name*='STO_GA']").val('');
                }
                //if ($("#STO_GA_MODEL").val() != "") {
                    //reset all STO_PROF_
               // }
               // else {
                    //show the STO_PROF_
               // }
            }

            var bla = varList[this.selectedIndex - 1];

            showItems();
        });

        const hideItems = () => {

            $.each(selectList.opList, function (key, value) {
                var ctrl = $("#ui-container").find("#" + value.variable);
                var _parent = $("#ui-container").find("#" + value.variable).parent();
                if (value.variable != "STO_CONFIG" && value.variable != "STO_DATE_UNC" && value.variable != "STO_TYPE" && value.variable != "STO_COMMENT") {
                    $("#" + value.variable).val('');
                    _parent.addClass("collapse");
                }
            });


        };

        const showItems = () => {
            const sensor = $("#STO_GA_MODEL").val();
            const stoType = $("#STO_TYPE").val().toLowerCase();
            const config = $("#STO_CONFIG").val();
            $.each(selectList.opList, function (key, value) {
                console.log(key + " : " + value.variable);
                var ctrl = $("#ui-container").find("#" + value.variable);
                var _parent = $("#ui-container").find("#" + value.variable).parent();
                _parent.removeClass("collapse");
            });
        };

        $("#STO_GA_MODEL").on("change", function (e) {
            //hideItems();
            if (this.selectedIndex == 0) {
                $("#STO_GA_SN").val('');
            }
            else {
                $("#STO_GA_SN").val(availableStoSensors[this.selectedIndex - 1].sn);
            }

            // ModelSnManager(this.selectedIndex - 1);
            //
            //showItems();
        });

        $("#STO_GA_SN").on("change", function (e) {
            //hideItems();
            if (this.selectedIndex == 0) {
                $("#STO_GA_MODEL").val('');
            }
            else {
                $("#STO_GA_MODEL").val(availableStoSensors[this.selectedIndex - 1].model);
            }
            //ModelSnManager(this.selectedIndex - 1);
            //
            //showItems();
        });

    </script>
}
