@model IcosCoreExt.Models.ViewModels.GRP_STOViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>STORAGE Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_CONFIG)<span class='tooltipEl' id='tSTO_CONFIG'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_CONFIG)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_TYPE)<span class='tooltipEl' id='tSTO_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_ID)<span class='tooltipEl' id='tSTO_PROF_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_LEVEL)<span class='tooltipEl' id='tSTO_PROF_LEVEL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_LEVEL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_HEIGHT)<span class='tooltipEl' id='tSTO_PROF_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_HEIGHT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_EASTWARD_DIST)<span class='tooltipEl' id='tSTO_PROF_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_EASTWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_NORTHWARD_DIST)<span class='tooltipEl' id='tSTO_PROF_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_NORTHWARD_DIST)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_HORIZ_S_POINTS)<span class='tooltipEl' id='tSTO_PROF_HORIZ_S_POINTS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_HORIZ_S_POINTS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_BUFFER_VOL)<span class='tooltipEl' id='tSTO_PROF_BUFFER_VOL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_BUFFER_VOL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_BUFFER_FLOWRATE)<span class='tooltipEl' id='tSTO_PROF_BUFFER_FLOWRATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_BUFFER_FLOWRATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_TUBE_LENGTH)<span class='tooltipEl' id='tSTO_PROF_TUBE_LENGTH'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_TUBE_LENGTH)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_TUBE_DIAM)<span class='tooltipEl' id='tSTO_PROF_TUBE_DIAM'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_TUBE_DIAM)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_TUBE_MAT)<span class='tooltipEl' id='tSTO_PROF_TUBE_MAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_TUBE_MAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_TUBE_THERM)<span class='tooltipEl' id='tSTO_PROF_TUBE_THERM'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_TUBE_THERM)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_PROF_SAMPLING_TIME)<span class='tooltipEl' id='tSTO_PROF_SAMPLING_TIME'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_PROF_SAMPLING_TIME)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_MODEL)<span class='tooltipEl' id='tSTO_GA_MODEL'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_MODEL)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_SN)<span class='tooltipEl' id='tSTO_GA_SN'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_SN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_VARIABLE)<span class='tooltipEl' id='tSTO_GA_VARIABLE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_VARIABLE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_PROF_ID)<span class='tooltipEl' id='tSTO_GA_PROF_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_PROF_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_FLOW_RATE)<span class='tooltipEl' id='tSTO_GA_FLOW_RATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_FLOW_RATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_SAMPLING_INT)<span class='tooltipEl' id='tSTO_GA_SAMPLING_INT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_SAMPLING_INT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_AZIM_MOUNT)<span class='tooltipEl' id='tSTO_GA_AZIM_MOUNT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_AZIM_MOUNT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_VERT_MOUNT)<span class='tooltipEl' id='tSTO_GA_VERT_MOUNT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_VERT_MOUNT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_TUBE_LENGTH)<span class='tooltipEl' id='tSTO_GA_TUBE_LENGTH'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_TUBE_LENGTH)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_TUBE_DIAM)<span class='tooltipEl' id='tSTO_GA_TUBE_DIAM'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_TUBE_DIAM)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_TUBE_MAT)<span class='tooltipEl' id='tSTO_GA_TUBE_MAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_TUBE_MAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_TUBE_THERM)<span class='tooltipEl' id='tSTO_GA_TUBE_THERM'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_TUBE_THERM)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_CAL_VARIABLE)<span class='tooltipEl' id='tSTO_GA_CAL_VARIABLE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_CAL_VARIABLE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_CAL_VALUE)<span class='tooltipEl' id='tSTO_GA_CAL_VALUE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_CAL_VALUE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_CAL_REF)<span class='tooltipEl' id='tSTO_GA_CAL_REF'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_CAL_REF)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_GA_CAL_TA)<span class='tooltipEl' id='tSTO_GA_CAL_TA'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_GA_CAL_TA)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_LOGGER)<span class='tooltipEl' id='tSTO_LOGGER'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_LOGGER)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_FILE)<span class='tooltipEl' id='tSTO_FILE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_FILE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_DATE)<span class='tooltipEl' id='tSTO_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_DATE_START)<span class='tooltipEl' id='tSTO_DATE_START'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_DATE_START)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_DATE_END)<span class='tooltipEl' id='tSTO_DATE_END'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_DATE_END)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_DATE_UNC)<span class='tooltipEl' id='tSTO_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_DATE_UNC)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.STO_COMMENT)<span class='tooltipEl' id='tSTO_COMMENT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.STO_COMMENT)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @*@if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}*@
    <a asp-action="Index">Back to List</a>
</div>
