@model IcosCoreExt.Models.ViewModels.GRP_STOViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Edit STO</h1>

<h4>STO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <div class="form-group"><label asp-for="STO_CONFIG" class="control-label"></label><span class='tooltipEl' id='tSTO_CONFIG'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_CONFIG" asp-items="@Model.STO_CONFIGTypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_CONFIG" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_TYPE" class="control-label"></label><span>*</span><span class='tooltipEl' id='tSTO_TYPE'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_TYPE" asp-items="@Model.STO_TYPETypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_TYPE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_ID" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_ID'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_ID" class="form-control" /><span asp-validation-for="STO_PROF_ID" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_LEVEL" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_LEVEL'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_LEVEL" class="form-control" /><span asp-validation-for="STO_PROF_LEVEL" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_HEIGHT" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_HEIGHT'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_HEIGHT" class="form-control" /><span asp-validation-for="STO_PROF_HEIGHT" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_EASTWARD_DIST" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_EASTWARD_DIST'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_EASTWARD_DIST" class="form-control" /><span asp-validation-for="STO_PROF_EASTWARD_DIST" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_NORTHWARD_DIST" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_NORTHWARD_DIST'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_NORTHWARD_DIST" class="form-control" /><span asp-validation-for="STO_PROF_NORTHWARD_DIST" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_HORIZ_S_POINTS" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_HORIZ_S_POINTS'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_HORIZ_S_POINTS" class="form-control" /><span asp-validation-for="STO_PROF_HORIZ_S_POINTS" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_BUFFER_VOL" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_BUFFER_VOL'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_BUFFER_VOL" class="form-control" /><span asp-validation-for="STO_PROF_BUFFER_VOL" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_BUFFER_FLOWRATE" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_BUFFER_FLOWRATE'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_BUFFER_FLOWRATE" class="form-control" /><span asp-validation-for="STO_PROF_BUFFER_FLOWRATE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_TUBE_LENGTH" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_TUBE_LENGTH'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_TUBE_LENGTH" class="form-control" /><span asp-validation-for="STO_PROF_TUBE_LENGTH" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_TUBE_DIAM" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_TUBE_DIAM'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_TUBE_DIAM" class="form-control" /><span asp-validation-for="STO_PROF_TUBE_DIAM" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_TUBE_MAT" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_TUBE_MAT'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_PROF_TUBE_MAT" asp-items="@Model.STO_PROF_TUBE_MATTypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_PROF_TUBE_MAT" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_TUBE_THERM" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_TUBE_THERM'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_PROF_TUBE_THERM" asp-items="@Model.STO_PROF_TUBE_THERMTypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_PROF_TUBE_THERM" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_PROF_SAMPLING_TIME" class="control-label"></label><span class='tooltipEl' id='tSTO_PROF_SAMPLING_TIME'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_PROF_SAMPLING_TIME" class="form-control" /><span asp-validation-for="STO_PROF_SAMPLING_TIME" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_MODEL" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_MODEL'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_GA_MODEL" asp-items="@Model.STO_GA_MODELTypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_GA_MODEL" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_SN" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_SN'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_SN" class="form-control" /><span asp-validation-for="STO_GA_SN" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_VARIABLE" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_VARIABLE'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_GA_VARIABLE" asp-items="@Model.STO_GA_VARIABLETypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_GA_VARIABLE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_PROF_ID" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_PROF_ID'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_PROF_ID" class="form-control" /><span asp-validation-for="STO_GA_PROF_ID" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_FLOW_RATE" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_FLOW_RATE'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_FLOW_RATE" class="form-control" /><span asp-validation-for="STO_GA_FLOW_RATE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_SAMPLING_INT" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_SAMPLING_INT'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_SAMPLING_INT" class="form-control" /><span asp-validation-for="STO_GA_SAMPLING_INT" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_AZIM_MOUNT" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_AZIM_MOUNT'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_AZIM_MOUNT" class="form-control" /><span asp-validation-for="STO_GA_AZIM_MOUNT" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_VERT_MOUNT" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_VERT_MOUNT'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_VERT_MOUNT" class="form-control" /><span asp-validation-for="STO_GA_VERT_MOUNT" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_TUBE_LENGTH" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_TUBE_LENGTH'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_TUBE_LENGTH" class="form-control" /><span asp-validation-for="STO_GA_TUBE_LENGTH" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_TUBE_DIAM" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_TUBE_DIAM'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_TUBE_DIAM" class="form-control" /><span asp-validation-for="STO_GA_TUBE_DIAM" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_TUBE_MAT" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_TUBE_MAT'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_GA_TUBE_MAT" asp-items="@Model.STO_GA_TUBE_MATTypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_GA_TUBE_MAT" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_TUBE_THERM" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_TUBE_THERM'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_GA_TUBE_THERM" asp-items="@Model.STO_GA_TUBE_THERMTypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_GA_TUBE_THERM" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_CAL_VARIABLE" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_CAL_VARIABLE'><img class='xtooltip' src="/images/qm.png" /></span><select asp-for="STO_GA_CAL_VARIABLE" asp-items="@Model.STO_GA_CAL_VARIABLETypes" class="form-control"><option value="">Select</option></select><span asp-validation-for="STO_GA_CAL_VARIABLE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_CAL_VALUE" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_CAL_VALUE'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_CAL_VALUE" class="form-control" /><span asp-validation-for="STO_GA_CAL_VALUE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_CAL_REF" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_CAL_REF'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_CAL_REF" class="form-control" /><span asp-validation-for="STO_GA_CAL_REF" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_GA_CAL_TA" class="control-label"></label><span class='tooltipEl' id='tSTO_GA_CAL_TA'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_GA_CAL_TA" class="form-control" /><span asp-validation-for="STO_GA_CAL_TA" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_LOGGER" class="control-label"></label><span class='tooltipEl' id='tSTO_LOGGER'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_LOGGER" class="form-control" /><span asp-validation-for="STO_LOGGER" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_FILE" class="control-label"></label><span class='tooltipEl' id='tSTO_FILE'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_FILE" class="form-control" /><span asp-validation-for="STO_FILE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_DATE" class="control-label"></label><span>*</span><span class='tooltipEl' id='tSTO_DATE'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_DATE" class="form-control" /><span asp-validation-for="STO_DATE" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_DATE_START" class="control-label"></label><span>*</span><span class='tooltipEl' id='tSTO_DATE_START'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_DATE_START" class="form-control" /><span asp-validation-for="STO_DATE_START" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_DATE_END" class="control-label"></label><span>*</span><span class='tooltipEl' id='tSTO_DATE_END'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_DATE_END" class="form-control" /><span asp-validation-for="STO_DATE_END" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_DATE_UNC" class="control-label"></label><span class='tooltipEl' id='tSTO_DATE_UNC'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_DATE_UNC" class="form-control" /><span asp-validation-for="STO_DATE_UNC" class="text-danger"></span></div>
<div class="form-group"><label asp-for="STO_COMMENT" class="control-label"></label><span class='tooltipEl' id='tSTO_COMMENT'><img class='xtooltip' src="/images/qm.png" /></span><input asp-for="STO_COMMENT" class="form-control" /><span asp-validation-for="STO_COMMENT" class="text-danger"></span></div>
 
           <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

