@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_STOViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>STORAGE</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.STO_CONFIG)<span class='tooltipEl' id='tSTO_CONFIG'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.STO_TYPE)<span class='tooltipEl' id='tSTO_TYPE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.STO_PROF_ID)<span class='tooltipEl' id='tSTO_PROF_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.STO_PROF_LEVEL)<span class='tooltipEl' id='tSTO_PROF_LEVEL'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.STO_PROF_HEIGHT)<span class='tooltipEl' id='tSTO_PROF_HEIGHT'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.STO_PROF_EASTWARD_DIST)<span class='tooltipEl' id='tSTO_PROF_EASTWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_NORTHWARD_DIST)<span class='tooltipEl' id='tSTO_PROF_NORTHWARD_DIST'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_HORIZ_S_POINTS)<span class='tooltipEl' id='tSTO_PROF_HORIZ_S_POINTS'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_BUFFER_VOL)<span class='tooltipEl' id='tSTO_PROF_BUFFER_VOL'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_BUFFER_FLOWRATE)<span class='tooltipEl' id='tSTO_PROF_BUFFER_FLOWRATE'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_TUBE_LENGTH)<span class='tooltipEl' id='tSTO_PROF_TUBE_LENGTH'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_TUBE_DIAM)<span class='tooltipEl' id='tSTO_PROF_TUBE_DIAM'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_TUBE_MAT)<span class='tooltipEl' id='tSTO_PROF_TUBE_MAT'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_TUBE_THERM)<span class='tooltipEl' id='tSTO_PROF_TUBE_THERM'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_PROF_SAMPLING_TIME)<span class='tooltipEl' id='tSTO_PROF_SAMPLING_TIME'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_MODEL)<span class='tooltipEl' id='tSTO_GA_MODEL'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_SN)<span class='tooltipEl' id='tSTO_GA_SN'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_VARIABLE)<span class='tooltipEl' id='tSTO_GA_VARIABLE'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_PROF_ID)<span class='tooltipEl' id='tSTO_GA_PROF_ID'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_FLOW_RATE)<span class='tooltipEl' id='tSTO_GA_FLOW_RATE'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_SAMPLING_INT)<span class='tooltipEl' id='tSTO_GA_SAMPLING_INT'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_AZIM_MOUNT)<span class='tooltipEl' id='tSTO_GA_AZIM_MOUNT'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_VERT_MOUNT)<span class='tooltipEl' id='tSTO_GA_VERT_MOUNT'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_TUBE_LENGTH)<span class='tooltipEl' id='tSTO_GA_TUBE_LENGTH'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_TUBE_DIAM)<span class='tooltipEl' id='tSTO_GA_TUBE_DIAM'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_TUBE_MAT)<span class='tooltipEl' id='tSTO_GA_TUBE_MAT'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_TUBE_THERM)<span class='tooltipEl' id='tSTO_GA_TUBE_THERM'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_CAL_VARIABLE)<span class='tooltipEl' id='tSTO_GA_CAL_VARIABLE'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_CAL_VALUE)<span class='tooltipEl' id='tSTO_GA_CAL_VALUE'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_CAL_REF)<span class='tooltipEl' id='tSTO_GA_CAL_REF'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_GA_CAL_TA)<span class='tooltipEl' id='tSTO_GA_CAL_TA'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_LOGGER)<span class='tooltipEl' id='tSTO_LOGGER'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_FILE)<span class='tooltipEl' id='tSTO_FILE'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.STO_DATE)<span class='tooltipEl' id='tSTO_DATE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.STO_DATE_START)<span class='tooltipEl' id='tSTO_DATE_START'> <i class='fas fa-question-circle' /></span></th>
        <th>@Html.DisplayNameFor(model => model.STO_DATE_END)<span class='tooltipEl' id='tSTO_DATE_END'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>@Html.DisplayNameFor(model => model.STO_DATE_UNC)<span class='tooltipEl' id='tSTO_DATE_UNC'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.STO_COMMENT)<span class='tooltipEl' id='tSTO_COMMENT'> <i class='fas fa-question-circle' /></span></th>

            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>

            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.STO_CONFIG)</td>
            <td>@Html.DisplayFor(modelItem => item.STO_TYPE)</td>
            <td>@Html.DisplayFor(modelItem => item.STO_PROF_ID)</td>
            <td>@Html.DisplayFor(modelItem => item.STO_PROF_LEVEL)</td>
            <td>@Html.DisplayFor(modelItem => item.STO_PROF_HEIGHT)</td>
        @*<td>@Html.DisplayFor(modelItem => item.STO_PROF_EASTWARD_DIST)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_NORTHWARD_DIST)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_HORIZ_S_POINTS)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_BUFFER_VOL)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_BUFFER_FLOWRATE)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_TUBE_LENGTH)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_TUBE_DIAM)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_TUBE_MAT)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_TUBE_THERM)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_PROF_SAMPLING_TIME)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_MODEL)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_SN)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_VARIABLE)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_PROF_ID)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_FLOW_RATE)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_SAMPLING_INT)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_AZIM_MOUNT)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_VERT_MOUNT)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_TUBE_LENGTH)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_TUBE_DIAM)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_TUBE_MAT)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_TUBE_THERM)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_CAL_VARIABLE)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_CAL_VALUE)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_CAL_REF)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_GA_CAL_TA)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_LOGGER)</td>
        <td>@Html.DisplayFor(modelItem => item.STO_FILE)</td>*@
        <td>
            @if (!string.IsNullOrEmpty(item.STO_DATE))
            {@Html.DisplayFor(modelItem => item.STO_DATE)}
        else
        {
            @Html.DisplayFor(modelItem => item.STO_DATE_START)
            <text> - </text>
            @Html.DisplayFor(modelItem => item.STO_DATE_END)
        }
        </td>
            @*<td>@Html.DisplayFor(modelItem => item.STO_DATE_START)</td>
            <td>@Html.DisplayFor(modelItem => item.STO_DATE_END)</td>*@
            @*<td>@Html.DisplayFor(modelItem => item.STO_DATE_UNC)</td>*@
            <td>@Html.DisplayFor(modelItem => item.STO_COMMENT)</td>


            <td>
                @*@if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>*@
                <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a>
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
