@model IcosCoreExt.Models.ViewModels.GRP_FILEViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Create FILE</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="FILE_ID" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FILE_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFILE_ID'></span>
        <span asp-validation-for="FILE_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_LOGGER_ID" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FILE_LOGGER_ID" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFILE_LOGGER_ID'></span>
        <span asp-validation-for="FILE_LOGGER_ID" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_FORMAT" class="col-sm-4 col-form-label "></label>
        <select asp-for="FILE_FORMAT" asp-items="@Model.FILE_FORMATTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tFILE_FORMAT'></span>
        <span asp-validation-for="FILE_FORMAT" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_TYPE" class="col-sm-4 col-form-label "></label>
        <select asp-for="FILE_TYPE" asp-items="@Model.FILE_TYPETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tFILE_TYPE'></span>
        <span asp-validation-for="FILE_TYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_HEAD_NUM" class="col-sm-4 col-form-label "></label>
        <input asp-for="FILE_HEAD_NUM" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFILE_HEAD_NUM'></span>
        <span asp-validation-for="FILE_HEAD_NUM" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_HEAD_VARS" class="col-sm-4 col-form-label "></label>
        <input asp-for="FILE_HEAD_VARS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFILE_HEAD_VARS'></span>
        <span asp-validation-for="FILE_HEAD_VARS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_HEAD_TYPE" class="col-sm-4 col-form-label "></label>
        <input asp-for="FILE_HEAD_TYPE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFILE_HEAD_TYPE'></span>
        <span asp-validation-for="FILE_HEAD_TYPE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_EPOCH" class="col-sm-4 col-form-label "></label>
        <input asp-for="FILE_EPOCH" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFILE_EPOCH'></span>
        <span asp-validation-for="FILE_EPOCH" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_EXTENSION" class="col-sm-4 col-form-label "></label>
        <select asp-for="FILE_EXTENSION" asp-items="@Model.FILE_EXTENSIONTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tFILE_EXTENSION'></span>
        <span asp-validation-for="FILE_EXTENSION" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_MISSING_VALUE" class="col-sm-4 col-form-label "></label>
        <select asp-for="FILE_MISSING_VALUE" asp-items="@Model.FILE_MISSING_VALUETypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tFILE_MISSING_VALUE'></span>
        <span asp-validation-for="FILE_MISSING_VALUE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_TIMESTAMP" class="col-sm-4 col-form-label "></label>
        <select asp-for="FILE_TIMESTAMP" asp-items="@Model.FILE_TIMESTAMPTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tFILE_TIMESTAMP'></span>
        <span asp-validation-for="FILE_TIMESTAMP" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_COMPRESS" class="col-sm-4 col-form-label "></label>
        <select asp-for="FILE_COMPRESS" asp-items="@Model.FILE_COMPRESSTypes" class="form-control  col-sm-5">
            <option value="">Select</option>
        </select>
        <span class='tooltipEl fas fa-question-circle' id='tFILE_COMPRESS'></span>
        <span asp-validation-for="FILE_COMPRESS" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_DATE" class="col-sm-4 col-form-label required"></label>
        <input asp-for="FILE_DATE" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFILE_DATE'></span>
        <span asp-validation-for="FILE_DATE" class="text-danger col-sm-12"></span>
    </div>
    <div class="form-group row">
        <label asp-for="FILE_COMMENTS" class="col-sm-4 col-form-label "></label>
        <input asp-for="FILE_COMMENTS" class="form-control col-sm-5" />
        <span class='tooltipEl fas fa-question-circle' id='tFILE_COMMENTS'></span>
        <span asp-validation-for="FILE_COMMENTS" class="text-danger col-sm-12"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
