@model IcosCoreExt.Models.ViewModels.GRP_FILEViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>FILE Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_ID)<span class='tooltipEl' id='tFILE_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_LOGGER_ID)<span class='tooltipEl' id='tFILE_LOGGER_ID'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_LOGGER_ID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_FORMAT)<span class='tooltipEl' id='tFILE_FORMAT'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_FORMAT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_TYPE)<span class='tooltipEl' id='tFILE_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_HEAD_NUM)<span class='tooltipEl' id='tFILE_HEAD_NUM'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_HEAD_NUM)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_HEAD_VARS)<span class='tooltipEl' id='tFILE_HEAD_VARS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_HEAD_VARS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_HEAD_TYPE)<span class='tooltipEl' id='tFILE_HEAD_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_HEAD_TYPE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_EPOCH)<span class='tooltipEl' id='tFILE_EPOCH'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_EPOCH)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_EXTENSION)<span class='tooltipEl' id='tFILE_EXTENSION'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_EXTENSION)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_MISSING_VALUE)<span class='tooltipEl' id='tFILE_MISSING_VALUE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_MISSING_VALUE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_TIMESTAMP)<span class='tooltipEl' id='tFILE_TIMESTAMP'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_TIMESTAMP)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_COMPRESS)<span class='tooltipEl' id='tFILE_COMPRESS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_COMPRESS)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_DATE)<span class='tooltipEl' id='tFILE_DATE'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_DATE)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FILE_COMMENTS)<span class='tooltipEl' id='tFILE_COMMENTS'> <i class='fas fa-question-circle' /></span></th>
                <td>@Html.DisplayFor(model => model.FILE_COMMENTS)</td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
</div>
