@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_FILEViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")

<h1>FILE</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FILE_ID)<span class='tooltipEl' id='tFILE_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FILE_LOGGER_ID)<span class='tooltipEl' id='tFILE_LOGGER_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FILE_FORMAT)<span class='tooltipEl' id='tFILE_FORMAT'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FILE_TYPE)<span class='tooltipEl' id='tFILE_TYPE'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.FILE_HEAD_NUM)<span class='tooltipEl' id='tFILE_HEAD_NUM'> <i class='fas fa-question-circle' /></span></th>
                <th>@Html.DisplayNameFor(model => model.FILE_HEAD_VARS)<span class='tooltipEl' id='tFILE_HEAD_VARS'> <i class='fas fa-question-circle' /></span></th>
                <th>@Html.DisplayNameFor(model => model.FILE_HEAD_TYPE)<span class='tooltipEl' id='tFILE_HEAD_TYPE'> <i class='fas fa-question-circle' /></span></th>
                <th>@Html.DisplayNameFor(model => model.FILE_EPOCH)<span class='tooltipEl' id='tFILE_EPOCH'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.FILE_EXTENSION)<span class='tooltipEl' id='tFILE_EXTENSION'> <i class='fas fa-question-circle' /></span></th>
            @*<th>@Html.DisplayNameFor(model => model.FILE_MISSING_VALUE)<span class='tooltipEl' id='tFILE_MISSING_VALUE'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>@Html.DisplayNameFor(model => model.FILE_TIMESTAMP)<span class='tooltipEl' id='tFILE_TIMESTAMP'> <i class='fas fa-question-circle' /></span></th>*@
            <th>@Html.DisplayNameFor(model => model.FILE_COMPRESS)<span class='tooltipEl' id='tFILE_COMPRESS'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FILE_DATE)<span class='tooltipEl' id='tFILE_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th>@Html.DisplayNameFor(model => model.FILE_COMMENTS)<span class='tooltipEl' id='tFILE_COMMENTS'> <i class='fas fa-question-circle' /></span></th>

            <th width="70px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>


                <td>@Html.DisplayFor(modelItem => item.FILE_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.FILE_LOGGER_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.FILE_FORMAT)</td>
                <td>@Html.DisplayFor(modelItem => item.FILE_TYPE)</td>
                @*<td>@Html.DisplayFor(modelItem => item.FILE_HEAD_NUM)</td>
                    <td>@Html.DisplayFor(modelItem => item.FILE_HEAD_VARS)</td>
                    <td>@Html.DisplayFor(modelItem => item.FILE_HEAD_TYPE)</td>
                    <td>@Html.DisplayFor(modelItem => item.FILE_EPOCH)</td>*@
                <td>@Html.DisplayFor(modelItem => item.FILE_EXTENSION)</td>
                @*<td>@Html.DisplayFor(modelItem => item.FILE_MISSING_VALUE)</td>*@
                @*<td>@Html.DisplayFor(modelItem => item.FILE_TIMESTAMP)</td>*@
                <td>@Html.DisplayFor(modelItem => item.FILE_COMPRESS)</td>
                <td>@Html.DisplayFor(modelItem => item.FILE_DATE)</td>
                <td>@Html.DisplayFor(modelItem => item.FILE_COMMENTS)</td>


                <td>
                    @if (item.DataStatus == 0)
                    {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                    <a asp-action="Details" asp-route-id="@item.Id" class="far fa-eye" title="Details"></a> <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
                </td>
            </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
