@model IcosCoreExt.Models.ViewModels.GRP_DHPViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<script type="text/javascript" src="~/js/IsoDateValidator.js"></script>

<h1>Create DHP</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group row">
<label asp-for="DHP_ID" class="col-sm-4 col-form-label required"></label>
<input asp-for="DHP_ID" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tDHP_ID'></span>
<span asp-validation-for="DHP_ID" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_CAMERA" class="col-sm-4 col-form-label required"></label>
<select asp-for="DHP_CAMERA" asp-items="@Model.Cameras" class="form-control  col-sm-5">
<option value="">Select</option>
</select>
<span class='tooltipEl fas fa-question-circle' id='tDHP_CAMERA'></span>
<span asp-validation-for="DHP_CAMERA" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_CAMERA_SN" class="col-sm-4 col-form-label required"></label>
<input asp-for="DHP_CAMERA_SN" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tDHP_CAMERA_SN'></span>
<span asp-validation-for="DHP_CAMERA_SN" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_LENS" class="col-sm-4 col-form-label required"></label>
<select asp-for="DHP_LENS" asp-items="@Model.Lenses" class="form-control  col-sm-5">
<option value="">Select</option>
</select>
<span class='tooltipEl fas fa-question-circle' id='tDHP_LENS'></span>
<span asp-validation-for="DHP_LENS" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_LENS_SN" class="col-sm-4 col-form-label required"></label>
<input asp-for="DHP_LENS_SN" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tDHP_LENS_SN'></span>
<span asp-validation-for="DHP_LENS_SN" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_OC_ROW" class="col-sm-4 col-form-label required"></label>
<input asp-for="DHP_OC_ROW" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tDHP_OC_ROW'></span>
<span asp-validation-for="DHP_OC_ROW" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_OC_COL" class="col-sm-4 col-form-label required"></label>
<input asp-for="DHP_OC_COL" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tDHP_OC_COL'></span>
<span asp-validation-for="DHP_OC_COL" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_RADIUS" class="col-sm-4 col-form-label required"></label>
<input asp-for="DHP_RADIUS" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tDHP_RADIUS'></span>
<span asp-validation-for="DHP_RADIUS" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_COMMENT" class="col-sm-4 col-form-label "></label>
<input asp-for="DHP_COMMENT" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tDHP_COMMENT'></span>
<span asp-validation-for="DHP_COMMENT" class="text-danger col-sm-12"></span>
</div>
<div class="form-group row">
<label asp-for="DHP_DATE" class="col-sm-4 col-form-label "></label>
<input asp-for="DHP_DATE" class="form-control col-sm-5" />
<span class='tooltipEl fas fa-question-circle' id='tDHP_DATE'></span>
<span asp-validation-for="DHP_DATE" class="text-danger col-sm-12"></span>
</div>
 
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
