@model IcosCoreExt.Models.ViewModels.GRP_DHPViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>DHP Details</h1>

<div>
    <table class="detailsTable">
        <tbody>
            <tr>
<th>@Html.DisplayNameFor(model => model.DHP_ID)<span class='tooltipEl' id='tDHP_ID'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_ID)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_CAMERA)<span class='tooltipEl' id='tDHP_CAMERA'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_CAMERA)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_CAMERA_SN)<span class='tooltipEl' id='tDHP_CAMERA_SN'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_CAMERA_SN)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_LENS)<span class='tooltipEl' id='tDHP_LENS'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_LENS)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_LENS_SN)<span class='tooltipEl' id='tDHP_LENS_SN'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_LENS_SN)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_OC_ROW)<span class='tooltipEl' id='tDHP_OC_ROW'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_OC_ROW)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_OC_COL)<span class='tooltipEl' id='tDHP_OC_COL'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_OC_COL)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_RADIUS)<span class='tooltipEl' id='tDHP_RADIUS'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_RADIUS)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_COMMENT)<span class='tooltipEl' id='tDHP_COMMENT'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_COMMENT)</td>
</tr>
<tr>
<th>@Html.DisplayNameFor(model => model.DHP_DATE)<span class='tooltipEl' id='tDHP_DATE'> <i class='fas fa-question-circle' /></span></th>
<td>@Html.DisplayFor(model => model.DHP_DATE)</td>
</tr>

        </tbody>
    </table>
</div>
<div>
    @if (Model.DataStatus == 0)
    {<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>&vert;</span>}
    <a asp-action="Index">Back to List</a>
    </div>
