﻿@model IEnumerable<IcosCoreExt.Models.ViewModels.GRP_DHPViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
@await Html.PartialAsync("_DataTable") @await Html.PartialAsync("_BADMMenuPartial")
<h1>DHP Images</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DHP_ID)<span class='tooltipEl' id='tDHP_ID'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.DHP_CAMERA)<span class='tooltipEl' id='tDHP_CAMERA'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.DHP_CAMERA_SN)<span class='tooltipEl' id='tDHP_CAMERA_SN'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.DHP_LENS)<span class='tooltipEl' id='tDHP_LENS'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.DHP_LENS_SN)<span class='tooltipEl' id='tDHP_LENS_SN'> <i class='fas fa-question-circle' /></span></th>
            @*<th>
                @Html.DisplayNameFor(model => model.DHP_OC_ROW)<span class='tooltipEl' id='tDHP_OC_ROW'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.DHP_OC_COL)<span class='tooltipEl' id='tDHP_OC_COL'> <i class='fas fa-question-circle' /></span></th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.DHP_RADIUS)<span class='tooltipEl' id='tDHP_RADIUS'> <i class='fas fa-question-circle' /></span></th>*@
            <th>
                @Html.DisplayNameFor(model => model.DHP_COMMENT)<span class='tooltipEl' id='tDHP_COMMENT'> <i class='fas fa-question-circle' /></span></th>
            <th>
                @Html.DisplayNameFor(model => model.DHP_DATE)<span class='tooltipEl' id='tDHP_DATE'> <i class='fas fa-question-circle' /></span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.DataStatus != 0) { <text> class="invalidRow" </text> }>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DHP_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DHP_CAMERA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DHP_CAMERA_SN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DHP_LENS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DHP_LENS_SN)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DHP_OC_ROW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DHP_OC_COL)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.DHP_RADIUS)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DHP_COMMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DHP_DATE)
            </td>
            <td>
                @if (item.DataStatus == 0)
                {<text><a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pencil-alt" title="Edit"></a> |</text>
                <a asp-action="Details" asp-route-id="@item.Id"class="far fa-eye" title="Details"></a> <text>|</text> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash" title="Delete"></a>}
            </td>
        </tr>
        }
    </tbody>
</table><p><a asp-action="BADM" asp-controller="PI">Back to BADM Menu</a></p>
