﻿@model IcosCoreExt.Models.ViewModels.WGUserViewModel

@{
    ViewData["Title"] = "WGRegister";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}

<h1>Register to Working Groups</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="WGRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input asp-for="surname" class="form-control" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Institution</label>
                <input asp-for="Institution" class="form-control" />
                <span asp-validation-for="Institution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email Address</label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="auto" /> @Html.DisplayNameFor(model => model.auto)
            </label>
        </div>*@
            <div class="form-group">
                <label class="control-label">Select Working Groups:</label>
                <span asp-validation-for="workingGroups" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table style="width:100%">
                    @for (int i = 0; i < Model.workingGroups.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.workingGroups[i].selected" type="checkbox" class="form-control" />
                                <input asp-for="@Model.workingGroups[i].id" type="hidden" />
                                <input asp-for="@Model.workingGroups[i].description" type="hidden" />
                            </td>
                            <td>
                                <label asp-for="@Model.workingGroups[i].id" class="control-label">&nbsp;@Model.workingGroups[i].description</label>
                            </td>
                        </tr>
                    }
                </table>
            </div>
                <div class="form-group">
                    <input type="submit" value="REGISTER" class="btn btn-primary" />
                </div>

        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back To Overview","WorkingGroups")
</div>

