﻿@model IcosCoreExt.Models.ViewModels.WorkingGroupViewModel
@{
    ViewData["Title"] = "Working Group";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<div id="wg_cont_1">
    <h1>WG on IRGA</h1>
    <p>This working group will define the characteristics, setup, maintenance and use of the Infra Red Gas Analyzer for CO<sub>2</sub> and H<sub>2</sub>O high frequency measurements to be used in the eddy covariance fluxes calculation.</p>
    <p>Coordinator of the WG is Marc Aubinet (<a href="mailto:marc.aubinet@ulg.ac.be">marc.aubinet@ulg.ac.be</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status:</strong> final version submitted</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_2">
    <br />
    <h1>WG on Sonic Anemometer</h1>
    <p>This working group will define the characteristics, setup, maintenance and use of the Sonic Anemometer for high frequency 3D wind speed measurements to be used in the eddy covariance fluxes calculation.</p>
    <p>Coordinator of the WG is Hans Peter (HaPe) Schmid (<a href="mailto:hape.schmid@kit.edu">hape.schmid@kit.edu</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status:</strong> final version submitted</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_3">
    <br />
    <h1>WG on Eddy Covariance system setup</h1>
    <p>This working group will define the setup of the eddy covariance system (IRGA and Sonic Anemometer) on the tower, including position, methods and data flow.</p>
    <p>Coordinator of the WG is Corinna Rebman (<a href="mailto:corinna.rebmann@ufz.de">corinna.rebmann@ufz.de</a>), please contact her directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status: </strong>Protocol and Instruction published</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_4">
    <br />
    <h1>WG on Storage fluxes</h1>
    <p>This working group will define the methods, setup and maintenance of the system to measure the storage flux term for trace gases, sensible and latent heat.</p>
    <p>Coordinator of the WG is Leonardo Montagnani (<a href="mailto:leonardo.montagnani@unibz.it">leonardo.montagnani@unibz.it</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status: </strong>Protocol and Instruction published</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_5">
    <br />
    <h1>WG on Chambers measurements</h1>
    <p>This working group will define standard methods for fluxes measurements using chambers, including the fluxes calculation.</p>
    <p>Coordinator of the WG is Marian Pavelka (<a href="mailto:pavelka.m@czechglobe.cz">pavelka.m@czechglobe.cz</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status:</strong> final version submitted</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_6">
    <br />
    <h1>WG on Soil samples collection and analysis</h1>
    <p>This working group will define the soil sampling scheme and method, samples preparation and their analysis.</p>
    <p>Coordinator of the WG is Dominique Arrouays (<a href="mailto:dominique.arrouays@orleans.inra.fr">dominique.arrouays@orleans.inra.fr</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status: </strong>Protocol and Instruction published</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_7">
    <br />
    <h1>WG on Plants samples collection and analysis</h1>
    <p>This working group will define the plants sampling scheme and method, samples preparation and their analysis.</p>
    <p>Coordinator of the WG is Denis Loustau (<a href="mailto:denis.loustau@bordeaux.inra.fr">denis.loustau@bordeaux.inra.fr</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status: </strong>Protocol and Instruction published</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_8">
    <br />
    <h1>WG on Ancillary vegetation measurements</h1>
    <p>This working group will define methods to measure ancillary information needed for fluxes interpretation such above ground biomass, LAI and litter-fall. Due to the organization of the protocol per ecosystem type the WG is divided in four subgroups.</p>
    <p>Coordinators have been identified for each of the four ecosystem types, please contact them directly to get the last version of the protocol or if you need more information:</p>
    <ul>
        <li>
            <p>Cropland: Bert Gielen (<a href="mailto:bert.gielen@uantwerpen.be">bert.gielen@uantwerpen.be</a>)</p>
        </li>
        <li>
            <p>Forest: Bert Gielen (<a href="mailto:bert.gielen@uantwerpen.be">bert.gielen@uantwerpen.be</a>)</p>
        </li>
        <li>
            <p>Grassland: Maarten Op de Beeck (<a href="mailto:maarten.opdebeeck@uantwerpen.be">maarten.opdebeeck@uantwerpen.be</a>)</p>
        </li>
        <li>
            <p>Mire: Maarten Op de Beeck (<a href="mailto:maarten.opdebeeck@uantwerpen.be">maarten.opdebeeck@uantwerpen.be</a>)</p>
        </li>
    </ul>
    <p><strong>Actual status: </strong>Protocol and Instruction published</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_9">
    <br />
    <h1>WG on Soil continuous climate variables</h1>
    <p>This working group will define methods, design, sensors and maintenance for the continuous soil related climate variable: soil temperature, soil water content, groundwater level and soil heat flux.</p>
    <p>Coordinator of the WG is Bert Gielen (<a href="mailto:bert.gielen@uantwerpen.be">bert.gielen@uantwerpen.be</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status: </strong>Protocol and Instruction published</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_10">
    <br />
    <h1>WG on Radiation components measurement</h1>
    <p>This working group will define methods, design, sensors and maintenance for continuous radiation components measurements such [SW; LW; PPFD], [incoming; outgoing; net], [diffuse; direct; total], [above canopy; below canopy].</p>
    <p>Coordinator of the WG is Sebastien Biraud (<a href="mailto:SCBiraud@lbl.gov">SCBiraud@lbl.gov</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status: </strong>Protocol and Instruction published</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_11">
    <br />
    <h1>WG on Precipitations</h1>
    <p>This working group will define methods, design, sensors and maintenance for continuous measurements of precipitation, including rain and snow precipitations.</p>
    <p>Coordinator of the WG is Sigrid Dengel (<a href="mailto:sigrid.dengel@helsinki.fi">sigrid.dengel@helsinki.fi</a>), please contact her directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status: </strong>Protocol and Instruction published</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_12">
    <br />
    <h1>WG on Lateral fluxes</h1>
    <p>This working group will define methods to measure all the lateral fluxes and their causes and impacts. Exports due to harvesting and grazing, inputs such amendments and residuals management, soil disturbances and more in general all the biotic and abiotic disturbance effects are considered, including the site history and description.</p>
    <p>Coordinator of the WG is Matthew Saunders but the work has been organized in six sub-groups strongly interconnected, each with a specific coordinator: please contact them directly to get the last version of the protocol or if you need more information:</p>
    <ul>
        <li>
            <p>Site characterization (history, fetch, maps, inventories): Matthew Saunders (<a href="mailto:saundem@tcd.ie">saundem@tcd.ie</a>)</p>
        </li>
        <li>
            <p>Export (harvesting and grazing): Sigrid Dengel (<a href="mailto:sigrid.dengel@helsinki.fi">sigrid.dengel@helsinki.fi</a>)</p>
        </li>
        <li>
            <p>Site amendments (fertilisation, liming, herbicide/pesticide/fungicide, residue management, irrigation): Christine Moureaux (<a href="mailto:christine.moureaux@ulg.ac.be">christine.moureaux@ulg.ac.be</a>)</p>
        </li>
        <li>
            <p>Soil disturbance due to management (tillage, sowing/planting, rolling, drainage, land use change): Matthew Saunders (<a href="mailto:saundem@tcd.ie">saundem@tcd.ie</a>)</p>
        </li>
        <li>
            <p>Biotic disturbance events (insects, disease, pathogens): Leonardo Montagnani (<a href="mailto:leonardo.montagnani@unibz.it">leonardo.montagnani@unibz.it</a>)</p>
        </li>
        <li>
            <p>Abiotic disturbance events(extreme climatic events e.g. water [drought/flooding], wind, fire): Matthew Saunders (<a href="mailto:saundem@tcd.ie">saundem@tcd.ie</a>)</p>
        </li>
    </ul>
    <p><strong>Actual status:</strong> final version submitted</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_13">
    <br />
    <h1>WG on Phenological camera</h1>
    <p>This working group will define methods, design, sensors, maintenance and data processing to use cameras for quantitative and qualitative data about the vegetation status.</p>
    <p>Coordinator of the WG is Lisa Wingate (<a href="mailto:l.wingate@ed.ac.uk">l.wingate@ed.ac.uk</a>), please contact her directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status:</strong> final version submitted</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_14">
    <br />
    <h1>WG on Data Processing</h1>
    <p>This working group will define methods for Eddy covariance and meteorological data processing, from raw data to synthesis products, including uncertainty estimation.</p>
    <p>Coordinator of the WG is Dario Papale (<a href="mailto:darpap@unitus.it">darpap@unitus.it</a>).</p>
    <p><strong>Actual status:</strong> final version submitted</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_15">
    <br />
    <h1>WG on QAQC and multiple constraints</h1>
    <p>This working group will define methods and tools for data QAQC including multiple constraint analysis.</p>
    <p>Coordinator of the WG is Maarten Op de Beeck (<a href="mailto:maarten.opdebeeck@uantwerpen.be">maarten.opdebeeck@uantwerpen.be</a>).</p>
    <p><strong>Actual status:</strong> first draft in preparation</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_16">
    <br />
    <h1>WG on CH<sub>4</sub> and N<sub>2</sub>O EC measurements</h1>
    <p>This working group will define the characteristics, setup and maintenance of the eddy covariance system to measure N<sub>2</sub>O and CH<sub>4</sub> fluxes, in coordinations with the Eddy Covariance set-up WG.</p>
    <p>Coordinator of the WG is Eiko Nemitz (<a href="mailto:en@ceh.ac.uk">en@ceh.ac.uk</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status:</strong> final version submitted</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_17">
    <br />
    <h1>WG on non-CO<sub>2</sub> manual chamber measurements</h1>
    <p>This working group will define the characteristics, methods and calculation for non-CO<sub>2</sub> manual chambers measurements.</p>
    <p>Coordinator of the WG is Ralf Kiese (<a href="mailto:ralf.kiese@kit.edu">ralf.kiese@kit.edu</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status:</strong> first draft in preparation</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_18">
    <br />
    <h1>WG on measurements over Water Bodies</h1>
    <p>This working group will define standard methods for fluxes and meteorological measurements, including the fluxes calculation, over water bodies such lakes and sea.</p>
    <p>Coordinator of the WG is Ivan Mammarella (<a href="mailto:ivan.mammarella@helsinki.fi">ivan.mammarella@helsinki.fi</a>), please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status:</strong> first draft in preparation</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div id="wg_cont_19">
    <br />
    <h1>WG on measurements over Urban areas</h1>
    <p>This working group will define standard methods for fluxes and meteorological measurements, including the fluxes calculation, over urban areas.</p>
    <p>Coordinator of the WG is under nomination, please contact him directly to get the last version of the protocol or if you need more information.</p>
    <p><strong>Actual status:</strong> first draft in preparation</p>
    <p>To register to this and others working groups click @Html.ActionLink("here","WGRegister","Home"), to be removed please contact the ETC staff at <a href="MAILTO:info@icos-etc.eu">info@icos-etc.eu</a>.</p>
    <h2>WG participants</h2>
</div>
<div>
    <input type="button" value="Get mail list" class="btn btn-primary" onclick="getMails();" />
    <input type="button" value="Download as CSV" class="btn btn-primary" onclick="location.href='@Url.Action("DownloadWGUsers","Home", new { WGId = Model.id})'"/><br /><br />
</div>
<div id="participants">
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Institution
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WGUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.surname) &nbsp;@Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Institution)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <br />
    @Html.ActionLink("Back To Overview", "WorkingGroups")
</div>
<style type="text/css">
    .modal {
        background-color: #efefef;
        width: 550px;
        height: 380px;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 15px;
        text-align: left;
        border: 1px solid #333;
    }
</style>
<div class="modal" id="divEmails">
    <input type="button" id="btnSelect" value="Select" onclick='selectText("txtEmails");' class="btn btn-primary"/>
    <input type="button" id="btnClose" value="Close" onclick="hide();" class="btn btn-primary"/><br />
    <textarea rows="12" cols="40" id="txtEmails">@Model.usersEmails.ToString();</textarea>
</div>
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        for(var i=1; i<=19; i++){
            if(i!= @Model.id){
                var dHide="div#wg_cont_"+i;
                $(dHide).hide();
            }
        }

        $('#dataTable').DataTable(
            {
                "lengthMenu": [[25, 50, -1], [25, 50, "All"]]
            }
        );
    });
    function getMails() {
        $("#divEmails").show();
    }
    function hide() {
        $("#divEmails").hide();
    }

    function selectText(containerid) {
        $("#txtEmails").select();
        $("#txtEmails").focus();
    }
</script>