﻿@{
    ViewData["Title"] = "Working Groups";
    Layout = "~/Views/Shared/_LayoutICOS.cshtml";
}
<h1>ICOS Ecosystem Working Groups</h1>
<p>The highly standardized measurements needed in ICOS require specific and precise protocols that standardize the instruments, methods and processing for all the variables of interest. These protocols need to be in line with the existing international standards and need to be harmonized with ongoing initiatives in other networks.</p>
<p>The ICOS Ecosystem Monitoring Stations Assembly (MSA) decided to work on actual and future protocols with the organization of specific Working Groups open to the whole scientific international community, including the technical experts and others networks representatives. The Ecosystem Thematic Centre is responsible for the protocol preparation monitoring and for their final implementation and dissemination.</p>
<p>All scientists willing to contribute to the discussion and definition of best practices and protocols are encouraged to register for the WG of their interest. To receive the last version of the protocol draft please contact the protocol coordinator reported below. When the final draft will be approved it will be notified in the specific WG page. The WG will however remain active for possible future developments and improvements.</p>
<p>To register for a working group click @Html.ActionLink("here","WGRegister","Home")</p>
<div style="margin-left: 60px;">
    <h2>WG IRGA</h2>
    <p>Infra Red Gas Analyzer for CO<sub>2</sub> and H<sub>2</sub>O high frequency measurements: characteristics, setup, maintenance and use.</p>
    <p>Coordinator: Marc Aubinet (<a href="mailto:marc.aubinet@ulg.ac.be">marc.aubinet@ulg.ac.be</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 1 })</p>
    <h2>WG Anemometer</h2>
    <p>Sonic anemometer for high frequency 3D measurements: characteristics, setup, maintenance and use.</p>
    <p>Coordinator: Hans Peter (HaPe) Schmid (<a href="mailto:hape.schmid@kit.edu">hape.schmid@kit.edu</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 2 })</p>
    <h2>WG Eddy Setup</h2>
    <p>Setup of the eddy covariance system on the tower: position, method, data flow.</p>
    <p>Coordinator: Corinna Rebman (<a href="mailto:corinna.rebmann@ufz.de">corinna.rebmann@ufz.de</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 3 })</p>
    <h2>WG Storage fluxes</h2>
    <p>Measurement of the storage term for trace gases, sensible and latent heat: methods, setup, maintenance.</p>
    <p>Coordinator: Leonardo Montagnani (<a href="mailto:leonardo.montagnani@unibz.it">leonardo.montagnani@unibz.it</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 4 })</p>
    <h2>WG Chambers measurements</h2>
    <p>Definition of standard methods for fluxes measurements using chambers, including the fluxes calculation.</p>
    <p>Coordinator: Marian Pavelka (<a href="mailto:pavelka.m@czechglobe.cz">pavelka.m@czechglobe.cz</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 5 })</p>
    <h2>WG Soil sampling and analysis</h2>
    <p>Soil sampling design and scheme, samples preparation and analysis.</p>
    <p>Coordinator: Dominique Arrouays (<a href="mailto:dominique.arrouays@orleans.inra.fr">dominique.arrouays@orleans.inra.fr</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 6 })</p>
    <h2>WG Plants sampling and analysis</h2>
    <p>Plants sampling design and scheme, samples preparation and analysis.</p>
    <p>Coordinator: Denis Loustau (<a href="mailto:denis.loustau@bordeaux.inra.fr">denis.loustau@bordeaux.inra.fr</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 7 })</p>
    <h2>WG Ancillary vegetation measurements</h2>
    <p>Ancillary measurements needed for fluxes interpretation such above ground biomass, LAI and litter-fall, specific for each ecosystem. Due to the organization of the protocol per ecosystem type the WG is divided in four subgroups:</p>
    <ul>
        <li>
            Cropland. Coordinator: Bert Gielen (<a href="mailto:bert.gielen@uantwerpen.be">bert.gielen@uantwerpen.be</a>)
        </li>
        <li>
            Forest. Coordinator: Bert Gielen (<a href="mailto:bert.gielen@uantwerpen.be">bert.gielen@uantwerpen.be</a>)
        </li>
        <li>
            Grassland. Coordinator: Maarten Op de Beeck (<a href="mailto:maarten.opdebeeck@uantwerpen.be">maarten.opdebeeck@uantwerpen.be</a>)
        </li>
        <li>
            Mire. Coordinator: Maarten Op de Beeck (<a href="mailto:maarten.opdebeeck@uantwerpen.be">maarten.opdebeeck@uantwerpen.be</a>)
        </li>
    </ul>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 8 })</p>
    <h2>WG Soil climate</h2>
    <p>Soil temperature, soil water content, groundwater level and soil heat flux: methods, design, sensors and maintenance.</p>
    <p>Coordinator: Bert Gielen (<a href="mailto:bert.gielen@uantwerpen.be">bert.gielen@uantwerpen.be</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 9 })</p>
    <h2>WG Radiation components</h2>
    <p>Radiation components such SW, LW and PPFD, incoming, outgoing and net, diffuse and direct, above and below canopy: methods, design, sensors and maintenance.</p>
    <p>Coordinator: Sebastien Biraud (<a href="mailto:SCBiraud@lbl.gov">SCBiraud@lbl.gov</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 10 })</p>
    <h2>WG Precipitations</h2>
    <p>Total precipitation, rain and snow precipitations, snow depth: methods, design, sensors and maintenance.</p>
    <p>Coordinator: Sigrid Dengel (<a href="mailto:sigrid.dengel@helsinki.fi">sigrid.dengel@helsinki.fi</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 11 })</p>
    <h2>WG Lateral Fluxes</h2>
    <p>This WG includes all the lateral fluxes and their causes and impacts. Exports due to harvesting and grazing, inputs such amendments and residuals management, soil disturbances and more in general all the biotic and abiotic disturbance effects are considered, including the site history and description. For this reason the WG (coordinated by Matthew Saunders) is organized in six sub-groups strongly interconnected:</p>
    <ul>
        <li>
            Site characterisation (history, fetch, maps, inventories). Coordinator: Matthew Saunders (<a href="mailto:saundem@tcd.ie">saundem@tcd.ie</a>)
        </li>
        <li>
            Export (harvesting and grazing). Coordinator: Sigrid Dengel (<a href="mailto:sigrid.dengel@helsinki.fi">sigrid.dengel@helsinki.fi</a>)
        </li>
        <li>
            Site amendments (fertilisation, liming, herbicide/pesticide/fungicide, residue management, irrigation). Coordinator: Christine Moureaux (<a href="mailto:christine.moureaux@ulg.ac.be">christine.moureaux@ulg.ac.be</a>)
        </li>
        <li>
            Soil disturbance due to management (tillage, sowing/planting, rolling, drainage, land use change). Coordinator: Matthew Saunders (<a href="mailto:saundem@tcd.ie">saundem@tcd.ie</a>)
        </li>
        <li>
            Biotic disturbance events (insects, disease, pathogens). Coordinator: Leonardo Montagnani (<a href="mailto:leonardo.montagnani@unibz.it">leonardo.montagnani@unibz.it</a>)
        </li>
        <li>
            Abiotic disturbance events(extreme climatic events e.g. water [drought/flooding], wind, fire). Coordinator: Matthew Saunders (<a href="mailto:saundem@tcd.ie">saundem@tcd.ie</a>)
        </li>
    </ul>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 12 })</p>
    <h2>WG Phenological camera</h2>
    <p>Phenological camera or webcam for quantitative and qualitative data, including data processing</p>
    <p>Coordinator: Lisa Wingate (<a href="mailto:l.wingate@ed.ac.uk">l.wingate@ed.ac.uk</a>).</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 13 })</p>
    <h2>WG Data Processing</h2>
    <p>Eddy covariance and meteorological data processing, from raw data to synthesis products, including uncertainty estimation. The working group didn't start yet the activity.</p>
    <p>Coordinator: Dario Papale (<a href="mailto:darpap@unitus.it">darpap@unitus.it</a>).</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 14 })</p>
    <h2>WG QAQC and multiple constraints</h2>
    <p>Development of tool for QAQC of all variables. The working group didn't start yet the activity.</p>
    <p>Coordinator: Maarten Op de Beeck (<a href="mailto:maarten.opdebeeck@uantwerpen.be">maarten.opdebeeck@uantwerpen.be</a>).</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 15 })</p>
    <h2>WG CH<sub>4</sub> and N<sub>2</sub>O EC measurements</h2>
    <p>Definition of setup, sensors and maintenance for CH<sub>4</sub> and N2<sub>O</sub> eddy covariance fluxes measuremetns.</p>
    <p>Coordinator: Eiko Nemitz (<a href="mailto:en@ceh.ac.uk">en@ceh.ac.uk</a>).</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 16 })</p>
    <h2>WG non-CO<sub>2</sub> manual chamber measurements</h2>
    <p>Definition of standard methods for non-CO<sub>2</sub> fluxes measurements (mainly N<sub>2</sub>O and CH<sub>4</sub>) using manual chambers, including the fluxes calculation.</p>
    <p>Coordinator: Ralf Kiese (<a href="mailto:ralf.kiese@kit.edu">ralf.kiese@kit.edu</a>).</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 17 })</p>
    <h2>WG measurements over Water Bodies</h2>
    <p>Definition of standard methods for fluxes and meteorological measurements, including the fluxes calculation, over water bodies such lakes and sea.</p>
    <p>Coordinator: Ivan Mammarella (<a href="mailto:ivan.mammarella@helsinki.fi">ivan.mammarella@helsinki.fi</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 18 })</p>
    <h2>WG measurements over Urban Areas</h2>
    <p>Definition of standard methods for fluxes and meteorological measurements, including the fluxes calculation, over urban areas.</p>
    <p>Coordinator: Andreas Christen (<a href="mailto:andreas.christen@meteo.uni-freiburg.de">andreas.christen@meteo.uni-freiburg.de</a>)</p>
    <p>@Html.ActionLink("More info and people registered","WorkingGroup","Home", new { WGId = 19 })</p>
</div>